[2013-02-27 20:06] tizzo opened #1 "Failed to install on OS X 10.7.5"
When I ran on 10.7.5 I got the following output. Am I missing an undocumented dependency or is it maybe time for me to upgrade to mountain lion?

[code]

[2013-02-27 22:02] #1 closed, assigned to nobody

[2013-02-27 22:13] tizzo opened #3 "Fatal errors"
Now that I can compile the module (re: #1 and #2) I'm having fatal errors.

My app is just:

[code]

And when I run it I get:

[code]

I haven't yet had time to debug. This is running on OS X 10.7.5 and node v0.8.12.

[2013-03-14 13:16] sandeepmistry opened #4 "Error installing on node 0.10.0"
Reported by Ulf Söderberg:

  CXX(target) Release/obj.target/binding/src/Noble.o
../src/Noble.cpp:64:3: error: no matching function for call to 'uv_queue_work'
  uv_queue_work(uv_default_loop(), req, NULL, Noble::HandleXpcEvent);
  ^~~~~~~~~~~~~
/Users/ulf/.node-gyp/0.10.0/deps/uv/include/uv.h:1397:15: note: candidate
      function not viable: no known conversion from 'void (uv_work_t _)' to

[2013-03-14 23:20] #4 closed, assigned to sandeepmistry

[2013-03-25 04:35] mrose17 opened #5 "thank you, question, and query"
hi. one of the things that impresses me about node.js is that every time i think i'm going to have to write a module to do something, there's a module already written! thank you for doing BLE!

i am able to compile/load the module fine on my macbook pro running 10.8.3 - however, when i run the test script, after the usual:

noble
on -> stateChange: poweredOn
on -> scanStart

it found my cookoo wat

[2013-03-25 16:09] #5 closed, assigned to nobody

[2013-03-26 18:07] mrose17 opened #6 "linux support"
have you made any decisions on linux support? i'm probably going to be doing some work on a rasberry pi in a few months, and i'd like to use the noble package, so when you have decided on things like drivers, usb dongles, etc., please give a shout out!

thanks!

[2013-03-26 22:57] #6 closed, assigned to nobody

[2013-03-31 01:39] mrose17 opened #7 "doing a "deep" scan"
if you so choose, at https://dl.dropbox.com/u/12083198/hone.zip you will find a .zip file containing a bunch of PNG files captured from lightblue when talking to a hone -- http://gethone.com -- a BLE keychain fob.

i tried to write a small test program (in the .zip file) to do a deep scan of the hone in order to build up the same dictionary shown (in multiple screens) by lightblue.

most of the te

[2013-04-02 05:15] #7 closed, assigned to nobody

[2013-04-02 16:22] mrose17 opened #8 "what happens when peripheral() fails?"
which callback gets invoked?

thanks!

/mtr

[2013-04-03 04:14] #8 closed, assigned to nobody

[2013-04-06 18:01] DavidDurman opened #9 "AT commands"
First of all, thanks a lot for your BLE module!
I was able to connect to my Panasonic PAN1720 module (http://www.panasonic.com/industrial/electronic-components/rf-modules/bluetooth/pan1720.aspx).

I have a question, potentially dummy as I'm new to Bluetooth and electronics in general. Q: How can I send AT commands to my module?

I tried to connect the module via noble, then use ZTerm to connect to

[2013-04-14 02:42] mrose17 opened #10 "just fyi"
1. the blink(1) has some competition ... http://blinkstick.com ... i've ordered some of both

the blinkstick guys have a python api on github. i imagine that i, or someone more clueful, will be doing a node.js api soon.
1. i got my TI CC2541 sensor tag kits today, but probably won't be unboxing them for about a week. does it really have all these sensors:

IR temperature Sensor
Humidity Sensor
Pre

[2013-04-14 14:37] #3 closed, assigned to nobody

[2013-04-14 14:37] #9 closed, assigned to nobody

[2013-04-15 02:45] #10 closed, assigned to nobody

[2013-05-13 06:43] hongkongkiwi opened #11 "Fails to work on Mac OSX 10.8.2"
I'm having a problem running your test.js code, the adaptor always shows unsupported as the status. It correctly shows poweredOff however, but when powering back on it just shows unsupported.

Here's the debug output:

[code]

[2013-06-01 16:50] #11 closed, assigned to nobody

[2013-07-09 07:08] masoncj opened #13 "Can't write more than 19 bytes?"
Thanks for Noble!  It's awesome.

I don't seem to be able to write more than 19 bytes in a single Buffer:

[code]

Given this:

[code]

works, but

[code]

and above never invoke the write callback and data never makes it to device.

I understand that the MTU for most implementations is 22 bytes.  However, my reading of the spec, and of the docs for bluetooth stack I'm using on my device (NRF51822

[2013-07-10 16:59] #13 closed, assigned to nobody

[2013-07-18 20:50] max-mapper opened #14 "how to implement a peripheral"
Hi, sorry if this question is poorly worded

Instead of using noble to scan for peripherals, do you know if there is a way with node to run a server that noble can connect to? e.g. for connecting two laptops

[2013-08-08 05:17] bugs181 opened #15 "No devices detected."
Just installed the module, loved the idea of having bluetooth enabled in node.js. Would especially come in handy once my pre-order for the Pebble comes through. ;) For now though, I figured I'd do a little research into implementing bluetooth.

As the title states, there are no devices detected. Everything installs / compiles fine with no warnings or errors. Here is some information to help you -

[2013-08-09 08:25] #15 closed, assigned to nobody

[2013-08-20 10:50] pacmac opened #16 "Arch / Arm"
Hi;

I have just attempted an install on arch/arm/raspberry pi and the install succeeds without error (afrer installing dbus-glib and node dbus npm install dbus), however when I run test.js I receive the error "no module named dbus", however dbus is definitely installed:

[code]

Any suggestions ?

[2013-08-20 11:17] pacmac opened #17 "search & pairing with passcode"
I am looking for a simple node module that allows me to search and pair Bluetooth Serial Ports (SP) peripherals, that's pretty much all I need to do.

Is it possible to search for and pair a peripheral which has a passkey using noble ?

Many Thanks

[2013-08-20 11:22] #16 closed, assigned to nobody

[2013-09-05 05:22] glenmurphy opened #19 "Scanning only works when also running hcitool lescan"
If I run bluez-scanner.py, it echoes "Adapter: PoweredOn", then sits there doing nothing; it shows none of my devices until I then do a "sudo hcitool lescan" in a separate terminal window, at which point both hcitool and bluez-scanner simultaneously show the devices.

This is on a headless RPi using bluez 4.101; it was set up using the Noble installation instructions plus a "sudo apt-get install b

[2013-09-05 21:46] jeffizhungry opened #20 "unicode decoding issue"
ERROR:
UnicodeDecodeError: 'ascii' codec can't decode byte 0xd0 in position 0: ordinal not in range(128)

FIX:
in file "noble/bin/bluez-scanner.py"
line 23
change       name.encode("utf-8")         to        name.decode("utf-8")

[2013-09-06 06:17] #19 closed, assigned to nobody

[2013-09-08 18:08] #20 closed, assigned to nobody

[2013-09-08 18:08] #17 closed, assigned to nobody

[2013-09-11 13:18] vincentsaluzzo opened #21 "xpcError: connection interrupted"
Hi,

I try a little script on my MacBookPro Retina :

[code]

But when I try to execute the script I have an error : "xpcError: connection interrupted". Here is the exact output on my computer :

[code]

Nothing append after this. But I'm pretty sure I have a peripheral device activated in the proximity of my computer.

[2013-09-11 14:56] #21 closed, assigned to nobody

[2013-09-11 16:03] vincentsaluzzo opened #22 "Peripheral discovery issue of iOS background app"
I have created two iOS apps : a central and a peripheral.
I want trying the advertising feature of peripheral when the app is in background.

So when the two app are in foreground, the central detect peripheral,
When the peripheral are in background, the central also detect peripheral.

No I created a noble NodeJS script which scan for the given service UUID.

when the peripheral are in foreground

[2013-09-20 15:02] vincentsaluzzo opened #23 "Can't discover peripheral"
All is in the comments...

[code]

This simple piece of code doesn't work even on Linux than OSX...

[2013-09-22 10:44] #23 closed, assigned to nobody

[2013-09-25 18:15] holmesal opened #24 "rssi updates on linux"
I've been having a blast hacking around with noble on a raspberry pi. I noticed that RSSI updates aren't yet supported (that, or all of my devices have an RSSI of 127 :) - any plans to implement this in the future? This would be really useful for sensing the presence/proximity of BLE devices.

[2013-10-03 00:21] #24 closed, assigned to nobody

[2013-10-03 15:15] holmesal opened #25 "RangeError on discover - Trying to access beyond buffer length"
This error seems to be thrown when this Flex is discovered:

[code]

Here's the hci-ble debug logs for that device, immediately before the error is thrown:

[code]

Strangely, this Flex seems to have been discovered without error in an earlier scan:

[code]

Any idea what's going on here?

[2013-10-09 23:07] mrose17 opened #27 "on the RPi, noble sees my MBP as a peripheral"
i wouldn't have thought that possible, but it did...

any ideas?

thanks!

[2013-10-10 00:40] #27 closed, assigned to nobody

[2013-10-14 03:05] brunano21 opened #28 "Cannot read property 'advertisement' of undefined"
Hi
I'm trying to use your noble and when i try to run advertisement-discovery, I received always this error. Could you help me?

sudo node advertisement-discovery.js
peripheral discovered:
        hello my local name is:

./node_modules/noble/examples/advertisement-discovery.js:19
  console.log('\t\t' + peripheral.advertisement.localName);
 ^
TypeError: Cannot read property 'advertisement' of unde

[2013-10-16 11:11] mooglin opened #29 "Interpreting proximity?"
I have been using my RasPi to act as an iBeacon with the new iOS 7 APIs.

I'm trying to figure out if it's possible to also use the RasPi to detect other beacons in the area, similarly to how it's done on iOS7.

I see in some of the examples there is a `peripheral.txPowerLevel`. Is it possible to monitor this and use it to interpret distance? Are there other parts of this problem that I'm missing?

[2013-10-16 18:14] plkumar opened #30 "Advertising as a iBeacon device/"
is it possible to advertise as a iBeacon device, can you provide sample code

[2013-10-17 12:55] #29 closed, assigned to nobody

[2013-10-18 13:22] vincentsaluzzo opened #31 ""servicesDiscovered" event error"
In your Readme file you say the event to listen when service are discovered is `servicesDiscovered` but it's a fault, in fact it is `serviceDiscover`

Please correct them

[2013-10-20 18:54] mooglin opened #33 "Connecting to a peripheral?"
On my linux box I will discover a peripheral but then if I try to connect it will connect and get disconnected immediately.

On my mac I will discover a peripheral but then if I try to connect it throws an error

[code]

I'm likely misunderstanding something, any help is much appreciated.

Thanks!

[2013-10-21 09:47] vincentsaluzzo opened #34 "Characteristic Reading max value"
Hi,

I'm trying to create dynamically a characteristic when authentification process will be done with Central and Peripheral: some reading and writing string.

After the auth was good, I create a new characteristic and pass the UUID of this characteristic in the reading of validation characteristic. But the problem was here : the UUID seems to be too long to be passed in characteristic.

Here the

[2013-10-21 09:51] #22 closed, assigned to nobody

[2013-10-21 09:51] #31 closed, assigned to nobody

[2013-10-21 14:06] #30 closed, assigned to nobody

[2013-10-21 15:15] f14c0 opened #35 "adapter state unauthorized"
I was running an old version of noble, over Linux and everything was ok, so until i updated noble, i get this error on terminal.

noble warning: adapter state unauthorized, please run as root or with sudo

i  run with sudo but it still no works, neither

advertisement-discovery.js

[2013-10-22 21:12] #33 closed, assigned to nobody

[2013-10-23 14:21] #35 closed, assigned to nobody

[2013-10-23 14:22] #28 closed, assigned to nobody

[2013-10-23 14:23] #25 closed, assigned to nobody

[2013-10-23 14:24] sandeepmistry opened #36 "OS X Mavericks not working"
XPC constants have changed with OS X 10.9, need to find the new constants and update noble.

[2013-10-25 15:11] #36 closed, assigned to nobody

[2013-11-04 01:58] cobookman opened #37 "noble - mavericks, can't write to "write without response" characteristic"
Cannot write to the RedBear labs Bluetooth Shield on OSX Mavericks, where-as the lightblue iphone app is able to.
`writeCharecteristic.write(new Buffer([0xFF, 0x01, 0x22]), false, function(descriptors) {});`
where writeCharacteristic is:

[code]

[2013-11-08 14:47] #14 closed, assigned to nobody

[2013-11-08 18:55] #34 closed, assigned to nobody

[2013-11-18 16:49] vincentsaluzzo opened #38 "timeout ?"
Hi,

Not really an issue but a question.

I have make a peripheral on my iPhone and when I try to connect to from my noble script, all seems good but after 5 seconds, i'm always disconnected (timeout??)

I have try with a LightBlue on my desktop and LightBlue wasn't disconnected.

In fact, I need to read regularly RSSI on the peripheral to determine when the iPhone is close to the linuxbox.

[2013-11-19 14:39] vincentsaluzzo opened #39 "ExchangeMtu"
[code]

[2013-11-19 14:47] vincentsaluzzo opened #40 "Reset duplicates array ?"
Hi,

I want detect people who enter in room with Bluetooth 4.0.

allowDuplicate at true allow to detect easily if someone enter or exit from the room but when I try to connect to this device with my noble script, the discovering of this device already appear 3 or 4 times before connect was good and it seems to broke bluetooth on my linux distro.

allowDuplicate at false haven't this problem, but i

[2013-11-19 15:23] vincentsaluzzo opened #41 "l2cap-ble never exit ?"
[code]

[2013-11-19 15:23] vincentsaluzzo opened #42 "var hasScanServiceUuids = (this._scanServiceUuids.length === 0);"
[code]

[2013-11-23 02:00] michael-wi opened #43 "connect on OSX does not return if peripheral is already connected"
Hi, it seems that connect function for Marverick does not have a timeout or is checking if a peripheral is already connected. So if a peripheral is already connected and it is called again noble never returns.

[2013-11-23 19:11] #41 closed, assigned to nobody

[2013-11-23 19:13] #39 closed, assigned to nobody

[2013-12-04 07:09] masoncj opened #44 "Characteristic write on raspberry pi?"
I have an [existing app](http://hg.cmason.com/nrf/src/tip/web/app.js) based on noble that's working great on MacOS X.  I'm trying to get it running on a raspberry pi.  The basics of connecting work, but when I try to send binary data, it seems scrambled.  The data is [generated in the browser](http://hg.cmason.com/nrf/src/tip/web/public/javascripts/usvg.js) in both cases, so I think the data is co

[2013-12-09 16:52] mrose17 opened #45 "request for info on connect"
1. if i do peripheral.connect(f), how is a timeout handled?
2. it looks like peripheral.on('connect', f) is a no-op, and that peripheral.connect(f) should be used instead. is that the intended behavior?

thanks!

[2013-12-09 21:58] #45 closed, assigned to nobody

[2013-12-11 15:44] pakastin opened #46 "Using on device hci1"
Is it possible to use Noble on device hci1 and not hci0?
I have two bluetooth devices..

[2013-12-11 23:33] mrose17 opened #47 "what might this be?"
i was running flower-power-tarp.js on my mac (OS X 10.8.5) with the latest noble after about 24 hours, i got this:

% node flower-power-tsrp.js
listening on en0 for multicast udp://224.192.32.20:22601

[code]

/Users/mrose/Documents/projects/node-flower-power/node_modules/noble/lib/noble.js:110
  peripheral.emit('connect', error);
             ^
TypeError: Cannot call method 'emit' of undefined

[2013-12-12 22:09] #46 closed, assigned to nobody

[2013-12-12 22:56] #40 closed, assigned to nobody

[2013-12-14 09:20] mrose17 opened #48 "OS X 10.8.5 / noble 0.2.4 / node-lumen current steward = strange behavior and crash"
first thing i noticed is that the discover event is called TWICE for each device. so, i put in a check that after the first time, i'd just return immediately. however, more importantly after invoking Lumen.discoveryServicesAndCharacteristics, the 'connect' event handler is invoked a second time (inside noble) resulting in the crash below. note that you will need to copy node-lumen to steward/stewa

[2013-12-14 22:20] #48 closed, assigned to nobody

[2013-12-22 16:32] #38 closed, assigned to nobody

[2013-12-22 16:33] #44 closed, assigned to nobody

[2013-12-26 15:46] #42 closed, assigned to nobody

[2014-01-13 23:54] tomkubitza opened #49 "writeHandle() parameters?"
Hi,
firstly, thanks a lot for you great work!

I was wondering how a concrete writeHandle() command would look like?

After having connected I wasn't successfully with the following parameters yet:

[code]

The following screenshot shows the characteristic I would like to write 3 Bytes into (Handle 0x0017):

![blehandlewrite](https://f.cloud.github.com/assets/5929579/1906054/72726bc8-7ca8-11e3-8e6

[2014-01-17 10:54] dragom opened #51 "exchange mtu happens async and sometimes freezes program flow"
https://github.com/sandeepmistry/noble/blob/master/lib/linux/bindings.js#L99
Shouldn't connect emit happen only when mtu exchange is finished?

[2014-01-21 21:38] markruys opened #52 "flower-power on Maverick"
I'm not sure if this is a Mavericks, a flower-power or a noble issue, but I guess noble... I have troubles reading out a Parrot Flower Power BT 4 device:

[code]

I installed the lib via npm install flower-power.

This is a debug trace: http://pastebin.com/VTV8Kyu4

It would be great if I got a clue how to fix this... Thanks.

[2014-01-23 14:55] pdominique opened #54 "Only 2 beacons discovered with the test application"
When I run advertisement-discovery.js example only 2 beacons are discovered even if more beacons are in proximity. I use 2 iPhones with the Locate iBeacon app to act as beacons. The first 2 beacons are discovered but then if I disable one and simulate a new one (different UUID) the new one is not discovered by the node.js app (I get notifications on the iPhones as expected).

I use a Raspberry Pi

[2014-01-27 14:38] #54 closed, assigned to nobody

[2014-01-29 22:31] empinator opened #55 "Can't detect peripheral's service"
Hi,

first I tried to figure it out myself, thinking it would be my machine setup, but I am stuck for a couple of days now and hoping that I get a push into the right direction

I have two machines
1) Rasperry PI Model B, Kernel 3.10.27+, Bluez 5.8, BLE Dongle, NodeJS v0.10.24
2) ThinkPad T400s, Kernel 3.5.0-45-generic, Bluez 5.8, BLE Dongle, NodeJS v0.10.25

All I did so far was running
bleno's t

[2014-02-01 13:42] #55 closed, assigned to nobody

[2014-02-16 18:34] #47 closed, assigned to nobody

[2014-02-16 18:34] #49 closed, assigned to nobody

[2014-02-16 18:53] #43 closed, assigned to nobody

[2014-02-23 06:57] marcoeg opened #57 "estimote beacons not discovered"
I am not sure this is an issue. I am running the advertisement-discovery.js example on Mac OS Maverick and with 3 Estimote in range but no output.

The test.js log:
noble
on -> stateChange: poweredOff
on -> scanStop

I wonder if there is something wrong with my setting. It is a MacBook Pro with built-in Bluetooth ON.

Thanks.

[2014-02-24 15:55] #57 closed, assigned to nobody

[2014-02-25 09:59] taxomania opened #58 "Unstable connections to iOS devices on Raspbian"
I'm not sure if this is an issue with noble or bluez, but I've found my connections to iOS peripherals are constantly dropping, particularly when I move the devices around a little. I've tested the connections between two iOS devices and the connections were much more stable. This has been the case with both bluez 4.99 and bluez 5.14 installed on the machine.

Any info would be appreciated.
Thanks

[2014-02-25 13:30] #58 closed, assigned to nobody

[2014-03-03 19:41] stozk opened #59 "BLE discovery keeps adding up devices..."
Hi,

I'm quite new to this so maybe the solution to my problem is trivial.
I wrote this simple code to run a BLE discovery for 2 seconds every 3 seconds (timing for testing).

var noble = require('../index');

function startscan() {noble.on('discover', function(peripheral) {
  console.log(peripheral.uuid + ' ' + peripheral.advertisement.localName);
});}

function stopscan() {
noble.stopScanning();

[2014-03-04 12:40] #59 closed, assigned to nobody

[2014-03-07 06:13] #37 closed, assigned to nobody

[2014-03-17 10:42] jewkesy opened #61 "UUID Returning as hash on OSX"
I have my code running fine on Ubuntu 12.04, detecting my FitBit Flex and returning the correct UUID.

However I've just ran my code on my MBP (running OSX 10.8.5), and I get hash values for the peripheral.uuid.

Is there something I need to set in my code when running on the MBP?  I'm using the same BLE dongle in both instances.

This is a sample output from Ubuntu: -
  uuid: 'dd40051bf555',
  ad

[2014-03-19 08:05] #61 closed, assigned to nobody

[2014-03-20 08:23] devans1964 opened #62 "RSSI Update Issue"
I am trying to get notified from Noble when RSSI updates.  Simple test code is below

var noble = require('noble');
noble.on('stateChange', function(state) {
  if (state === 'poweredOn' ) {
    //noble.startScanning([],true);
    noble.startScanning([],false);
    console.log('Started Scanning');
  } else {
    noble.stopScanning();
  }
});

noble.on('discover', function(peripheral) {
  console.lo

[2014-03-25 17:31] johnnyman727 opened #63 "Warning when bluetooth is turned off on OS"
There should be some kind of warning if there is an attempt to use BLE capabilities when BLE is turned off on a system-wide level.

[2014-03-25 18:56] johnnyman727 opened #64 "Turning on Indications"
Is it possible to turn on indications to a remote characteristic (ie. same as notifications but they require an ACK from the GATT Client)?

[2014-04-16 08:38] ajitam opened #65 "Connect/disconnect or stay connected?"
(this is a question/discussion, but I didn't know where else to put it)

I'm not show which 'logic' is better.
Let say I new to constantly check peripherals in my (central) proximity. They can leave area and come back.
Do I connect to peripheral and (in interval) check it RSSI or do I connect to peripheral check RSSI and disconnect. From the Apple developer keynote I got the vibe second is prefera

[2014-04-22 09:02] #62 closed, assigned to nobody

[2014-04-24 17:49] DayBr3ak opened #66 "Can't install on ubuntu 13.10 with npm"
I can't install Noble on my ubuntu 13.10 with npm. I get

[code]

I think it uses the command `node` and not `nodejs` ?

[2014-04-25 23:58] intellent opened #68 "npm install fails with exit status 8"
First of all thanks for your efforts. This really looks like a promising module for BLE.

Just tried to install on Raspberry Pi via `npm install noble` and I got the following error. Any idea, what could have gone wrong?

[code]

`Cannot find module '/root/node-bluetooth/node_modules/noble/install.js` is kind of odd. I checked /root/.npm for the noble module and install.js. Everythings seems to be

[2014-04-26 22:37] #68 closed, assigned to nobody

[2014-05-15 08:03] wolfeidau opened #69 "Just a query on why not native bindings?"
Just been digging under the covers a bit and I noticed this library spawns a couple of processes to manage the comms with BLE devices.

Is there a reason you didn't just write native bindings?

Cheers

[2014-05-15 23:31] #69 closed, assigned to nobody

[2014-05-17 16:42] #51 closed, assigned to nobody

[2014-05-22 19:27] max-mapper opened #70 "suggestion on how to transfer a file over noble"
hi, I am pretty n00b at BLE but I was wondering if it is possible to do TCP style file transfer over a bleno/noble bridge

[2014-05-23 18:22] doganyazar opened #71 "Observer behaviour?"
Not exactly an issue but could not figure out how to implement an observer behaviour that listens for non-connectable advertisement messages (broadcasts).

[2014-05-24 01:52] johnnyman727 opened #72 "Can't Discover Tessel BLE Module"
Hey Sandeep,

I'm having trouble getting Noble to discover the Tessel BLE Module. The `discover` event never fires but if I connect to the module with another app (like LightBlue) and then disconnect, Noble spits out the following:
`noble: unknown peripheral 168fdd8177374202acfed775ef40dbc8 disconnected!`

Any suggestions?

[2014-05-29 15:30] ericbarch opened #73 "Device UUID not available on Linux, no Service UUIDs returned on OS X"
When running discovery on Linux, peripheral.uuid is the MAC address of the Bluetooth device. However, when running discovery on OS X, peripheral.uuid is the actual UUID of the device. Would it be possible to have Linux return the UUID rather than the MAC address?

Also on Linux I'm seeing the proper service UUIDs listed in advertisement.serviceUuids. With the same device on OS X, my advertisement.

[2014-05-30 13:57] SundayLab opened #74 "adapter state unauthorized"
Hi

i really like your work. My dongle is working fine everything works. I successfully tested it on my MacBook Pro. Now im running my code on an raspberry with weezy on it. I power it up manual scanning works and so on the dongle is also fine. But it keeps giving me that message. Do u have any advice for me ?

[2014-05-30 16:08] #74 closed, assigned to nobody

[2014-05-31 14:38] facultymatt opened #75 "Failed install on Mac"
I get the following error on install

[code]

Interestingly I get the same error when trying to install https://github.com/eelcocramer/node-bluetooth-serial-port. I've also opened an issue there: https://github.com/eelcocramer/node-bluetooth-serial-port/issues/31

[2014-06-01 12:27] #75 closed, assigned to nobody

[2014-06-02 19:42] facultymatt opened #76 "Trouble getting notified when device disconnects"
I have a sample app and the `peripheral.on('disconnect')` is not working as expected.

[code]

I would expect this would give me the message hello and goodbye as my bluetooth device moved in and out of range. The hello message works, but I never get a disconnect event.

Is there a better way to do this?

[2014-06-03 22:45] intellent opened #77 "How to stay connected to peripherals?"
Once I discover a peripheral, I connect to it and periodically check its RSSI. This works just fine. However, once the peripheral disconnects by going out of range or turning it off, how do I reconnect?

If I turn the peripheral on again, the discover event isn’t fired anymore (since it has already been discovered once, I guess). How do I handle this? I would think of something like: Once a periph

[2014-06-05 19:45] #77 closed, assigned to nobody

[2014-06-08 11:27] swook opened #78 "Allow setting of connection parameters on connect."
Various BLE devices require differing connection parameters.

noble however sets default parameters and offers no control to the user, disallowing control of latency between host and device.

Furthermore, noble's use of default parameters overrides the device's connection parameters on connect. So setting them on the device's firmware only helps after an undeterminable amount of time.

It would be

[2014-06-09 17:00] erossignon opened #79 "Trouble in mac/mavericks.js:"
Hello,
I have managed to install a bluetooth 4.0 LE dongle on a iMAC and connect to a TI SensorTag. BlueTooth Explorer can scan and connect to the LE device and browse the information.

I have got this error when trying to run the example:

[code]

[2014-06-10 02:37] #72 closed, assigned to nobody

[2014-06-20 04:33] #78 closed, assigned to nobody

[2014-07-01 09:12] DomiR opened #80 "Doesn't work on OSX 10.10. Scanning works, but service array is empty."
Maybe the names changed again, although I couldn't find anything in the API-Changelog for 10.10.

Keep up the good work! Is there a specific reason not to use bindings or something like this https://github.com/TooTallNate/NodObjC?

[2014-07-06 14:06] ndhunju opened #81 "characteristic.read() fails to read when called after characteristic.write()"
following code works fine, but first characteristic is read and then only data is written

[code]

so i did following

[code]

However, implementing this code reads nothing. Here is the output

Thanks in advance! :smiley:

[2014-07-07 02:20] #81 closed, assigned to nobody

[2014-07-14 17:53] czednick opened #82 "Connecting to known device without scanning"
If I understand correctly, I should be able to connect to a BLE device that's in a ~~connected~~ _disconnected and non-advertising state_ without re-scanning. e.g.
1. Scan and find device from master script.
2. Connect and then disconnect from device from master script.
3. In device script turn off advertising on first onConnected.
4. Exit master.
5. Restart master script and call (re)connect or (

[2014-07-22 16:37] #82 closed, assigned to nobody

[2014-07-22 16:40] czednick opened #83 "Changing the Connection Interval"
Is it possible via Noble to change the BLE connection interval? Thanks in advance!

[2014-07-22 23:27] programmarchy opened #84 "Windows Support"
Saw the readme, but wanted to bump this in issues to start a discussion:

Anyone currently working on a Windows 8 implementation?

[2014-07-31 04:51] bmiller59 opened #85 "TypeError: Cannot read property 'services' of undefined"
Hello. I am running in Mavericks trying to connect my sensortag as a node red module. I have enabled DEBUG=mavericks-bindings and I can see that it discovers and connect correctly and that there is a variety of message activity and then the following. The last debug message I added in the msg70 handler. It appears that the _peripherals object is empty for some reason, leading to the services prope

[2014-08-03 22:20] #76 closed, assigned to nobody

[2014-08-03 22:21] #73 closed, assigned to nobody

[2014-08-03 22:22] #71 closed, assigned to nobody

[2014-08-03 22:23] #70 closed, assigned to nobody

[2014-08-03 22:24] #66 closed, assigned to nobody

[2014-08-03 22:25] #65 closed, assigned to nobody

[2014-08-05 01:06] #64 closed, assigned to nobody

[2014-08-08 16:16] erwinkendo opened #86 "Reconnection issues for device with notifiable characteristics (Linux)"
Greetings

I am using noble-0.3.4 to connect to BLE enabled devices and collect it's characteristics once a notification is issued. I have enabled the repeated flag in startScanning function to implement reconnection feature.

I am facing 2 problems:
1) After reconnection, every time a notification is issued, I receive two or three notifications per characteristics (one extra for every time a reco

[2014-08-20 15:52] remydavid opened #87 "Service discovery issue"
Hello,

I use bleno to expose a service on a computer with a IOGear GBU521 USB dongle (bleno 0.1.5, node v0.10.30, BlueZ 5.21).
If I use Android (nRF Master Control Panel) or noble (on another computer), my service is not discoverable. If I use an iPhone (LightBlue), my service is discoverable.
If I switch the IOGear dongle for a Plugable BT4LE dongle, the problem disappear completely with both An

[2014-08-20 22:48] #87 closed, assigned to nobody

[2014-08-30 15:45] #80 closed, assigned to nobody

[2014-09-05 20:03] SunboX opened #89 "Install fails on Raspbian"
[code]

[2014-09-07 18:25] #86 closed, assigned to nobody

[2014-09-07 18:27] #85 closed, assigned to nobody

[2014-09-07 18:41] #89 closed, assigned to nobody

[2014-09-08 14:19] alnikk opened #90 "Connect without scanning"
Hi,

I would connect a sensorTag without pushing the button on the side and thus without being in discovery mode.

When I read your code I noticed the `nobleBindings.connect()` method which can provide that I want but this one depends on the previous scan (`this._addresses[peripheralUuid]` and `this._addresseTypes[peripheralUuid]`).

Do you think I could use this function if I know the uuid and su

[2014-09-09 13:51] alnikk opened #91 "Call methods on undefined variables"
Hi,

In files for example `l2cap_ble.js` or `noble.js` , there is call of methods on `undefined`. This cause application crash when the device brutally disconnects.

I can fix this issues in the same way you have done this before on #85, and make a pull request if you don't want to waste time to do it ?

[2014-09-09 18:48] emptyr1 opened #92 "Noble vs Bleno"
Hey Sandeep,
Very interesting work with Bleno and Noble.. I have been trying it out. I was working with this idea, and wanted to ask if I'm thinking right. Or your approach towards solving this.
My Aim: Imagine 10 people wearing this device and I want to know which device is close/proximity to which via BLE( both peripheral and central at the same time?).
1. I see noble(central module) and bleno(a

[2014-09-10 09:18] #90 closed, assigned to nobody

[2014-09-11 01:32] #92 closed, assigned to nobody

[2014-09-15 22:07] emptyr1 opened #93 "Running noble on Intel Galileo"
Hi,
I'm trying to run noble, on Intel Galileo(gen2). However, after much pain I was able to install noble. Intel galileo has Yocto Linux and has i586 architecture(seems libbluetooth-dev) is not exactly there with same name. Anyway, when I try to run the example 'node advertisement-discovery.js'. After a second, its returns back to the command line without any error or anything. Any idea why? Any h

[2014-09-17 10:00] #91 closed, assigned to nobody

[2014-09-19 14:25] isSatake opened #94 "Not working on USB Bluetooth dongle BT-Micro4"
BT-Mico4 : http://www.planex.co.jp/products/bt-micro4/spec.shtml

[2014-09-19 16:09] #94 closed, assigned to nobody

[2014-09-27 21:42] sweetpi opened #96 "npm install fails because of missing files entry in package.json"
Got this by doing `npm install`:

[code]

I think it is because you are missing a

[code]

entry in the `package.json`

[2014-09-30 05:25] #96 closed, assigned to nobody

[2014-10-06 16:09] matus-tomlein opened #97 "Reconnecting after the peripheral crashed fails"
I have a BLE peripheral implemented using bleno.js and a BLE client implemented using noble.js.
The bleno peripheral has a single service with a notify characteristic.

The problem is that the noble client can't reconnect to the bleno peripheral after the bleno peripheral crashed.

I have created sample noble and bleno applications to let you reproduce the issue. You can find them here:
https://gi

[2014-10-13 21:14] #79 closed, assigned to nobody

[2014-10-13 21:23] #93 closed, assigned to nobody

[2014-10-13 21:59] #52 closed, assigned to nobody

[2014-10-17 12:06] exmonkey206 opened #98 "Trouble installing"
Seems to be issues when installing (I have been able install other packages)

mcurtis1:back_bean mcurtis$ sudo npm install noble --save

noble install: platform is "darwin'
noble install: installing xpc-connection ...

Agreeing to the Xcode/iOS license requires admin privileges, please re-run as root via sudo.

Agreeing to the Xcode/iOS license requires admin privileges, please re-run as root via

[2014-10-17 14:05] #98 closed, assigned to nobody

[2014-11-05 23:10] otokunaga2 opened #99 "Any idea to implement didExit?"
Hi, thank you for your great library.
I have a simple question.
I want to implement a function didExit which detects a beacon moves from monitoring region to outside of that.
If you have any idea to implement above function, please tell me!

[2014-11-06 00:50] #99 closed, assigned to nobody

[2014-11-06 17:49] 1am opened #100 "Supported USB dongle"
Hello

I've tried noble on Edison board and I was wondering how this could be ported to a OSX computer. Since my mac doesn't support Bluetooth low energy out of the box but for using a Bluegiga's BLED dongle and python library https://github.com/jrowberg/bglib work fine I wonder how these two could be glued together? There's also a npm for the BLED device https://github.com/technicalmachine/bglib

[2014-11-09 17:48] #97 closed, assigned to nobody

[2014-11-10 04:00] tompropst opened #101 "'on disconnect' event handler duplicated each time a peripheral is discovered"
If I create a 'disconnect' event handler for a peripheral returned on a 'discover' event, that event handler is called once for every time that the peripheral has been discovered.  I'm not able to destroy the peripheral object and the associated 'disconnect' event handler between discoveries.  Any ideas?

I attempted to use the 'off' method but found it was not implemented for the peripheral objec

[2014-11-10 04:36] #101 closed, assigned to nobody

[2014-11-12 16:24] tompropst opened #102 "Segfault occurs on OS X Yosemite"
If I call startScanning() and do not call stopScanning(), what would cause the script to terminate?  My script usually will run indefinitely but does stop unexpectedly at times.  I suspect it could be related to connection reliability to discovered peripherals or lack of connected peripherals but I'm not always seeing disconnect events.
I am:
1. startScanning() and continue scanning for new / disc

[2014-11-12 21:01] k45514n opened #103 "Some confusion with Mac and writeWithoutResponse"
Hi,

I'm working on a BLE application, and I have a quick question: Is writeWithouthResponse actually implemented, or still on the roadmap?

If it isn't implemented, something needs to be added to throw an error, because currently the code hangs and never reaches the callback if you call characteristic.write() with withoutResponse set to true.

If it _is_ implemented, then there's an issue where t

[2014-11-14 02:18] #103 closed, assigned to nobody

[2014-11-17 14:23] hansamann opened #104 "connecting too many devices in short sequence results in connection error"
This happens on Raspberry PI with bluez and so far all tested BLE dongles that I have. I can coorectly connect to devices if the connting happens over time, but when I quickly connect to may like in a forEach loop, I get an exception:

Starting BLE scanning for 10 seconds.
(scan)found:hybris1062 - UUID: b4994c1ebb6b
(scan)found:hybris1050 - UUID: d03972e52478
(scan)found:hybris1061 - UUID: d03972c

[2014-11-20 09:03] Gtskk opened #105 "Get unsupported state"
Hi, when I run `DEBUG=hci-ble,12cap-ble node advertisement-discovery.js` in the terminal, I got the following output:

What't the problem? Thanks in advance.

[2014-11-25 03:35] sheepcloner opened #106 "Connect and read data from RFDuino"
Hi,
Noble seems like a neat library.

I am using [RFDuino](http://www.rfduino.com/) as my BLE device. All I am trying to do is keep a connection to it and read values it is transmitting. Eventually I will need to send values to it as well.

I am able to get Noble to discover device, but that is it. I can connect, but I am not sure what to do after I connect so I can receive the data RFDuino is sen

[2014-11-27 05:08] tompropst opened #107 "noble fails to install on Intel Edison Yocto Linux"
Would it be difficult to add support for this platform?  I'm happy to help anywhere I can.
The debug output is 353 lines.  I'll paste it here if needed.

Thanks

[2014-11-30 08:48] paultanner opened #109 "Continuous scanning"
My use case is that I have devices that come in and out of range and I want to be able to detect their coming and going.

This can be done with a bash script that uses "hcitool lescan  --duplicates" but that's very clunky and I would like to be able to do it with noble.  There will of course be duplicates but these can be handled in the application.

Perhaps a parameter could be added to noble.sta

[2014-11-30 16:02] #107 closed, assigned to nobody

[2014-11-30 18:50] #106 closed, assigned to nobody

[2014-11-30 19:13] #109 closed, assigned to nobody

[2014-11-30 19:27] #100 closed, assigned to nobody

[2014-12-02 12:50] vsnikkil opened #111 "Peripheral disconnects the device in connection"
Hello,

I am connecting to a peripheral but it disconnects the noble in the connection (GATT server sends the disconnection I think). Noble doesn't notice this and gets stuck:

[code]

How to prevent noble from getting stuck?

Thanks, Vesa

[2014-12-06 01:41] mhle opened #113 "Cannot install with node-webkit > 0.8.6 because of node-xpc-connection dependency"
Hi,

xpc-connection dependency required on OSX does not seem to build correctly for node-webkit > 0.8.6.

Please see https://github.com/sandeepmistry/node-xpc-connection/issues/5

Any help would be highly appreciated.

Thanks,

Michael

[2014-12-06 16:08] #105 closed, assigned to nobody

[2014-12-11 10:21] ghost opened #114 "Install fails on Raspbian"
My develop enviroment is following.
- rasbian 3.12.28+ armv6l
- Node.js v0.10.24

And I have already installed  bluetooth, bluez-utils and libbluetooth-dev.

But I encountered following error, when i try to install "noble" from npm.

[code]

[2014-12-18 00:50] edgarsilva opened #115 "Changing linux implementation to use btle."
Hi,

We are thinking on changing the Linux implementation to use [btle](https://github.com/jacklund/btle.js) instead of the two compiled tools it uses now (l2cap and hci).

This in order to improve performance, stability and reliability, since spawning these processes and piping them creates inconsistent behavior and drops, besides they are not really async calls, which causes more issues.

What d

[2014-12-24 00:37] rigado opened #116 "Characteristic.write callback not executed on OS X Mavericks"
Hi Sandeep,

I am using noble and OS X to test our device firmware update implementation over BLE.  Oddly enough, it works fine on Linux but not so much on OS X.  Essentially, I have a situation where the code writes some data to one characteristic, then the device responds via a notification on a different characteristic.  The characteristics where we write the data is the packet characteristic.

[2014-12-24 00:54] #114 closed, assigned to nobody

[2014-12-30 00:54] ozsaffer opened #117 "Connect to bluetooth le device that has pin code enabled"
Hi,

Great work on the library, it has been a lifesaver,

How do I connect to a bluetooth le device that has a pin code enabled. I have used gatttool in linux and passed the security flag and the pin code on the command line. Is there a parameter on the connection to pass the pin code?

Thanks

[2014-12-31 01:53] durlabh-insigmainc opened #118 "Unable to turn on notification"
We have a few BLE devices that have a service having 3 different characteristics. One of the characteristic has notify and read options. To enable notify on Android we enable notify on the characteristic and enable notification by writing [0x01, 0x0] on its descriptor. On Android and iOS, the notifications work fine and we continuously get data. However, in noble (on Debian), when we turn on notif

[2014-12-31 17:01] #118 closed, assigned to nobody

[2015-01-03 18:24] rwaldron opened #119 "npm install failure"
I've aleady read and tried the suggestions here: https://github.com/sandeepmistry/node-xpc-connection/issues/2

System:

- OSX 10.10.1
- node v0.10.35
- xcode-select version 2339

[code]

Contents of npm-debug.log:

[code]

[2015-01-04 15:29] sandeepmistry commented on #102
@tompropst thanks, it would be great if we can reproduce this faster (I haven't had time to try out your script for more than a few hours, as I only have one Mac).

[2015-01-04 15:39] sandeepmistry commented on #117
@ozsaffer noble relies on BlueZ's bluetoothd for pairing and security, currently there is no API to pass in the pin code or security flag. To enable security, you must access a characteristic that requires security.

You could try using ```bluetoothctl``` to set the pairing pin code. See: http://permalink.gmane.org/gmane.linux.bluez.kernel/46033

[2015-01-04 15:43] sandeepmistry commented on #119
@rwaldron looks like it's using the wrong header directory during the build. I'm also using OS X 10.10.1 and xcode-select version 2339.

Let's compare:

[code]
[code]

[code]

[2015-01-04 16:28] sandeepmistry commented on #116
This is blued issue, closing since it can't be fixed.

[2015-01-04 16:28] #116 closed

[2015-01-06 01:06] sandeepmistry commented on #113
Work done in https://github.com/sandeepmistry/node-xpc-connection/pull/6 by @francishart to use nan

@mhle please try latest noble

[2015-01-06 01:06] #113 closed

[2015-01-06 02:31] mhle commented on #113
Thanks Sandeep, I worked with Francis to fork noble and xpc-connection any chance we can get these changes into next version?

Thanks,

Michael

[2015-01-06 16:21] tompropst commented on #102
@sandeepmistry, I ran a few tests with various scanning / "resting" times. The issue definitely appears faster the more scanning you are doing so I recommend scanning continuously to get to the error as quickly as possible.  It may still take several hours in my experience.

If there is any more debug information that I can collect for you, just let me know.

[2015-01-07 00:00] sandeepmistry commented on #102
@tompropst I'll try it out over night ...

Is the following enough to reproduce?

[code]

Did you have a chance to look at the memory usage?

[2015-01-07 02:18] tompropst commented on #102
I will try running the above script now and monitor memory usage.  I believe it should exhibit the same issue.  I have looked casually at memory usage in the past and it was increasing over time but not an alarming amount.

[2015-01-07 03:00] sandeepmistry commented on #102
@tompropst going to start an overnight test now, included ```segfault_handler``` and logging date on discover as well.

[2015-01-07 11:44] sandeepmistry commented on #102
@tompropst no segfault yet, Activity Monitor reports node is using 11 MB of memory:

 * Real Memory: 7.8 MB
 * Virtual Memory: 2.91 GB
 * Shared Memory: 224 KB
 * Private Memory: 6.1 MB

I'll run again tonight with more devices in range.

[2015-01-07 19:29] rigado commented on #116
I have been able to get this to work.  Essentially what I had to do was enable write with response on the peripheral and then clear the local bluetooth GATT cache on my OS X machine.  I am curious though: Since CoreBluetooth does not provide a callback when a characteristic is written using WriteWithoutResponse, why is it that noble can't generate a callback after that write is performed?  In othe

[2015-01-07 22:52] sandeepmistry commented on #102
@tompropst still running on my Mac, left it on during the day. I am using noble 0.3.7 from source, which has been upgraded to using node-xpc-connect v0.1.0

[code]

[2015-01-08 11:46] sandeepmistry commented on #102
@tompropst still no segfault on my test, I haven't stopped the process from the overnight test.

Real Memory: 12.8 MB
Virtual Memory: 2.91 GB
Shared Memory: 224 KB
Private Memory: 12.1 MB

Also, added an Arduino device that advertises every 100ms.

[2015-01-08 12:37] callum opened #120 "node-webkit 'Module did not self-register'"
Re: https://github.com/sandeepmistry/noble/issues/113 https://github.com/sandeepmistry/node-xpc-connection/pull/6

Still not able to get it working with node-webkit 0.11.5 x64 on OS X and noble 0.3.7.

[code]

Unrelated?

[2015-01-08 14:35] callum commented on #120
Working by rebuilding xpc-connection with nw-gyp. Is that expected?

[2015-01-08 22:48] tompropst commented on #102
That's odd. The only difference I see is that I am calling ```startScanning()``` with no duplicates.  My Mac is also circa 2011.  Maybe it is an issue with that BT driver / HW.

I'm happy to keep working on this and can try to take a more active role since it only occurs on my system.  I'm OK with closing this too if you'd like.  My primary platform is Linux.

[2015-01-09 02:11] sandeepmistry commented on #120
@francishart @mhle any ideas on this?

[2015-01-09 02:12] sandeepmistry commented on #102
Have you done a fresh npm install of noble since upgrading OS X and/or node?

[2015-01-09 02:54] tompropst commented on #102
I haven't since a few days before opening this issue.  I started using noble on 11/7.  I haven't upgraded OS X since then but I can't say for sure about node.

I'll update now and run another test.

[2015-01-09 14:20] tompropst commented on #102
I updated to noble 0.3.7 last night and the test has been running for 11 hours with no crash. I'll leave it running as long as I can.

[2015-01-10 00:01] sandeepmistry commented on #102
Interesting, maybe the conversion to using NAN fixed something (see https://github.com/sandeepmistry/node-xpc-connection/pull/6)

[2015-01-11 15:22] sandeepmistry commented on #116
@rigado it could do this, I had to make a change to Yosemite because the event is no longer emitted (#103).

I'm still unclear as to how it would solve the problem that you have with your device. Wouldn't it still timeout + disconnect? As well as not receive the write without response request?

[2015-01-13 17:39] francishart commented on #120
@sandeepmistry we haven't experience this in our use of noble so I am not sure what would be causing it.

[2015-01-14 03:46] erwinkendo commented on #65
Greetings
Any news about the possibility of reconnect to BLE device without discovering services and characteristics?

[2015-01-14 09:12] Lahorde commented on #65
Hi,
I've added reconnection support in noble and used it in sensortag :
https://github.com/Lahorde/node-sensortag/blob/master/index.js
https://github.com/Lahorde/node-sensortag/blob/master/test.js

As you can see, sensortag characteristics are restored when reconnection is successful. Without this feature (reconnection + characteristic restoration), using a bluetooth object is quite unusable.

[2015-01-14 22:00] ecksun opened #121 "Running without UID=0"
I have long been annoyed that you require root to run anything with noble and I would like to be able go get away from it.

With that in mind I was able to figure out that if you give the binary/process the `CAP_NET_RAW` capability you do not need to run it as root.

[code]

I don't think this is anything that can be moved into noble, but at the very least we can change the error-message with info

[2015-01-14 23:20] jacklund commented on #115
My apologies for being so late in responding. Holidays plus work has been keeping me very busy.

I'd love to help out with this.

[2015-01-15 14:35] pwldp opened #122 "no txPowerLevel on OS X Yosemite"
Helo,
txPowerLevel for peripheral is undefined on OS X Yosemite on Mac Pro.
This is feature or error?

[2015-01-17 18:11] sandeepmistry commented on #120
@callum @francishart @mhle

Let's compare the steps you guys are using to setup/install nw.js (node-webkit) and noble.

[2015-01-17 18:17] sandeepmistry commented on #65
@erwinkendo, you could try commenting out: https://github.com/sandeepmistry/noble/blob/master/lib/linux/bindings.js#L128

and only creating a new L2capBle instance here, if one doesn't exist already: https://github.com/sandeepmistry/noble/blob/master/lib/linux/bindings.js#L77

This might keep the service/characteristic/descriptor to handle maps in l2cap-ble.js around in memory. Please try out if y

[2015-01-17 18:22] sandeepmistry commented on #121
@ecksun good suggestion!

Have you looked int creating a node.js utility script to run that during or after a build manually?

If you can't get that working, please submit a pull request for a change to the error message and instructions in the read me.

[2015-01-17 18:24] sandeepmistry commented on #122
@pwldp please run with debug on to see what CoreBluetooth is reporting for advertisement data, and provide the output:

[code]

noble can only report the data CoreBluetooth/blued provides in the discover event. Was this working for you on older versions of OS X?

[2015-01-17 19:47] ecksun commented on #121
I haven't looked into it any further, no, but Im not sure how any node.js code would help. To change capabilities you need to be UID=0, I guess you would create a postgyp (Im unfamiliar how the npm build system interacts with compiling c-code) script which does this.

On the other hand, I would personally be very worried if my installation of noble all of a suden required me to sudo.

Basically, I

[2015-01-18 01:46] erwinkendo commented on #65
@sandeepmistry Thank you, of course I will try it next monday and will let
you know :)

2015-01-17 13:17 GMT-05:00 Sandeep Mistry <notifications@github.com>:

--
Gracias

Erwin José López Pulgarín
Ingeniero Mecatrónico
Universidad Nacional de Colombia

[2015-01-19 09:12] pwldp commented on #122
I run script ```DEBUG=yosemite-bindings node txPowerLevel.js```:
[code]

And got debug:

[code]

[2015-01-20 00:27] erwinkendo commented on #65
Good Day
I made the changes you proposed, basically this in line 77:
[code]

and commented out https://github.com/sandeepmistry/noble/blob/master/lib/linux/bindings.js#L128

Partial results confirm that I can issue a connect function and notify a characteristic, but if I repeat this process a third time (try to re connect a second time) some unstable behaviour,  for instance the notify function se

[2015-01-21 10:54] francishart commented on #120
@mhle is the best one to talk to about this since he set it all up on our side. We do have a script that runs nw-gyp rebuild which does seem to match with what @callum is saying fixes it:
[code]
Hope that helps!

[2015-01-23 05:07] ayhoung opened #123 "stderror: execvp()"
I'm on debian/linux and noble was working perfectly yesterday. Unfortunately today I got this error: stderror: execvp(). any idea what's causing it?

[2015-01-23 05:31] ayhoung commented on #123
solved: for some reason, I was able to solve this by deleting my node_modules and npm installing again.

[2015-01-24 21:33] sandeepmistry commented on #121
@ecksun agreed.

I'm just thinking it would be nice to have a single line command users could run. Which would find ``hci-ble`` recursively in the current directory and run ``setcap`` on it.  For example, if someone is using ``node-sensortag`` which depends on noble, it would suggest running ``node`` as ``sudo`` or some other magic command that runs ``setcap``.

[2015-01-24 21:36] sandeepmistry commented on #122
@pwldp it doesn't look like your device is advertising a TX power level, so noble reports ``undefined`` - this is expected behaviour. Btw, what device are you using?

I would expect a ``kCBAdvDataTxPowerLevel`` key in ``kCBMsgArgAdvertisementData``.

[2015-01-24 21:36] #122 closed

[2015-01-24 21:43] sandeepmistry commented on #65
@erwinkendo thanks for trying it out, what peripheral were you using?

How quickly are you connecting after the disconnected event? If you run with debug on, I can take a look at the output: ```sudo DEBUG=l2cap-ble node <file.js>```

[2015-01-24 21:53] sandeepmistry commented on #120
@francishart  @mhle thanks for the clarification, that lines up with what I've read about on nw.js and nw-gyp.

You might be able to create an ``nw-noble`` package which depends on noble and runs the above post install.

[2015-01-24 21:53] #120 closed

[2015-01-24 21:55] sandeepmistry commented on #123
@ayhoung do you remember if you changed anything in between runs? Maybe you deleted ``hci-ble``.

[2015-01-24 21:55] #123 closed

[2015-01-26 02:19] seandoyle opened #124 "Having trouble starting on Raspberry Pi"
Hi -

I've been playing with noble reading heart rate monitors (a Polar H7 and a FitBit Charge HR) on an Ubuntu laptop (3.18.2-031802-generic) using a CSR USB dongle. It's working pretty nicely.  Now I'm trying to get this same library working on the Raspberry Pi and I think I have some version mismatches in the files - btmon shows zero activity when I try to connect to the heart rate monitors.

I

[2015-01-26 23:48] stewart opened #125 "Difficulties connecting to device on Yosemite"
Hi. Having some difficulty connecting to a device on OS X Yosemite. The device in question is an [Ollie](http://www.gosphero.com/ollie/).

Trying with latest Noble release, along with source. Checking down the tree shows the [correct method/message](https://github.com/sandeepmistry/noble/blob/master/lib/mac/yosemite.js#L188-L193) is being called/sent, but the callback is not triggered.

This preve

[2015-01-27 12:39] dermotos opened #126 "Fails to install via NPM on Raspberry Pi"
Attempting to install via `npm install noble` (both as regular and sudo)

Receive the following error:

npm install noble
|

noble install: platform is "linux'
noble install: running node-gyp ...
gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/0.10.35"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/home/pi/app/node_modules/noble/.node-

[2015-01-27 13:48] #126 closed

[2015-01-27 13:53] dermotos commented on #126
My mistake, missed your extra steps...
`sudo apt-get install bluetooth bluez-utils libbluetooth-dev`

[2015-01-27 21:25] alexeichhorn opened #127 "Unable to read data from iPhone (Intel Edison/Raspberry Pi)"
Hi,

I want to get the battery level of my iPhone with Bluetooth LE with my Intel Edison using noble. I want to read the data of characteristic 2A19 in service 180F (preinstalled in iOS). Now I could connect to the peripheral (iPhone) and could detect the service (180F) and the characteristic. But when I want to read the data of this characteristic, I get no respond. No error too. After some time

[2015-01-28 02:29] sandeepmistry commented on #127
@alexeichhorn is your Mac paired with your iPhone?

Just tried connecting my Nexus 7 (using nRF Master Control Panel app) to iOS (running LightBlue in peripheral mode), and was presented with a pairing prompt.

noble on Linux relies on BlueZ's bluetoothd for pairing. I'm haven't tried to setup pairing with my Intel Edison and iPhone, so don't have any instructions for this yet.

If you run with de

[2015-01-28 02:31] sandeepmistry commented on #124
@seandoyle let's start with running in debug mode, and see what the output is:

[code]

[2015-01-28 02:38] sandeepmistry commented on #125
@stewart looks like OS X is not reporting the expected connected event (kCBMsgId 38).

Things to try out next:

1) Try connecting to it via LightBlue for OS X or another CoreBluetooth OS X app

2) Try with older version of noble (0.3.6)

3) Capture data using Hardware IO Tools packet logger (see https://github.com/sandeepmistry/noble/issues/102#issuecomment-64121038 and https://github.com/sandeepm

[2015-01-28 03:01] seandoyle commented on #124
Thanks! I've put the output below together with hciconfig and a hcitool lescan.

$ sudo hciconfig -a
hci0:	Type: BR/EDR  Bus: USB
	BD Address: 00:1A:7D:DA:71:13  ACL MTU: 310:10  SCO MTU: 64:8
	UP RUNNING
	RX bytes:1158 acl:0 sco:0 events:63 errors:0
	TX bytes:1046 acl:0 sco:0 commands:63 errors:0
	Features: 0xff 0xff 0x8f 0xfe 0xdb 0xff 0x5b 0x87
	Packet type: DM1 DM3 DM5 DH1 DH3 DH5 HV1 HV2 HV3

[2015-01-28 03:14] sandeepmistry commented on #124
@seandoyle it's a bit strange the spawned ```hci-ble``` process ends after 392ms, it's suppose to run as long as node is running.

Things to try next:

1) ```sudo killall hci-ble```, then try the example advertisement-discovery.js

2) ```sudo hciconfig hci0 down && sudo hciconfig hci0 up```, then retry the example advertisement-discovery.js

3) Run ```sudo /home/pi/proxome/node/noble/lib/linux/../

[2015-01-28 03:32] seandoyle commented on #124
OK - I see the problem and I think that the main issue is that I'm very new to node. There was no build directory. I had cloned the files from github but I couldn't run a 'npm install noble' in this directory - I get the message 'npm WARN install Refusing to install noble as a dependency of itself
'.
So - I did this in another directory and saw that it did the compilation - but when I run test.js

[2015-01-28 12:24] alexeichhorn commented on #127
The log is:
[code]

about 20 seconds later:
[code]

I don't see any informations in these logs. I hope you'll see something ;) Thank you :)

[2015-01-28 21:34] vielmetti commented on #85
I'm seeing what I think is this very same error (OS X Mavericks), investigating.

[2015-01-28 23:54] sandeepmistry commented on #124
@seandoyle no worries

[2015-01-28 23:54] #124 closed

[2015-01-29 00:16] sandeepmistry commented on #127
@alexeichhorn definitely looks like a pairing issue.

Did you get a chance to check if your Mac is paired with you iPhone?

[2015-01-29 15:58] alexeichhorn commented on #127
@sandeepmistry I could connect from my mac with LightBlue to my iPhone and read the battery level. But it disconnected the iPhone after about 20 seconds (like Intel Edison does). Here's the log:
[code]

[2015-01-30 00:18] sandeepmistry commented on #127
@alexeichhorn from the log snippet above:

1) noble sends handle 0x001b
[code]

2) iOS device responds with error ATT_ECODE_AUTHENTICATION
[code]

3) noble upgrades security to medium
[code]

4) noble retries read handle 0x001b again
[code]

5) iOS device connects

1 - 4 is what I would expect from noble. The lower Linux implementation of noble is completely different from OS X. However, I'm not s

[2015-01-30 22:19] alexeichhorn commented on #127
@sandeepmistry Unfortunately it doesn't work. Still the same error. But I've tried to read a characteristic which I created on LightBlue (on iOS). This worked perfectly. It not even had to upgrade the security.
Probably only the built-in services of iOS have problems. With ANCS (node-ancs) I've the same problems.

I've found something in an Apple document:

Is Security Mode 4 equal to Security Lev

[2015-01-31 17:05] alexeichhorn commented on #127
@sandeepmistry I found out, that the problem occurs only in iOS 8. Unfortunately I couldn't find the reason, but I found an ANCS-Library for Arduino. In an update you could see the changes for iOS 8. It says:

disconnect right after connecting was a problem. I think there were
some things with services.h. I extended the delay before security was
required.

Can you change the delay in noble? I sear

[2015-02-02 12:01] vitorleal opened #128 "Problem with the writeHandle"
Hi,
first off all congratulation with the great job with this project!

Im having problems when doing a writeHandle in a specific handle (0x11). Im using Arduino with the [HM-13](http://www.fasttech.com/product/1827700-hm-13-dual-mode-bluetooth-4-0-ble-spp-le-serial) BLE module. When i send some data it not reaching the Serial Monitor in the Arduino, if i use the Bluetooth 2 in this module i can r

[2015-02-02 23:36] schnippe commented on #121
I run

    find -executable -path '*module/noble/build/Release/hci-ble' -exec echo sudo setcap 'cap_net_raw+eip' '{}'

[2015-02-03 00:24] sandeepmistry commented on #128
@vitorleal even though noble provides ```writeHandle``` API's on OS X, you still need to go through service and characteristic discovery - then it still might have some hiccups.

I suggest you take a look at @xorbit's [node-hm-ble](https://www.npmjs.com/package/node-hm-ble)

[2015-02-03 01:07] sandeepmistry commented on #121
@schnippe awesome suggestion!

I've trimmed it down to:

[code]

Do you have any ideas on how to make the command "shorter"? If not, I can update the warning with it.

cc: @ecksun

[2015-02-03 02:34] vitorleal commented on #128
Thank's @sandeepmistry i will take a look at the hm-ble module.

Cheers!

[2015-02-03 02:34] #128 closed

[2015-02-03 07:22] schnippe commented on #121
@sandeepmistry thx!

setcap does not support multiple targets.

    find -path '*noble*Release/hci-ble' -exec sudo setcap cap_net_raw+eip '{}' \;

is the shortest I can come up with.

It seems more informative  to write
    No permisson: hci-ble is missing  cap_net_raw capabilties. Please see noble/README.md or run as root.

[2015-02-03 11:06] ecksun commented on #121
I aggree with @schnippe, having the details in the README allows us to be much more verbose about what the actual problem is and solutions for it.

[2015-02-04 00:18] stewart commented on #125
Hi @sandeepmistry, sorry for the delay - starting to investigate this now.

I've tried using previous versions of Noble, with similar results.

More interestingly, LightBlue does something similar to Noble, in that it just automatically disconnects after a duration when attempting to load provided services. Poking at this with PacketLogger reveals the Ollie is triggering the disconnect, possibly a

[2015-02-04 00:33] sandeepmistry commented on #121
@ecksun @schnippe thanks for the feedback/suggestion, I've incorporated into https://github.com/sandeepmistry/noble/commit/1ea45c7cff19fa31da98833cbc28c630eb65b466

Let me know what you think, then I can publish to npm and also port to bleno.

[2015-02-04 03:13] sandeepmistry commented on #125
@stewart probably the Ollie, it terminates after responding to the "connection parameter request".

It's also weird that it returns "read not permitted" when OS X tries to read the device name (0x2a00).

Have you tried it using noble on Linux, or on Android/iOS?

(Closing the issue, as it's not specific to noble, but feel ask Ollie BLE related questions here or via email).

[2015-02-04 03:13] #125 closed

[2015-02-04 10:51] ecksun commented on #121
Looks good, however the capability is actually only required for BLE scanning, not ordinary bluetooth scanning, if I remember correctly

[2015-02-04 10:55] schnippe commented on #121
@ecksun @sandeepmistry I agree. Please add something like:
To edit capabilities libcap my be needed. Install with apt: `sudo apt-get install libcap2-bin` or with yum: `su -c \'yum install libcap2-bin\'`

[2015-02-05 01:41] sandeepmistry commented on #121
@ecksun @schnippe are you good with 5a9df56f5f6931e1a7537265c06fc3b09e7a69e8? Any more feedback?

[2015-02-05 09:13] schnippe commented on #121
@sandeepmistry
all good, thanks a lot!

[2015-02-05 10:42] ecksun commented on #121
@sandeepmistry Looks good, thank you :)

[2015-02-05 10:43] #121 closed

[2015-02-05 15:07] doganyazar opened #129 "Noble stops listening"
Noble seems to stop listening after some non-deterministic time and the only solution I came up with is to call startScanning again (or pkill -SIGUSR2 hci-ble).
Do you have any ideas or suggestions?

[2015-02-06 00:21] sandeepmistry commented on #121
@ecksun @schnippe no problem, thanks for the feedback.

Version 0.3.8 has been published to npm with the changes. I'll also port to bleno over the next few days.

[2015-02-06 00:55] sandeepmistry commented on #129
@doganyazar what kernel / Linux distro / BlueZ version are you using?

I haven't experienced this behaviour. I would suggest you:

1. add print outs in [hci-ble.c](https://github.com/sandeepmistry/noble/blob/master/src/hci-ble.c)
2. run ```node-gyp rebuild```
3. run with debug on: ```sudo DEBUG=hci-ble <file>.js```

I can help out more once you've done the above ... and provide output.

[2015-02-06 01:27] sandeepmistry commented on #129
@doganyazar also wanted to confirm, you are calling startScanning with duplicates set to true, right?
[code]

[2015-02-06 03:13] FluffyJack commented on #85
Seeing this error on yosemite. Seems like it's loosing the data some time during the connection. It happens only every few messages.

[code]

[2015-02-08 14:13] sandeepmistry commented on #85
@FluffyJack could you please open a new issue for this. The following would be useful:

 * Debug output: ```DEBUG=yosemite-bindings node <file>.js```
 * Access to your code.

The only thing I can think of currently is you are scanning with duplicates and connecting later on. noble's internal peripheral map, would clear it's book keeping then. See: https://github.com/sandeepmistry/noble/blob/master

[2015-02-08 18:02] sandeepmistry commented on #102
@tompropst closing now, as you appear to be crash free.

[2015-02-08 18:02] #102 closed

[2015-02-08 18:06] sandeepmistry commented on #84
This is a good related read by @punchthrough: [Windows Development – Part One - LightBlue Bean](https://punchthrough.com/bean/windows-development-part-one/)

[2015-02-08 18:06] sandeepmistry commented on #119
@rwaldron ping ...

[2015-02-08 19:10] sandeepmistry commented on #127
@alexeichhorn

Adding a delay before retrying does seem to help, it allows you to hit the "Pair" button on the iOS dialog.

Replace the following in ```src/linux/l2cap.js```:

[code]

with:
[code]

My only issue with putting this is in master is the 10s retry time period, it doesn't guarantee the iOS user has hit the pair button. Also, if you are already paired with the peripheral (iOS or other),

[2015-02-08 22:29] sandeepmistry commented on #127
@alexeichhorn 20e9af815cc5f55c340352489666b31ced540f92 should help with this.

Could you install noble from master and test it out - ```npm install sandeepmistry/noble``` ... I had to click the "pair" button on the iOS dialog every time. Also, make sure ```bluetoothd``` is running on your RPi/Edison.

[2015-02-08 23:43] FluffyJack commented on #85
@sandeepmistry you are totally right. The "fix" is to stop scanning once you've connected, this makes connecting to multiple peripherals next to impossible though because of the race condition caused by the centralised set of commands on noble. Each peripheral, service, and characteristic should be able to manage all of its data on its own, instead of acting as a proxy to the central set of comman

[2015-02-09 00:01] sandeepmistry commented on #85
@FluffyJack just to confirm, you are scanning with duplicates? What are you connecting to? Is it a Bluetooth 4.1 peripheral that support multiple simultaneous connections?

A potential smaller fix would be, changing:

[code]

to:

[code]

[2015-02-09 23:07] doganyazar commented on #129
Yes, duplicates is set to true.
I have experienced this behaviour with several BlueZ versions > 5.20 and Debian with kernel > 3.14.

I will dig into this as soon as possible and will try to narrow it down.
Thanks

[2015-02-10 00:25] sandeepmistry commented on #129
@doganyazar sounds good ... it would be good to compare noble behaviour with:

[code]

As they should be making the same calls to the Linux kernel.

[2015-02-14 16:20] #127 closed

[2015-02-14 16:21] sandeepmistry commented on #119
Closing due to inactivity.

[2015-02-15 21:21] deadprogram commented on #125
Hi, @sandeepmistry I think this is not just Ollie specific, since several people using the MiP seem to have the same problem: https://github.com/hybridgroup/cylon-mip/issues/1

[2015-02-18 23:53] raykamp opened #133 "The main Readme lists OSX prerequisite, the "Getting started" page doesn't"
The main [Readme](https://github.com/sandeepmistry/noble/blob/master/README.md) lists Xcode as a requirement/prerequisite for OS X. The [getting started page](https://github.com/sandeepmistry/noble/wiki/Getting-started) doesn't.

Is Xcode necessary? If so, it seems like it should be listed as an OS X specific prerequisite on the getting started page.

[2015-02-19 00:31] sandeepmistry commented on #133
@raykamp good catch, I haven't had a chance to try recently on a fresh OS X install without Xcode. Probably safer to assume it is needed.

Feel free to update the wiki page accordingly, I haven't really been keeping the getting started page in sync with the readme.

[2015-02-19 10:45] whitingm opened #134 "Not discovering on Ubuntu 14.10"
Hi,

I am looking to use noble for a project I am running, I have had it running fine on OSX running on my MacBookPro, I really want it running on Linux, so I dual booted my Mac into Ubuntu 14.10 and installed Noble as per the instructions, however when I run either my project or the included test project, it never discovers any peripherals even though Ubuntu can see them in bluetooth manager. Any

[2015-02-19 12:02] schnippe commented on #134
I have noble up and running with Ubuntu 14.04.
try running with  `sudo DEBUG=* NOBLE_HCI_DEVICE_ID=1 node test.js`. Maybe your System is using the wrong adapter or your adapter is not compatible. Please paste result.

[2015-02-19 13:40] whitingm commented on #134
matt@matt-Lenovo-G50-30:~/node_modules/noble$ sudo DEBUG=* NOBLE_HCI_DEVICE_ID=0 node test.js
  hci-ble hciBle = /home/matt/node_modules/noble/lib/linux/../../build/Release/hci-ble +0ms
noble
  hci-ble buffer = "adapterState poweredOn\n" +26ms
  hci-ble line = adapterState poweredOn +1ms
  hci-ble adapterState = poweredOn +0ms
  noble stateChange poweredOn +0ms
on -> stateChange: poweredOn
  noble

[2015-02-19 13:46] whitingm commented on #134
The adapter is the built in RealTek rtl8723be

[2015-02-19 13:50] whitingm commented on #134
I've just noticed if I force an adapter statechange by turning off bluetooth in Ubuntu and then back on, it then discovers a device???? But only one at a time ????

matt@matt-Lenovo-G50-30:~/node_modules/noble$ sudo node test.js
noble
on -> stateChange: poweredOn
on -> scanStart
on -> stateChange: poweredOff
on -> scanStop
on -> stateChange: poweredOn
on -> scanStart
on -> discover: {"uuid":"7cd1c

[2015-02-19 15:07] schnippe commented on #134
Please try to change line 167 :
` if (this._discoveries[address].count % 2 === 0) {`
=>
 `if (this._discoveries[address].count % 1 === 0) {`

Does it help? Maybe a recent change is not ok for your device.

[2015-02-19 15:24] whitingm commented on #134
Fantastic, worked straight away. Now picking up all the devices in both my app and the test app as well as debugging using webstorm. Thanks for your help.

[2015-02-19 15:28] schnippe commented on #134
@sandeepmistry @whitingm
Yeah, that was a smooth one. The power cycle gave it away.

[2015-02-19 16:09] #134 closed

[2015-02-20 01:57] sandeepmistry commented on #134
@schnippe thanks for helping out!

@whitingm noble expects the device to emit both an advertisement and scan response packet (hence the % 2). It looks like your device is only doing an advertisement.

You can start scanning with duplicates to run the stock noble as an alternative to patching it:

[code]

Just curious what peripheral are you using?

[2015-02-20 09:24] whitingm commented on #134
I have 4 peripherals, two apple TV's (which I'm not interested in) and twoTRACKR tags. It could well be the Apple TV's that are not communicating as expected. I tried running with duplicates and it still wasn't showing when i was testing before. I have had it running all night and it works as expected, i will try a different peripheral and let you know if it continues to work.

[2015-02-22 16:12] sandeepmistry commented on #134
@whitingm thanks I was wondering what the device was using the Apple Company Identifier (0x004c).

[code]

I've pushed a change to bypass the ```count % 2```, see ee3a571aa26e39e9c39bcbebe7459710b8c11c0b

[code]

It's intended to be used with devices that use a new random BT address everything advertisement and have scan response disabled.

[2015-02-22 16:25] sandeepmistry commented on #125
@deadprogram do the packet logger captures look the same when using LightBlue? I wonder if both devices use the same or similar BLE chips.

[2015-02-22 16:34] deadprogram commented on #125
I was wondering that exact same thing. Let me ping the issue reporters, and see if I can get that info for analysis.

[2015-02-25 22:03] duffo64 commented on #133
I can confirm that xcode command line tools are not enough. Trying to install noble calls for complete xcode package at some point (10.9 and 10.0).

[2015-02-26 02:48] freehaha opened #136 "callback not called after setting notify for characteristic"
Hi,
After the patch 8fd052c one of my application stop working and I found that it stopped after sending `Characteristic.notify` and seems to be waiting for the ack from the device that never came (thus no callback is called and all the following commands halt in the queue).
I'm not sure if that's because the device(Myo) didn't follow spec or is it a bug in noble but I don't have other devices to

[2015-02-26 14:14] roshink123 opened #137 "pizza example not working properly"
@programmarchy

I am running both bleno and noble in different linux devices.While running these i am able to discover the services.But i am not getting any notification.Instead i am getting an error like this

buffer.js:788
    throw RangeError('Trying to write outside buffer length');
          ^
RangeError: Trying to write outside buffer length
    at RangeError (<anonymous>)
    at checkInt (b

[2015-02-27 00:05] sandeepmistry commented on #136
@freehaha interesting.

Can you please provide debug logs with and without the change?

[code]

[2015-02-27 05:04] snorp opened #138 "iBeacon scanning frequently drops advertisements on Yosemite"
When I try to track an iBeacon via scanning with duplicates, I see periods where no advertisements are received. With the beacon advertising every 100ms, at best I get an advertisement every 2-300ms, but there are very frequent gaps of over 2s. I assume this is some kind of problem with the BLE daemon in OS X. I do not see the same behavior with an Android phone.

[2015-02-27 05:15] snorp commented on #138
If I change the beacon to broadcast every 900ms, I do get some advertisement at the 900ms interval, but frequently in the 3-4s range as well. It looks like maybe 30% of advertisements are just dropped on the floor for some reason.

[2015-02-27 16:56] programmarchy commented on #137
Hi @roshink123

This is an error in the example code. Sorry, I think I accidentally checked in some bugs on this part of the example.

I've made an attempt to fix them here:

https://github.com/programmarchy/noble/tree/pizza-example-fix

But I don't have a way to fully test it out because I don't have 2 BLE radios to run on at the moment (not until tomorrow.) Would you mind testing out this branch

[2015-02-27 23:36] sandeepmistry commented on #138
@snorp I'm also guessing it's a blued issue, if you provide the output in debug mode, that should give us a better idea:

[code]

BTW, which beacons are you testing with?

[2015-02-28 17:05] snorp commented on #138
Here's some output[0] using DEBUG=yosemite-bindings. The beacon is set to advertise every 900ms, and you can see we pretty much always miss several advertisements.

I'm using a RedBear BLE Nano with more or less the example Nordic beacon app loaded. Using the iBeacon Scanner[0] app on my Android phone, I see updates every second as expected.

[0] https://gist.github.com/5fae505a30e9ddd99d06
[1] ht

[2015-02-28 19:29] snorp commented on #138
Using PacketLogger from Hardware IO Tools was enlightening. It looks like it enters some sort of idle mode, and doesn't wake up unless there is a timeout.

https://gist.github.com/snorp/c73eaecea43c2225d491

[2015-02-28 20:03] snorp commented on #138
It looks like it *might* be possible to force our own power management policy by using IOKit. https://developer.apple.com/library/mac/documentation/IOKit/Reference/IOPMLib_header_reference/index.html#//apple_ref/c/func/IOAllowPowerChange

[2015-02-28 21:41] snorp commented on #138
I tried using IOCancelPowerChange() on the BroadcomBluetoothHostControllerUSBTransport service, but it does not succeed (returns kIOReturnError). Not sure if I'm doing something wrong or it just doesn't work.

[2015-03-01 15:41] sandeepmistry commented on #133
@duffo64 thanks for confirming.

@raykamp I've updated the Getting started guide according: https://github.com/sandeepmistry/noble/wiki/Getting-started/_compare/ca132b88e6bf25dbd215630c7ab0fbc622375b2d...fe2dba13ca7891d46cf7891689c76037b466fceb

[2015-03-01 15:41] #133 closed

[2015-03-01 15:46] sandeepmistry commented on #137
@programmarchy I've merged your fix into master.

Tested with bleno on Linux and noble on OS X.

[2015-03-01 15:46] #137 closed

[2015-03-01 15:50] sandeepmistry commented on #138
@snorp excellent research/investigating! Is there anything in particular you'd like me to try?

What's your goal/need for getting more precise discovery events?

[2015-03-01 16:17] snorp commented on #138
@sandeepmistry eventually I want to use it for presence detection in home automation. I wouldn't be using a Mac, this bug is just something irritating I found while playing around.

I am not sure there is anything you can do to work around it in noble. It seems like it's just a driver bug. I wouldn't think the hardware would be allowed to sleep while scanning is ongoing -- except maybe during the

[2015-03-01 21:51] raykamp commented on #133
Thanks @sandeepmistry. What's with the change from requiring bluez 4.101 to requiring 4.99?

[2015-03-02 00:02] sandeepmistry commented on #133
@raykamp oops, just changed it to "4.99 and above".

4.101 was required at one point, because 4.99 did not have the address type (public, random) in the headers. I decided to just declare the correct struct in noble. This saves Raspberry Pi/Raspbian users from having to build/install BlueZ from source.

[2015-03-02 00:28] sandeepmistry commented on #138
@snorp ok, just curious which Mac model were you testing on?

Can we close this issue?

[2015-03-02 13:55] roshink123 commented on #137
I am ruuning both noble and bleno in linux devices.But even after applying
the fix i am not getting the pizza example correctly.But the previous error
is not showing this time.

On Sun, Mar 1, 2015 at 9:16 PM, Sandeep Mistry <notifications@github.com>
wrote:

[2015-03-02 15:08] venkvall7 opened #140 "noble on edison disconnects"
I am getting a continuous stream of data from a BLE peripheral using nrf51xxxx(Heart rate monitor program) and edison acts as central device.. it works well for sometime and gets disconnected after few mins..  After the initial disconnect it finds the service, connects to it and disconnects immediately..

is this a known issue?

[2015-03-02 15:15] snorp commented on #138
@sandeepmistry I tried on a late 2013 MBP with the built-in broadcom device, as well as an IOGEAR GBU521. We can close it if you want, since there doesn't appear to be anything actionable for noble.

[2015-03-02 21:31] snorp commented on #138
One last data point -- I used QuickBeacon on a Nexus 9 to advertise as an iBeacon, and I have the same behavior. Consistent sightings with a separate Android device, but the same dropping behavior on the Mac. I think this rules out the BLE Nano as being at fault.

[2015-03-02 22:07] raykamp commented on #133
ok, thanks for explaining @sandeepmistry !

[2015-03-02 22:09] raykamp commented on #133
Oh, one last question regarding this. Does "4.99 and above" include only versions with "4" as the major version? Or is version 5.x of bluez also supported?

[2015-03-03 00:09] sandeepmistry commented on #133
@raykamp 5.x is also supported.

I mostly use 4.99 (Raspbian) and 4.101 (Ubuntu), however do have 5.x on my Intel Edison. In general, I would stick with whatever comes with the Linux distort you are using.

[2015-03-03 00:12] sandeepmistry commented on #140
@venkvall7 I haven't used the BLE on the Intel Edison that much, so can't comment on it being a known issue.

Suggestions:
 * try using ```gatttool``` instead of noble to see if you still get disconnected.
 * provide ```hcidump``` capture, and I can take a look

[2015-03-03 23:05] marcel12bell opened #141 "Not all services are saved as string"
I have problems connecting to my characteristic... Is it related to the key in the noble object?
locking at ffe0 ->
services:
   { '1': { uuid: '1800', startHandle: 1, endHandle: 11 },
     '12': { uuid: '1801', startHandle: 12, endHandle: 15 },
     '16': { uuid: 'ffe0', startHandle: 16, endHandle: 65535 },
     '1800': { uuid: '1800', startHandle: 1, endHandle: 11 },
     '1801': { uuid: '1801',

[2015-03-04 02:48] meronhunter opened #142 "Mac Installation Error. - node 0.12.0"
Hi, Thank you for your hard work,

I am trying to install noble, but it gives me an error with:
Failed at the noble@0.3.9 install script 'node install.js'.
"npm ERR! This is most likely a problem with the noble package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR!     node install.js
npm ERR! You can get their info via:
npm ERR!     npm owner ls n

[2015-03-05 00:18] sandeepmistry commented on #141
@marcel12bell could you please share the code you used to produce that output, along with debug output:

[code]

Which version of OS X, node.js and noble are you using?

[2015-03-05 00:30] sandeepmistry commented on #142
@meronhunter could you please provide the ```npm-debug.log``` file?

I think it's failing because node-xpc-connection doesn't support 0.12 yet, but would like to confirm.

Anyways, I've published a new version of node-xpc-connection, that uses the latest ```nan``` so try again, I expect it to work: https://github.com/sandeepmistry/node-xpc-connection/commit/3bd77657198b1f688fffd63b03b95e93946ad1a7

[2015-03-05 08:58] qrazhan opened #143 "Error connecting to multiple peripherals"
I'm having trouble connecting to multiple peripherals.  I can connect to one just fine, but once I try and connect to a second device I get the error "Transport endpoint is not connected".  Any ideas what could be wrong here?  I'm using bluez 5.28 on a Raspberry Pi.

[2015-03-05 11:33] freehaha commented on #136
sorry for the late reply. the logs are here:
https://gist.github.com/freehaha/1491e7912d365f2d44f4

my script basically connect to a device(Myo), do a service and characteristic discovery and read its firmware version by doing a `Char.read`. After that I try to enable notification(`Char.notify(true)`) on 4 characteristics and write some value to one of their descriptor(after a `discverDescriptors`

[2015-03-05 13:42] venkvall7 commented on #140
Thanks for the reply.. i see the similar issue with gatttool. But after rest of the peripheral, gatttool seems to work but not noble..

This is not consistent - may be edison stack issue?

Please see the attached hcidump when it disconnects..

device: hci0 snap_len: 1500 filter: 0xffffffff
< HCI Command: LE Set Scan Parameters (0x08|0x000b) plen 7
    type 0x01 (active)
    interval 10.000ms windo

[2015-03-05 23:50] sandeepmistry commented on #143
@qrazhan this is a duplicate of https://github.com/sandeepmistry/noble/issues/104 I should have time to take another look at it on the weekend.

[2015-03-05 23:50] #143 closed

[2015-03-05 23:55] sandeepmistry commented on #136
@freehaha would you be able to share the code that outputted the debug logs?

[2015-03-06 00:09] sandeepmistry commented on #140
@venkvall7 good to know gatttool results in the same disconnect behaviour. I'm not sure why the connection is timing out:

[code]

Do you also get Connection Timeout with noble again once the device is reset?

[2015-03-06 02:39] freehaha commented on #136
The code is here, in coffee-script:
https://github.com/freehaha/myo4l/blob/master/src/lib/myo.coffee

`notify` is in method `setNotification` at line 111.

[2015-03-06 03:10] sandeepmistry commented on #136
Here's the difference after service + characteristic discovery:

Before:
[code]

After:
[code]

It looks like noble's previous "incorrect" stack queueing was affecting order of operations.

```discoverDescriptors``` is getting sent first after the change.

Could you try with the latest master version? This commit might help things: https://github.com/sandeepmistry/noble/commit/b8f7c5686c68ca434578

[2015-03-06 03:29] freehaha commented on #136
Unfortunately the commit doesn't solve the problem. I'll get some more detailed debug information back when I have time.

[2015-03-06 07:51] fishsticks opened #144 "Error during execution"
I ran the script with DEBUG=mavericks-bindings . Getting the following error:

DEBUG=mavericks-bindings node notification.js
discovered
connected
/Users/xxx/node_modules/ancs/node_modules/noble/lib/mac/yosemite.js:408
  var serviceUuid = this._peripherals[deviceUuid].services[serviceStartHandle]
                                                          ^
TypeError: Cannot read property '15' of und

[2015-03-06 07:52] #144 closed

[2015-03-06 15:20] voodootikigod commented on #84
I am going to try to tackle this unless anyone else has already done so and syntehsize/finish out the work already done... If anyone (wink wink @sandeepmistry ) knows of existing starter forks, let me know would rather start with exiting work than blazing trails (NIH).

Cheers

[2015-03-07 15:38] #104 closed

[2015-03-07 15:39] sandeepmistry commented on #129
@doganyazar any updates on this?

[2015-03-07 15:40] sandeepmistry commented on #136
@freehaha sounds good, the output of ```hcidump``` would also be useful, to compare with what noble thinks it's sending/receiving.

[2015-03-07 15:47] sandeepmistry commented on #138
@snorp just tried with out with my 2013 MacBook Air and an iPhone using the [Location Beacon app](https://itunes.apple.com/ca/app/locate-beacon/id738709014?mt=8) to create an iBeacon.

I get multiple discover event per second.

Closing the issue, as you said there is nothing actionable for noble.

[2015-03-07 15:47] #138 closed

[2015-03-07 16:17] sandeepmistry commented on #137
@roshink123 I've pushed a fix for the example: 13c4c4d

[2015-03-07 16:40] sandeepmistry commented on #84
@mhle did email me last month regards this, we discussed using NodeRT. Not sure if he's made any progress, haven't heard anything back from him. @mhle have you made any progress porting noble to run on Windows 8.1?

@voodootikigod other than that, do not know of any other forks. It would be awesome if you could blaze a trail for this.

There are some noble API's that do not have equivalents in Win

[2015-03-07 19:42] doganyazar commented on #129
Sorry apparently I had completely forgotten this :) Just setup an environment for this so will start investigating now!

[2015-03-09 12:02] mhle opened #146 "NobleJS on NodeWebkit 0.12.0"
Hi Sandeep,

I've noticed that I do not longer need to run nw-gyp rebuild when using Noble on the latest nodewebkit (0.12.0) and iojs 1.4.3, just wondering if you had any idea why this is the case?

Michael

[2015-03-09 16:29] programmarchy commented on #137
Thanks @sandeepmistry!

[2015-03-10 05:29] roshink123 commented on #137
Thanks Sandeep.Its working properly.

On Mon, Mar 9, 2015 at 9:59 PM, Donald Ness <notifications@github.com>
wrote:

[2015-03-10 20:23] trcharlie opened #147 "characteristic.read() & characteristic.on('read',successhandler) troubles / non-GATT"
So I've been trying to communicate with a device with only one characteristic. To write a command, something like `set temp 55` is written to the characteristic. To read a value, some command like `read temp` is written to the same characteristic and the device itself writes the response on the same characteristic.

As it's not possible to change this behavior, I have to work around this issue, wh

[2015-03-10 22:59] sandeepmistry commented on #147
@trcharlie interesting device behaviour.

noble characteristic inherits from the built-in node.js [EventEmitter](https://nodejs.org/api/events.html#events_class_events_eventemitter).

I think you want to use ```.once``` instead of ```.on```, however read the EventEmitter docs linked above.

[code]

Which device are you using? Did you have to enable notifications to receive the read event?

[2015-03-11 09:06] trcharlie commented on #147
@sandeepmistry thanks for the quick response, cahnging to `characteristic.once('read', ...)` did the trick!
I'm using the Anova precision cooker, taking the events from here: https://github.com/neilpa/circulate/
Regarding notifications:
If I do nothing regarding notifications, I receive the response.
adding
[code]
prevents me from receiving the response.

[2015-03-11 20:38] vielmetti opened #148 "Mac install error (Mavericks 10.9.5, Node 0.10.35)"
Here's a gist of my npm-debug.log:

https://gist.github.com/ecc4b51226bba6b8a847

I'm using the correct gcc:

[code]

and the error lines that get emitted are

[code]

Thanks for any help (trying to get the new TI sensortag running)

[2015-03-12 01:32] sandeepmistry commented on #147
@trcharlie cool, no problem.

Devices aren't suppose to "auto-enable notify" on connect (only enable if it was enabled on the previous connection).

[2015-03-12 01:38] sandeepmistry commented on #148
@vielmetti I would expect some output from the "node install.js" command, strange that there is none.

Two things to try out:
1) Run: ```npm install xpc-connection``` (the OS X only dependency, ```node install.js``` installs)
2) Clone noble run "npm install" and maybe 1) is also needed in noble folder.

P.S.: thank you for the thorough bug report!

[2015-03-12 21:01] vielmetti commented on #148
npm install xpc-connection worked just fine.

I did the "git clone" and put the package in my "node-red" modules directory, which is the system I'm planning to use noble with. That worked, and I was able to connect to BLE devices and load the "node-red-node-sensortag" package that this depends on.

I'm puzzled by what happened, but it's working now, so I'll close this for now (and reopen if I run

[2015-03-12 21:01] #148 closed

[2015-03-12 23:48] sandeepmistry commented on #148
@vielmetti strange, just to confirm, now a regular ```npm install noble``` works?

[2015-03-12 23:52] vielmetti commented on #148
No, npm install noble doesn't work, but I did a git clone of the codebase and things worked just fine.

[code]

[2015-03-13 00:05] sandeepmistry commented on #148
That's strange, how did you install node? Was there any output to stdout/stderr as to why "node install.js" returns 3?

https://gist.github.com/vielmetti/ecc4b51226bba6b8a847#file-npm-debug-log-L287

[2015-03-14 14:31] sandeepmistry commented on #146
@mhle maybe since they use the same/similar version of v8, the native module built by node-gyp for io.js is compatible with nw.js now.

[2015-03-14 14:31] #146 closed

[2015-03-14 14:32] #142 closed

[2015-03-14 14:32] #147 closed

[2015-03-14 15:56] marcel12bell commented on #141
@sandeepmistry  -> file and output: https://gist.github.com/marcel12bell/de5877482ccfe6859dbf
OSX: 10.9.5, Node: v0.10.18, and current noble
Thanks for your tool btw...

[2015-03-14 17:07] sandeepmistry commented on #141
@marcel12bell why are you calling ```connect``` and ```discoverServices``` twice on the same peripheral? [1](https://gist.github.com/marcel12bell/de5877482ccfe6859dbf#file-gistfile1-txt-L16) and [2](https://gist.github.com/marcel12bell/de5877482ccfe6859dbf#file-gistfile1-txt-L35). This might be messing up noble's internal book keeping.

You should definetly remove this code:
[code]
Not sure why yo

[2015-03-14 17:30] marcel12bell commented on #141
The code was only to show how I got the Lines in my first post.
I want to send a string like I do with the LightBlue App. I had problems sending to the ffe0 service and digget into noble's internals to understand what happens behind...

[2015-03-14 18:38] marcel12bell commented on #141
The connection to my BLE seems a bit buggy. Thanks for your hints!

[2015-03-14 18:38] #141 closed

[2015-03-14 22:18] sandeepmistry commented on #141
@marcel12bell no problem, did you successfully get your app to write to characteristic FFE1?

[2015-03-14 23:15] marcel12bell commented on #141
@sandeepmistry yes, now it works.

[2015-03-17 14:40] doganyazar commented on #129
It takes couple of days to replicate this and that is why I could not really find anything interesting up to now. But I actively continue checking the running machine. Most probably I need to dig into bluez more to figure out the reason.

[2015-03-20 01:31] finson opened #149 "noble install error - unlock target is not locked"
OSX 10.10.2, node 0.10.25, npm 2.7.1, noble 0.3.10

When I try to install noble, I get an error related to unlocking another package that is not locked.  Sometimes it is debug, sometimes it is xpc-connection.  For example:

A screen cap and npm-debug.log are online: [https://gist.github.com/finson/8e22caf6dc8763ed5973](https://gist.github.com/finson/8e22caf6dc8763ed5973).

Any thoughts?  Thanks.

[2015-03-20 15:27] taktran opened #150 "`Uncaught TypeError: Cannot read property 'uuid' of undefined` error"
I randomly get this error on OSX 10.8.5, noble v0.3.10:

[code]

Looking at the code where the error is generated:

[code]

https://github.com/sandeepmistry/noble/blob/v0.3.10/lib%2Fmac%2Flegacy.js#L392

It fails on `this._peripherals[peripheralHandle]` being undefined.

Here are some values I got when I was console logging:

[code]

[code]

Any ideas why this would happen? Is it as simple as addi

[2015-03-20 15:28] taktran commented on #150
I wonder if this is related: https://github.com/sandeepmistry/noble/issues/141 ?

[2015-03-21 23:20] mhle commented on #84
As Sandeep mentioned I've used NodeRT as a way to access the WinRT API for bluetooth. So far it's worked fine, although you should be aware that even though NodeRT exposes most of the functionality, some are missing and so you cannot always rely on the MSDN docs.

- No promises (there is a way to do this according to NodeRT documentation using nodert-promises but didn't get it to work)
- getting v

[2015-03-22 01:32] mapdock opened #151 "noble install on osx 10.10.2"
I'm unable to install noble and see the following when I run 'npm install noble'

[2015-03-22 13:50] doganyazar commented on #129
After all these trials, I could only repeat this problem with the Plugable Bluetooth adapter
(http://plugable.com/products/usb-bt4le). I think the dongle gets into some weird state after some time which causes this behaviour.

I have also seen noble printing
console.log('noble warning: adapter does not support Bluetooth Low Energy (BLE, Bluetooth Smart).');
when this adapter was used in some occas

[2015-03-23 21:56] finson commented on #151
This error appears to result from the same issue that is causing me problems (issue #149).

[2015-03-23 23:07] sandeepmistry commented on #84
Here are some interesting links on Windows 10, that Peter Vagra emailed me:

http://wmpoweruser.com/windows-10-will-support-ibeacon-technology/
http://rarcher.azurewebsites.net/Post/PostContent/47

[code]

Looks like there will be some API's for scanning and maybe advertising as well. Didn't see anything on connecting.

[2015-03-24 01:36] sandeepmistry commented on #149
@finson please try the latest (v0.3.11), I've removed the ```install.js``` script and made xpc-connection an optional dependency: 9650f722f5dca9ea49d6e95c21d863974e4c88a4

[2015-03-24 01:37] sandeepmistry commented on #151
@mapdock please try the latest (v0.3.11), I've removed the ```install.js``` script and made xpc-connection an optional dependency: 9650f722f5dca9ea49d6e95c21d863974e4c88a4

Were you running npm install with sudo?

[2015-03-24 03:07] finson commented on #149
Success!  Thank you Sandeep. FYI, here's the console output.  Doug
[code]

[2015-03-24 03:07] #149 closed

[2015-03-24 08:23] mhle commented on #84
Thanks Sandeep,

Hopefully developing BLE apps on Win10 will be a much better experience.

Michael

[2015-03-24 14:13] MeMyselfI opened #152 "Not supported...."
Hi.

Thank you very much for your software. I set up Noble on my Raspberry PI 2 with new Bluetooth dongles. From time to time I get a "Not supported" state although restarting (on the same device ID) the program results in a "poweredOn" state. I don't really why and where the problem is.

Besides, can I "reset" Noble and try again? If so, how?

[2015-03-24 21:28] vielmetti commented on #148
Fixed by the fix in #149 (for 0.3.11).

[2015-03-24 23:38] sandeepmistry commented on #150
@taktran a simple check makes sense, with a warning as well.

I believe this occurs when another app is using BLE and a notification/indication is received, blued sends it out to all XPC clients.

[2015-03-25 15:53] programmarchy commented on #84
Agree that Windows 10 will be much better. I'm currently working on a C++ API for BLE on Windows 8.1 and should have some code I can contribute to this project in the next few weeks.

If you're getting started @voodootikigod I found these links to be very helpful for getting up and running:

What libraries you need to link and how to order C headers:
http://social.msdn.microsoft.com/Forums/en-US/1

[2015-03-26 06:51] rene-aguirre opened #154 "GAP service hidden on Mac OS X Yosemite"
First, I really appreciate what you are doing, keep going!!!!

I was able to confirm by using multiple peripherals products, that Linux shows GAP service characteristics for service discovery results ('uuid': '1800'), same for Generic Attributes ('uuid': '1801'), such items are just hidden in Mac OS X Yosemite.

Maybe related, reading GAP attributes is not possible (device name, appearance are man

[2015-03-26 07:42] wezside opened #155 "Cannot read property 'stdin' of undefined"
I get this strange issue running Ubuntu 14.04. Noble scans and detects my Polar Cadence Sensor. I use `noble.startScanning(serviceUUIDs, false);` I can connect to the peripheral and read values. If I stop the server or the peripheral disconnects and I restart then I get this error. If I wait a few seconds and start the server again or run `sudo service bluetooth restart` then all is good. Any help

[2015-03-28 14:38] vielmetti opened #156 "noble version dependency on very old version of 'debug'"
`noble` 0.3.11 has a dependency on a very old version of `debug`, 0.7.2. This results in a conflict when I pull in a new version of `debug`.

[code]

[2015-03-28 17:58] sandeepmistry commented on #129
@doganyazar do you have a set of reproducible steps?

[2015-03-28 18:04] sandeepmistry commented on #154
@rene-aguirre yes, OS X 10.10 started behaving more like iOS's CoreBluetooth stack and does not report the GAP attributes.

The handles could be read, but they might not have the same handle number on all devices.

It would be great if you made a BLE library for Python! Checkout [osx-ble-peripheral](https://github.com/sandeepmistry/osx-ble-peripheral). If you [uncomment the XPC_SPY define line](ht

[2015-03-28 18:07] sandeepmistry commented on #155
@wezside are there any lingering ```l2cap-ble``` processes after you kill your app?

Could you also provide debug logs and a link to your code if available? ```DEBUG=* node <file>.js```

[2015-03-28 18:12] sandeepmistry commented on #152
@MeMyselfI do you have a set of reproducible steps for this? I've seen this occasionally, but haven't tracked it down.

You can try a ```sudo hciconfig hci0 down && sudo hciconfig hci0 up``` to reset the adapter.

I think this is same behaviour as #129.

[2015-03-28 18:21] sandeepmistry commented on #156
@vielmetti I have no objections to upgrading the dependency.

I'm surprised it's complaining, I thought npm modules had independently installed dependencies ... see output of ```npm ls``` ...

[2015-03-28 18:43] MeMyselfI commented on #152
Thanks for your answer. It helps when starting the program again so I guess I don't need to reset the adapter. The problem isn't related to scanning I start scanning only after a poweredOn which I don't get from time to time.

And sorry, no, I cannot reproduce it - it happens from time to time after starting the program and it works the next time (without any reset or reboot). I will use a workaro

[2015-03-30 08:19] kevster commented on #150
I'm getting a similar error (OSX 10.10.2, noble 0.3.11). It only occurs when I do the following:

1. Launch my application
2. Device is discovered and connected
3. Device is disconnected (I pull the power from the device)
4. Device is reconnected
5. Crash with the following error:

[code]

[2015-03-30 18:30] wezside commented on #155
Thanks for responding. I've spend more time looking at my code and I was indeed having two connections. So signalling the server for exit was causing one connection to stay open.

[2015-03-30 18:30] #155 closed

[2015-03-31 09:03] wezside opened #157 "readUInt16 not present in characterstic data"
This is a question. I have read the Cadence Measurement Bluetooth spec and it states that the 'Cumulative Crank Revolutions' should be of type uint16. I'm however only able to use readUInt8 with noble and when I log the data is shows it as such.

Would this be the device manufacturer not implementing the spec? Or noble?

[2015-03-31 23:03] sandeepmistry commented on #157
@wezside I'm guess its a device manufacturer issue.

You're using a Raspberry Pi right? try out ```gatttool``` to see what it reports.

Please follow up on gitter, if you get stuck: https://gitter.im/sandeepmistry/noble

[2015-03-31 23:03] #157 closed

[2015-04-02 13:46] doganyazar commented on #129
Nope I have no deterministic way of producing it. But I think it has nothing to do with noble since when it happens lescan does not work either giving the following error.

[code]

[2015-04-03 14:28] sandeepmistry commented on #129
@doganyazar good to know. Can we close this issue?

[2015-04-03 14:38] #129 closed

[2015-04-05 02:48] xmlking opened #158 "reading data from bluetooth blood pressure monitor U80IH"
I got a bluetooth blood pressure monitor [http://www.ebay.com/itm/231430845385] and trying to understand how I can read data from this this device using `noble`. I am new to BT and noble, any help will be appreciated.

I run scan and info commands using `cylon-ble` and got this results....
are they using GATT? if so, appreciate  if u can share example code to read data...

[code]
[code]

[2015-04-05 06:56] xmlking commented on #158
Tried to read data with [LightBlue](https://itunes.apple.com/us/app/lightblue/id639944780) on Mac and noticed non-decimal  value changing on `fff1` while it is measuring the  blood pressure.
Their  Android and iOS apps were able to initiate/start the  measuring process. so I thing there will be a way to activate measuring process by writing hex value into one of those  characteristics!

[2015-04-05 14:13] sandeepmistry commented on #152
@MeMyselfI how should we proceed with this issue? Without a set of steps to reproduce, it's hard to create a fix.

[2015-04-05 14:21] sandeepmistry commented on #150
@taktran any updates? Did you try out the "simple check"?

[2015-04-05 14:21] sandeepmistry commented on #150
@kevster, please open a separate issue for the behaviour you are seeing, which includes a code sample to reproduce. It looks unrelated, because the error is being thrown from the ```write method```.

[2015-04-05 14:25] sandeepmistry commented on #158
@xmlking it's probably best to contact the seller or manufacturer for the GATT specification of the device. You could also ask them if they have an iOS or Android SDK. Another alternative is to decompile the Android APK.

Closing the issue, as it is unfortunately outside the scope of noble.

[2015-04-05 14:25] #158 closed

[2015-04-05 14:37] taktran commented on #150
It did fix the problem. I'll look into creating a PR.

[2015-04-05 21:38] MeMyselfI commented on #152
No problem just close it. If I get more information I will open a new issue. Only thing that may help me is a method to restart noble, like noble.restart.

[2015-04-05 21:38] #152 closed

[2015-04-06 23:17] #150 closed

[2015-04-07 00:16] #154 closed

[2015-04-07 00:17] #151 closed

[2015-04-07 00:18] sandeepmistry commented on #140
Closing due to inactivity, please re-open with response if you are still interested.

[2015-04-07 00:18] #140 closed

[2015-04-07 16:09] AlexanderLea opened #160 "GATT Peripheral and Observer (central) on same machine"
Hi,

I'm trying to use your library to create some software that would run on a server, and listen to incoming information from a number of peripherals, do something with this information and then transmit it (as a peripheral) to a number of observing devices.

I have both the central and peripheral code (peripheral using bleno) running separately, but when I try and combine them, it doesn't work

[2015-04-07 16:22] scaret opened #161 "Error: dlopen( ***/noble/node_modules/xpc-connection/build/Release/binding.node, 1): Symbol not found: ___CFConstantStringClassReference"
Hi,

When I clone the repo and run `npm install`, it looks fine.
When I try to run any example including one in readme, it will always trigger this error:

[code]

OS: OSX 10.10.2 (14C109)
node: v0.11.13

[2015-04-07 16:28] scaret commented on #161
When I checked nodejs version I tried to update node version to v0.12, and it works fine for me!

[2015-04-07 22:45] sandeepmistry commented on #160
@AlexanderLea can you confirm it's possible with BlueZ and the command line? Which kernel are you using? What command sequence?

If you get that successfully working, bleno and noble can be adapted accordingly - but I haven't had much success with it in the past ...

[2015-04-07 22:46] sandeepmistry commented on #161
@scaret do you still care about this?

Did you have any weird compilers installed, what's the output of ``` gcc -v```?

[2015-04-08 08:23] scaret commented on #161
@sandeepmistry

I've never changed compiler manually on this Macbook, and most npm modules compiles & works fine. What I did to make noble work is just switching to node v0.12.2

Anyway I don't care about this any longer, so you can close this issue.

FYI my gcc version information

[code]

[2015-04-08 12:23] AlexanderLea commented on #160
@sandeepmistry, it appears as though you're correct. I'm certain I've simultaneously acted as a peripheral and central before, but I am unable to get it working today.

Have ordered another Bluetooth Adapter, which will hopefully allow me to do what I want to.

Many thanks!

[2015-04-08 16:03] taktran commented on #150
Thanks! When do you think you'll publish a new version on npm?

[2015-04-09 01:02] sandeepmistry commented on #161
Closing for now.

[2015-04-09 01:02] #161 closed

[2015-04-09 01:03] sandeepmistry commented on #160
@AlexanderLea no problem, you should be good to go with two adapters, you can use env. var's to specify which adapter noble/bleno should use:

https://github.com/sandeepmistry/noble#multiple-adapters

https://github.com/sandeepmistry/bleno#multiple-adapters

[2015-04-09 01:03] #160 closed

[2015-04-09 01:04] sandeepmistry commented on #150
@taktran probably sometime this weekend ...

[2015-04-09 08:00] taktran commented on #150
Great thanks! Good luck =)

[2015-04-09 11:44] AlexanderLea commented on #160
@sandeepmistry, sorry to re-open, but I have another question:

In the code, is it possible to set which adapter bleno/noble should use? - that way I could just run with a single command "node ble_central.js" for example, and then be able to deal with both the observer and peripheral as a single program?

[2015-04-09 11:59] AlexanderLea opened #162 "Connect to devices based on a white list of MAC addresses"
Hi,

I am looking to implement a program to act as a BLE central, and as such initiate connections to a number of BLE peripherals.

Currently I'm connecting to all peripherals that expose my GATT service and characteristic, which works, but I would be much happier if I could implement a whitelist of MAC addresses of my peripherals and only connect to those.

I can't find anywhere where the MAC add

[2015-04-12 15:18] sandeepmistry commented on #160
@AlexanderLea you should be able to set them using something like this:

[code]

[2015-04-12 15:24] sandeepmistry commented on #162
@AlexanderLea would you be able to share your code? It sounds like you are connecting to every peripheral discovered.

You should inspect the peripheral the discover event: https://github.com/sandeepmistry/noble#peripheral-discovered

On Linux, the uuid is the BT address, and the address will be accessible shortly (the change is already on master).

[2015-04-12 15:41] sandeepmistry commented on #115
@deadprogram @edgarsilva any progress on this?

[2015-04-12 16:41] deadprogram commented on #115
Hi @sandeepmistry

Now that BlueZ has just released their dbus support, your original plan seems viable: http://www.bluez.org/release-of-bluez-5-30/

[2015-04-12 21:38] sandeepmistry commented on #115
@deadprogram good to know. Let's close this issue for now, please start a new one for dbus support when you are ready.

[2015-04-12 21:38] #115 closed

[2015-04-12 22:18] sandeepmistry commented on #150
@taktran v0.3.12 published to npm. cc/ @mhle

[2015-04-13 08:29] taktran commented on #150
:fireworks: thanks! =)

[2015-04-13 09:16] taktran opened #163 "`ReferenceError: deviceUuid is not defined` on 0.3.12"
On the new version (0.3.12), it breaks on legacy macs. Noble doesn't start. I get this error:

[code]

https://github.com/sandeepmistry/noble/blob/master/lib/mac/legacy.js#L177

It seems like `deviceUuid` isn't used anywhere. It seems like supposed to be `peripheralUuid`.

Will dig in further, and submit a PR if I fix it.

May be related to: https://github.com/sandeepmistry/noble/issues/150

[2015-04-13 09:39] taktran commented on #163
Oh, it seems to be another change: https://github.com/sandeepmistry/noble/commit/a2511407dbd460885b1511ca8ef9de5873430a26#diff-5c90076a70226ec417f622c0a8a32d8fR169

[2015-04-13 10:28] taktran commented on #163
I renamed the variable here: https://github.com/taktran/noble/commit/dd4b2d4b23a0bc4b85706778d7f4483e746fe342, and it seemed to run ok, but it was blocking my [nodewebkit](https://github.com/nwjs/nw.js/) from displaying anything.

It displays for v0.3.11 though. Strange.....

[2015-04-13 10:54] sandeepmistry commented on #163
@taktran I've merged in https://github.com/taktran/noble/commit/dd4b2d4b23a0bc4b85706778d7f4483e746fe342

Strange that it still says v0.3.11 ... do you think it's stuck trying to parse: /Library/Preferences/com.apple.Bluetooth.plist ? It does require a new dependency: ``"bplist-parser": "0.0.6"``

[2015-04-13 11:56] AlexanderLea commented on #160
You're correct. Thank you!

[2015-04-13 12:17] kclim2 opened #165 "Connection Rejected due to Limited Resources (central.js)"
I'm testing Noble' pizza central (Intel Galileo (Gen2) with Bleno' pizza peripheral. The following is the hcidump (Noble' pizza central)

root@galileo:~# hcidump
HCI sniffer - Bluetooth packet analyzer ver 5.18
device: hci0 snap_len: 1500 filter: 0xffffffff
< HCI Command: LE Set Scan Parameters (0x08|0x000b) plen 7
    type 0x01 (active)
    interval 10.000ms window 10.000ms
    own address: 0x00

[2015-04-13 14:28] ManuelOverdijk opened #166 "TypeError: Cannot read property 'uuid' of undefined"
Hey guys,

I get the following error:
[code]

while trying to read a characteristic using the following code from the Getting Started tutorial

[code]
I'm currently using Noble 0.3.12 and the peripheral is connected, and has a service with UUID 180f. Is this  an issue on my part, or is something else going on here?

[2015-04-13 23:23] sandeepmistry commented on #165
@kclim2 are you running bleno and noble on the same Intel Galileo (Gen2)?

[2015-04-13 23:27] sandeepmistry commented on #166
@ManuelOverdijk could you please provide debug output:

[code]

Also, would you be able to share more of your code?

[2015-04-13 23:39] sandeepmistry commented on #163
@taktran I'm closing this, as your commit fixes it, v0.3.13 published with your fic.

[2015-04-13 23:39] #163 closed

[2015-04-14 02:45] kclim2 commented on #165
different node.

Intel Galileo has no problem to run as the peripheral node (bleno) but not able to run as the central (noble).

[2015-04-14 09:31] taktran commented on #163
Thanks for the update @sandeepmistry - unfortunately, node webkit not displaying doesn't seem to be a freak occurrence.

It's because of the `uuidToAddress` method from this commit: https://github.com/sandeepmistry/noble/commit/a2511407dbd460885b1511ca8ef9de5873430a26#diff-5c90076a70226ec417f622c0a8a32d8fR169

It completely spams my app, so that it can't start. Reverting to just

[2015-04-14 11:37] AlexanderLea commented on #162
@sandeepmistry thank you. I've got it - I'm now using my white list to only connect to devices that I want to.

Thanks for your help!

[2015-04-14 11:37] #162 closed

[2015-04-14 22:58] sandeepmistry commented on #165
@kclim2 can you please try scanning and connecting with gatttool at the same time (two different terminal windows).

1) ```sudo hcitool lescan```
2) ```gatttool -b F8:16:54:CD:28:B3 -I```

[2015-04-15 02:54] pequnio3 opened #167 "Cannot npm install"
Hi,

I'm trying to install noble but am running into an error when I do npm install:

I pasted below the error I'm seeing.  What am I doing wrong?

home-automation pequnio3$ sudo npm install noble
npm WARN package.json node_sandbox@1.0.0 No description
npm WARN package.json node_sandbox@1.0.0 No README data
\

gyp WARN install got an error, rolling back install
gyp ERR! configure error
gyp ERR! st

[2015-04-15 04:12] kclim2 commented on #165
using two different terminal windows:
terminal windows #1: hcitool lescan

terminal windows #2:
root@galileo:~/node_modules/noble/examples# gatttool -b F8:16:54:CD:28:B3 -I
[F8:16:54:CD:28:B3][LE]> connect
Attempting to connect to F8:16:54:CD:28:B3
Error: connect error: Connection refused (111)

gattool fail to connect!!

I then kill the hcitool lescan at terminal windows #1 (ctrl+c to end the hci

[2015-04-15 04:13] kclim2 commented on #165
root@galileo:~/node_modules/noble/examples/pizza# node central.js
scanning...
found peripheral: { localName: 'PizzaSquat',
  txPowerLevel: undefined,
  manufacturerData: undefined,
  serviceData: [],
  serviceUuids: [ '13333333333333333333333333333337' ] }
found service: 13333333333333333333333333333337
found characteristic: 13333333333333333333333333330001
found characteristic: 133333333333333333

[2015-04-15 04:13] #165 closed

[2015-04-15 18:12] olivierbloch commented on #63
I noticed the following related issue. I have a simple node app that uses noble (on an Intel Edison).
On the noble event 'stateChange', when receiving 'unsupported', I call the system commands to activate BLE ('rfkill unblock bluetooth' and 'hciconfig hci0 up').
I would expect the noble event 'poweredOn' to be triggered but it is not. I have to restart the node app to have noble detect that the BT

[2015-04-15 23:09] sandeepmistry commented on #167
@pequnio3 looks like permissions for your ``~/.node-gyp`` folder are incorrect. Maybe you npm installed something using sudo before ...

Try running ```sudo chown pequnio3:staff ~/.node-gyp```, then try the npm install again ...

[2015-04-15 23:14] sandeepmistry commented on #165
@kclim2 good to know! I've updated the example to stop scanning after discovering a peripheral (826b0f9).

[2015-04-16 19:15] aensidhe opened #168 "TypeError: Cannot read property 'BD8B4C1B-4F8D-4430-A309-AD981645677D' of undefined"
I tried to play with my bracelet, but noble crashed. Debug output below.
Source is [discovery example](https://github.com/sandeepmistry/noble/blob/master/examples/advertisement-discovery.js)

[code]

[2015-04-16 19:45] aensidhe commented on #168
It seems that it connected to bluetooth cache.

[SO](http://stackoverflow.com/questions/23549859/clearing-corebluetooth-gatt-cache-without-removing-bond) helped me.

[2015-04-16 19:45] #168 closed

[2015-04-16 23:44] sandeepmistry commented on #168
@aensidhe which version of OS X were you using?

I've pushed b6ff96b to cover the case where the ``CoreBluetoothCache`` section of ``/Library/Preferences/com.apple.Bluetooth.plist`` is empty.

[2015-04-17 00:56] andySigler commented on #85
Just had similar problem on mavericks. The solution was replacing `noble/lib/mac/mavericks.js` line 141 as described by sandeepmistry above.

It seems to me having persistent knowledge of peripherals' services and characteristics is needed when writing applications that call `noble.startScanning()` and `noble.stopScanning()` intermittently. Your commit above fixed this for Yosemite. Maybe include

[2015-04-17 05:18] aensidhe commented on #168
I'm using Yosemite 10.10.3.

 Thank you.

[2015-04-17 10:45] sandeepmistry commented on #85
@andySigler would you have time to submit a pull request? Unfortunately, I don't have access to a OS X 10.9 Mac, so it would be great if you could test out the changes and submit a patch.

[2015-04-17 11:19] matthewnourse commented on #166
@sandeepmistry I'm getting a similar error but in a uuid-to-address.js.  I've added this line to uuid-to-address.js in my local copy to help with debugging:

[code]

My code:

[code]

I ran it with this command line on Mac OS (Yosemite):
[code]

The contents of debug.out:

[code]

Thanks for noble, it looks very cool.

[2015-04-17 17:09] ManuelOverdijk opened #169 "Reading Characteristics sequentially"
Today I encountered the following problem. When reading two characteristics of the same service in parallel with the code below, both services but no characteristics will be found. Running the same code sequentially with Promises will fix this. Before continuing to add a queue for communication operations, is this expected behavior, or is my code wrong?

[code]

[2015-04-17 22:43] sandeepmistry commented on #166
@matthewnourse it's a separate issue: https://github.com/sandeepmistry/noble/issues/168 - should be addressed in the v0.3.14 release ...

[2015-04-18 19:12] sandeepmistry commented on #169
@ManuelOverdijk I'll need to take a closer look at this, it should work. Are you using OS X or Linux? Which version?

In the mean time, I suggest you only call discover services and characteristics once:

[code]

[2015-04-18 19:14] sandeepmistry commented on #166
@ManuelOverdijk any updates (debug logs, code) on this?

[2015-04-18 19:15] sandeepmistry commented on #167
Closing for now, please re-open if install doesn't work after permissions have been setup correctly.

[2015-04-18 19:15] #167 closed

[2015-04-18 19:54] matthewnourse commented on #166
@sandeepmistry perfect, I upgraded to v0.3.14 and it works great now, thanks, and sorry that I missed #168.

[2015-04-20 08:40] ManuelOverdijk commented on #169
I'm currently using Yosemite

[2015-04-20 10:27] ManuelOverdijk commented on #136
@freehaha any update on this?

[2015-04-20 10:57] vielmetti commented on #85
I do have a 10.9 Mac (Mavericks) and would be happy to give you as needed
access to it Sandeep if that would help confirm debugging. I'll try this
patch.

On Thu, Apr 16, 2015 at 8:56 PM, Andy Sigler <notifications@github.com>
wrote:

--
Edward Vielmetti +1 734 330 2465
edward.vielmetti@gmail.com

[2015-04-20 13:14] andySigler commented on #85
sorry for the delay, just submitted my tested changes. Peripherals on mavericks are not overwritten when repeatedly recognized between calls to `.startScanning()`

[2015-04-21 00:26] sandeepmistry commented on #63
@olivierbloch please open a separate issue to track the behaviour you are seeing on the Intel Edison

[2015-04-22 22:58] sandeepmistry commented on #63
Minimal solution for ```noble.startScanning(...)``` had been added in https://github.com/sandeepmistry/noble/commit/5272e058211952a8307587ebda7d74c55d8223d3

If ```callback``` is supplied, it is called with error parameter, otherwise warning is printed to console.

[2015-04-22 22:58] #63 closed

[2015-04-23 20:54] thegecko opened #172 "Problem installing on OSX - Cannot find module 'nan'"
I see errors when installing on the following platform:

OSX: 10.9.5
NPM: 2.7.4
Node: v0.12.2

[code]
Although xpc-connection is marked as optional, it seems to be required when using noble:
[code]

Any pointers?

[2015-04-23 23:34] sandeepmistry commented on #172
@thegecko I made it optional because it is not needed on Linux, as node-xpc-connection is OS X only. However, it is required on OS X.

How did you install noble, by running ```npm install noble```? Do you have a ```npm-debug.log``` to share?

[2015-04-24 12:00] thegecko commented on #172
I used `npm install node`.

Embarrassingly, the error had gone since a reboot .grrr.

[2015-04-24 12:00] #172 closed

[2015-04-26 16:24] sandeepmistry commented on #166
Closing due to lack of activity ...

[2015-04-26 16:24] #166 closed

[2015-04-27 06:24] kevinits opened #173 "Major and Minor Values?"
While scanning, can you read the major and minor values of the peripheral beacons like you can with node-bleacons?

[2015-04-27 13:08] zasoniak commented on #169
I suppose it may not be a bug. Program code (in general, not only this case) is processed much faster than bluetooth communication. The same issue exists in Android or C code.
Therefore you need to manually introduce queue and runs communication operations sequentially, waiting for answer from previous one or just introducing some interval between 2 operations.

So addition question is: will this

[2015-04-27 23:05] sandeepmistry commented on #173
@kevinits I'm trying to keep noble a generic BLE lib. Beacon specifics should go in node-bleacon.

Is there a reason for not using node-bleacon?

[2015-04-28 00:13] kevinits commented on #173
No, not really.  I'm just a newbie with bluetooth, trying to figure it all out.  That makes sense.  For my use case, I like the ability in noble to not see all of the duplicates.  In node-bleacon, is that a possibility or do I need to figure out how to filter them out myself?  Thanks for the quick reply.

[2015-04-28 23:08] sandeepmistry commented on #173
@kevinits please open an issue for this in the node-bleacon repo.

[2015-04-28 23:08] #173 closed

[2015-04-29 13:05] rosek86 opened #174 "Disconnect reason"
Hi,

Is it possible to pass disconnect reason in the 'disconnect' event, please? This would be useful to determinate if connection was established or not. For instance due to noisy environment we receive 'Connection Failed to be Established' reason which should lead to quick re-connection:

    status 0x00 handle 64 reason 0x3e
    Reason: Connection Failed to be Established

Thanks,
Krzysztof

[2015-04-29 14:03] corecode opened #175 "peripherals with duplicate services or characteristics are not handled properly"
All services and characteristics are accessed via hashes.  If a peripheral contains multiple services/characteristics of the same uuid, only the last discovered service/characteristic is accessible.

A possible solution would be to carry the handle to the objects, and perform accesses only using handles.

[2015-04-29 23:05] sandeepmistry commented on #174
@rosek86 any suggestions (code snippets) on how to do this?

I don't think it will be possible on OS X, so might be a Linux only feature ....

[2015-04-30 01:15] LookingSharp opened #176 "noble warns BLE state is unsupported state sporadically"
When I register for state change I occasionally get `unsupported` for the state.  I'm not sure why this happens, but to get the expected `poweredOn` state I need to kill and restart the app.  Is there a way to recover from this from within the program?  A way to tell noble to reset?

[code]

I'm running on a Raspberry Pi.

Thanks.

[2015-04-30 07:38] ManuelOverdijk commented on #169
@sandeepmistry Any update on this?

[2015-04-30 08:23] taktran commented on #176
I'm also getting this. I was thinking of running the app on a background thread and restarting it for now. But a restart method of some sort would be amazing!

[2015-04-30 09:20] haughank commented on #176
I have seen the same error on a Fujitsu Lifebook A Series running ubuntu 14.04 LTS. Doesn't seem to be a Raspberry Pi only issue. Again, restarting the application solves the problem

[2015-04-30 09:22] haughank commented on #176
Additional note: the frequency of this occurring is about 20% of the time that the app is launched

[2015-05-01 20:23] LookingSharp opened #177 "Error: connect(hci0): Interrupted system call"
When trying to do a connect, I received this error in the on 'connect'
[code]

After hitting this I did get the on 'disconnect'. But calling startScanning returned no discovers (there were about 8 devices around). Has anyone seen this before?

On a raspberry Pi.

[2015-05-01 21:42] LookingSharp commented on #177
I think this is a bug on my side, but in case someone else sees it this may help.

Here's my general model -

Scan for all peripherals, duplicates allowed.
  On discover of a peripheral, stop scanning.
  Connect to the peripheral.
  Discover Services
  Discover characteristics
  Disconnect.
  startScanning

However if I find that I've been trying to get data from a peripheral for over 10 seconds,

[2015-05-02 14:33] sandeepmistry commented on #169
@ManuelOverdijk no updates since my original comment.

[2015-05-02 14:35] sandeepmistry commented on #176
@LookingSharp @taktran @haughank if you could provide some steps to reproduce that would be great. As well as the output of ``hcidump``.

Which BLE USB adapters are you using?

[2015-05-02 15:18] sandeepmistry commented on #177
@LookingSharp seems like you've solved the problem, can we close this issue?

[2015-05-02 17:30] andreasbhansen commented on #37
Any updates on BLE Mini + Noble?

[2015-05-02 18:39] LookingSharp commented on #177
I had thought that calling DiscoverServices after receiving an error on connect caused this problem.  However I fixed that and still see it.  So my current fix is to never call disconnect on a peripheral while it is in progress on an async operation.  I wanted to disconnect because I wanted to impose a timeout on connect time.

If disconnect should be supported while performing another operation,

[2015-05-02 18:56] LookingSharp commented on #176
It is intermittent, so there aren't good repro steps.  Just getting the state change, which is the first thing the program does, causes the problem.

I'm trying to capture it in hcidump, but thus far I haven't had luck.  It isn't reproing for me at the moment.

I'm using the IOGear adapter
http://www.amazon.com/IOGEAR-Bluetooth-Micro-Adapter-GBU521/dp/B007GFX0PY/

[2015-05-03 13:54] sandeepmistry commented on #37
@andreasbhansen the original issue with OS X 10.9 no longer exists.

If you are have trouble with something or have a question, feel free to use gitter: https://gitter.im/sandeepmistry/noble

[2015-05-04 07:39] xmlking opened #178 "will it be possible to connect two bluetooth LE peripherals simultaneously?"
Env:  Mac OS X 10.9.5
Recently I tried to add two bluetooth LE peripherals ( LightBlue Bean & SensorTag)  to node-RED and  log data to debug. this attempt failed but I can able to connect one peripheral at time.
wonder if I can connect two peripherals and consume data simultaneously? if yes could you point me to an example?

[2015-05-04 07:52] BorisKourt commented on #178
I have been able to connect to many BLE peripherals simultaneously using just noble itself.

Simply keep scanning for further devices and when you find what you want to connect to run `peripheral.connect([callback(error)]);` with the discovered peripheral. *(via `noble.on('discover', function(peripheral) { ... });`)*

It is up to you how you wish to store/interact with peripheral information for m

[2015-05-04 09:30] vielmetti commented on #178
I've seen the same issue, and there needs to be a rethink of how Node-RED interacts with BLE. It probably makes sense to have a single BLE or "node-red-noble" package that knows how to deal with a lot of individual sensors, rather than to have completely broken out support for each sensor.

I suspect this issue belongs in some other repo, though, since noble itself does have the support that @Bori

[2015-05-04 23:08] sandeepmistry commented on #178
@BorisKourt @vielmetti thanks for helping out!

@xmlking thethingsystem's steward had something like @vielmetti mentioned, it would have central scanner and then see if any of the drivers supported it: https://github.com/TheThingSystem/steward

This fits in with [noble-device](https://github.com/sandeepmistry/noble-device), module that are built on top of it will have a ```.is``` method, which tak

[2015-05-04 23:08] #178 closed

[2015-05-05 08:09] Lock-up opened #179 "Notify for 2 characteristics on different services"
Hi,
I have a Sensortag here and trying to get notified for the temperature and light sensor.

If I use following code I only get notified for the light sensor:

    var noble = require('noble');

    function initLightService(peripheral){
			peripheral.discoverServices(['f000aa7004514000b000000000000000'], function(error, services) {
        console.log('light service discovered');
		    var servi

[2015-05-05 10:15] rosek86 commented on #174
@sandeepmistry haven't been able to check noble code yet, I'll try to look on this in a spare time.

It's a shame that OS X doesn't support this feature, I guess it's better to keep noble consistent on all systems.

[2015-05-05 23:25] sandeepmistry commented on #179
@Lock-up are you using OS X or Linux? Which version/distro?

It might be related to #169 ...

[2015-05-06 07:33] Lock-up commented on #179
Im using OS X Yosemite (10.10.3)
Maybe its related, but my code is discovering the services and is reading/writing the characteristics sequentially.
I think the problem is calling `peripheral.discoverServices` multiple times.

[2015-05-06 13:13] ManuelOverdijk commented on #179
I'm experiencing the same behavior on Yosemite, I can only read the latest notify.

Work-around by @Lock-up works though.

[2015-05-06 17:45] rwaldron commented on #119
Sorry, I don't know why I completely missed your response (from over a year ago). As I'm just seeing this now and writing you a frantic response, I will attempt to install and report back. Sorry about that!!

[2015-05-06 18:50] ykro commented on #119
I'm having the same issue.
* OSX 10.10.3
* node v0.12.2
* xcode-select version 2339
[code]

[2015-05-06 19:27] RangerMauve commented on #84
Would it be possible to use something like [NodeRT](https://github.com/NodeRT/NodeRT) to call [the BTLE apis](https://msdn.microsoft.com/en-us/library/windows/hardware/hh450825(v=vs.85).aspx) directly?

[2015-05-06 23:16] sandeepmistry commented on #119
@rwaldron no worries, I'll re-open.

@ykro let's see if you can get some more verbose output for ```node-gyp rebuild``` when running ```npm install xpc-connection```. It would be great if we could see what compile flags are passed to ```gcc``` and compare with what's on my Mac.

Let's also compare ```g++ -v```:
[code]

[2015-05-08 07:51] rosek86 opened #180 "Cache discovery service/characteristic/descriptor data"
Hi,

Is it possible in noble to cache discovery data and use this during next connection, please? Discovery takes time and possibly it's not necessary to this each time.

Thanks for any hint,
Krzysztof

[2015-05-08 11:37] ecksun commented on #63
This change causes a race-condition when calling `startScanning` at the beginning of a program:
[code]

Basically, the state is `unknown` when I call startScanning, and slightly after a statechange is emitted (originating from hci-ble I assume) which changes the state.

I was hoping to use this fix to detect the precense of a bluetooth adapter and then noticed that it caused this regression, so I'

[2015-05-09 20:59] sandeepmistry commented on #180
@rosek86 are you referring to peripheral discovery or service/characteristic/descriptor discovery?

[2015-05-09 21:09] sandeepmistry commented on #63
@ecksun this is intended behaviour, you should wait for the adapter state to be determined and ```poweredOn``` before starting scanning.

[2015-05-09 22:44] ecksun commented on #63
If thats the case perhaps the documentation should be updated to reflect that, atm the README.md just states to do noble.startScanning() to start scanning.

[2015-05-10 14:34] sandeepmistry commented on #63
@ecksun good suggestion, I've incorporated: 7768200

[2015-05-10 20:25] ecksun commented on #63
Looks good, but you do realize that this change is a breaking change, so if noble is following semver (I havent figured out if it does or not) then the major version should be increased.

[2015-05-11 09:31] rosek86 commented on #180
@sandeepmistry I'm thinking of service/characteristic/descriptor discovery, I think it should be possible to only cache characterisic handlers, so this part is not needed when central connects to the pheripleral multiple times.

[2015-05-11 23:12] sandeepmistry commented on #180
@rosek86 any thoughts on how to handle service/characteristic/descriptor changing on peripheral between connects?

Were you thinking the cache would be in-memory only or also on disk?

[2015-05-12 07:52] rosek86 commented on #180
@sandeepmistry I'm not sure how to do this for now. I believe it should work at low level, at least from my experience, it seems that service/characteristic handlers doesn't change. We should be able to write/read using the same handlers each time.

I was thinking of in-memory cache for now, run discovery only once for each device when the application starts and store this information in array.

I

[2015-05-12 11:07] sandeepmistry commented on #180
@rosek86 the service/characteristic handler can change (especially for people creating custom peripherals), however probably not on production devices. I'm worried this will cause confusion.

iOS caches and it caused some confusion for people create peripherals with [bleno](https://github.com/sandeepmistry/bleno).

[2015-05-12 16:56] rosek86 commented on #180
@sandeepmistry ah, I wasn't thinking of adding cache into noble itself but I'm looking for possibility to save handlers in e.g. service.discoverCharacteristics() callback, and then recall these handlers on next connection. The user could decide if cache is needed or not.

However I've just noticed that this wouldn't be easy in noble, handlers are not passed to noble user and are only available in

[2015-05-12 19:16] LookingSharp opened #181 "Indicate whether peripheral.address is random"
I'd like to know if the MAC address for a peripheral is temporary.  Some devices use a random address.  I'd like to know this because I know the devices I'm looking for have this behavior, so if the address is not random I can ignore it.  If this isn't surfaced on all platforms, can this be added as an environment variable (I'm on Raspian).

[2015-05-12 19:19] LookingSharp commented on #176
Is there any way to work around this node?  Is there a way to shut down nobel and restart it from within Node?

[2015-05-12 21:38] LookingSharp commented on #176
@sandeepmistry This is the output for hcidump -

[code]

However it turns out if I ignore this and start scanning anyway, then I can discover peripherals, get their services, read characteristics.  Here's a much longer hcidump that includes instances of that.

[code]

[2015-05-13 00:17] duyhotan2000 opened #183 "Set peripheral.connect timeout?"
Hello,
I called peripheral.connect function but the peripheral is turned off and the function hang period of time (I don't know exactly) before it call the callback with error. So can you have a way to set this timeout?
Thanks!

[2015-05-13 02:15] sandeepmistry commented on #180
@rosek86 got it, that makes sense, I'll have to check the behaviour on OS X again, ``blued`` didn't like it if you didn't go through the discovery process.

This can potentially be incorporated with the work need for #179

[2015-05-13 02:29] sandeepmistry commented on #183
@duyhotan2000 no way to have a timeout currently.

[2015-05-13 02:44] duyhotan2000 commented on #183
OK. But you have a way to cancel connecting or clear all peripheral cache and re-scanning?

[2015-05-13 14:36] rosek86 commented on #180
Many thanks, this feature would decrease connection time by around 2 seconds in our application. We're looking for any possibility to decrease connection time,- modification of l2cap-ble.c sets connection interval to 7.5 ms. We'd like to send also 6 packets per connection interval but haven't got luck with this yet.

Let me know if I can help with this, I don't know noble library but I could help

[2015-05-13 16:32] LookingSharp commented on #183
On Raspian I have experimented with setting a timer and manually calling disconnect peripheral before a connect returns.  The behavior was inconsistent and caused some problems with scanning, so I disabled it.

My general pattern is to start scanning, then when I discover a peripheral I stop scanning, then I connect, then when my connect is completed I start scanning again.  It's a bit of a pain,

[2015-05-14 08:41] duyhotan2000 commented on #183
@LookingSharp I have 2 devices and I push two of them to a queue and try it again when it fails to connect. But if a device is turn off, it get stuck in connect function. Do you have a solution for this?

[2015-05-14 10:56] sandeepmistry commented on #176
@LookingSharp the above it great! Code you also share the JS code that was run?

It looks like the kernel is not in a state that allows for scanning:
[code]

1. Create connection
2. Cancel create connection
3. Start scanning

[2015-05-14 18:14] LookingSharp commented on #176
@sandeepmistry Ok, but for this captured iteration I called start scanning anyway (on accident).  And each of those error `0x0c` are followed by an `LE Set Scan Enable` that succeeded `0x00`.  I included a lot of the dump there, but I'd start from the top (instead of the tail, which I cut off the output).  The very first disallowed is only initializing noble and handling the status event, after wh

[2015-05-15 00:06] sandeepmistry commented on #176
@LookingSharp good information, but let's take a step back.

What would really help is the exact code you are running and the steps you go through that causes you to occasionally run into the issue. It would be even better is you get the code and steps down to a minimum. In conjunction with this, the ``hcidump`` with markers as to what was going on at that time code/step wise.

I'd really like to

[2015-05-15 00:18] LookingSharp commented on #176
@sandeepmistry I'd love to get it down to the minimal code and steps, but it is an inconsistent repro which is why I was hoping the dump above is enough.  It repro'd twice in a row yesterday, but no luck at all today.

I've got a slimmed down app that I'll keep trying to get a repro on.  Wish me luck.

[2015-05-15 00:29] sandeepmistry commented on #176
@LookingSharp care to share the code you have so far?

[2015-05-15 00:43] LookingSharp commented on #176
@sandeepmistry Sure, here is a slimmed down version so far - though I haven't repro'd it with this slimmed version yet.  This is pretty simple - not doing any discovery of services or characteristics.
[code]

[2015-05-15 00:45] sandeepmistry commented on #176
@LookingSharp thanks! So are you just leaving it running or do you start it and ctrl-c it + restart it?

[2015-05-15 00:47] LookingSharp commented on #176
Start, ctrl-c, restart.

General dev pattern is to run `node ble.js`, observe output, let it run while I churn on the code or do other things, sync new `ble.js`  to the pi, ctrl-c, `node ble.js`.

[2015-05-15 01:03] LookingSharp commented on #176
@sandeepmistry I updated the code above to add a `peripheral.on('disconnect'` handler, which is necessary if the connect times out during connection and no `peripheral.on('connect'` is sent.

[2015-05-15 01:14] LookingSharp commented on #176
For some reason sometimes I am getting this error now, which I haven't seen before.
[code]

[2015-05-15 13:24] ara2006 commented on #176
Hello Sandeep

As we talked via e-mail I need to take the battery level and temperature from the sensoro brand beacons and when I run the code below

var noble = require('./node_modules/noble');

noble.on('discover', function (peripheral) {
    peripheral.connect(function (error) {
        console.log('connected to peripheral: ' + peripheral.uuid);
        peripheral.discoverServices(['180f'], fun

[2015-05-15 15:04] buissonth opened #184 "No callback after characteristic.write"
Hello,

I am try communicating between my iPhone iOS8.3 and my Edison.
But I have no callback when I write on characteristic.
However, it works when I replace my iPhone by my Macbook air.

You can find the debug :
root@edison:~/node_modules/noble/examples/pizza# DEBUG=l2cap-ble node imu.js
Scanning BLE device...
found peripheral: { localName: undefined,
  txPowerLevel: undefined,
  manufacturerDat

[2015-05-15 18:44] LookingSharp commented on #176
Likely it didn't find your service at all.  When you get called back, I believe services could be empty.  Try something like this -

[code]

[2015-05-16 07:00] freehaha commented on #136
sorry for delaying this.. been busy lately.

Here are some more logs with the testing source code:
https://gist.github.com/freehaha/34f9fb2849f2bc9c0296

the flow is:
1. discover peripheral
2. connect
3. get a particular characteristic and `Char.notify true` (setNotiifcation)
4. without waiting for the above to complete, discover the descriptors in this Char. and write some value to it.

Basically

[2015-05-16 12:45] sandeepmistry commented on #176
@ara2006 Let's keep issues focused on a single topic, to avoid noise.

It would be best to ask your question on gitter: https://gitter.im/sandeepmistry/noble

[2015-05-16 12:50] sandeepmistry commented on #176
@LookingSharp I've pushed a change (https://github.com/sandeepmistry/noble/commit/be17d4f25b18081398d860350c50e32c11e7527a) for you to try out. You'll need to pull the changes and then run ```node-gyp rebuild```

I was able to reproduce the by running ```sudo hcitool lescan``` in a separate window then start noble start scanning. It might not exactly what you we're seeing, hard to say.

[2015-05-16 12:55] sandeepmistry commented on #174
@rosek86 some notes on the OS X side:

XPC event on API initiated disconnect
[code]

Timeout or remote device connect:
[code]

So on OS X we might not be able to determine the exact reason (code), but when can tell if it's API initiated or not. Would this be "good enough"?

Have you made any progress on the Linux front?

[2015-05-16 14:56] sandeepmistry commented on #184
@buissonth a write error is received:
[code]

0x0e maps to the error code "unlikely". Write errors are currently not handling ...

[2015-05-16 15:49] sandeepmistry commented on #181
@LookingSharp implemented in https://github.com/sandeepmistry/noble/commit/180bf2f5291b008f2d3c23b9fdebe736b9d57d46

[2015-05-16 15:49] #181 closed

[2015-05-16 15:52] sandeepmistry commented on #156
@vielmetti updated to 2.2.0 in https://github.com/sandeepmistry/noble/commit/a9065eabe364f5d8bc2de3128e7714580ba40444

[2015-05-16 15:52] #156 closed

[2015-05-16 16:46] sandeepmistry commented on #119
@ykro @rwaldron have you had a chance to look into this?

[2015-05-20 04:31] alfian777 commented on #183
hi @duyhotan2000 , what device you are working on? i tried to simulate your condition with my TI sensortag, and implement @LookingSharp Solution by manually call

[code]

And everything works fine.

[2015-05-23 03:27] duyhotan2000 opened #186 "Duplicate discover not working"
Hello,

I use function noble.startScanning([],true) to discover peripherals with duplicate option, but it call the discover callback only first time, also disconnect the connected peripheral

This function works on my computer but doesnt work on my friend computer, both have Ubuntu 14.04 installed. My Raspberry Pi with Raspbian also doesnt work.

[2015-05-23 13:19] sandeepmistry commented on #186
@duyhotan2000 does ```sudo hcitool lescan --duplicates``` work?

Are you both using the same USB Bluetooth 4.0 adapter? What about kernel version?

[2015-05-24 04:16] duyhotan2000 commented on #186
On my computer and my friend's both installed Ubuntu 14.04 with Linux 3.12 kernel.
My computer works fine on built-in Atheros bluetooth adapter, and my friend's adapter is built-in Broadcom chipset

On the Raspberry Pi I use iBuffalo adapter with Cambridge Silicon Radio chipset with latest 3.18 kernel. When I run 'sudo hcitool lescan --duplicates' and without '--duplicates', it has the same output

[2015-05-27 14:53] rwaldron commented on #119
@sandeepmistry confirmed that this issue still exists.

`g++ -v`:

[code]

[2015-05-27 15:00] sandeepmistry commented on #119
@rwaldron are you at JSConf?

[2015-05-27 15:17] rwaldron commented on #119
@sandeepmistry I am. Once I compared the output from my `gcc -v` and yours, it occurred to me that I had a very out of date xcode, so I'm downloading that now.

[2015-05-27 16:48] ykro commented on #119
@sandeepmistry Everything worked after updating xcode

[2015-05-27 17:44] rwaldron commented on #119
No more failures! As soon as I have a chance to try an actual device, I will report back

[2015-05-27 17:46] sandeepmistry commented on #119
@rwaldron @ykro awesome!

[2015-05-30 12:22] ukBaz opened #188 "Error: Noble not installing on a Raspberry 2"
Trying to install [uri-beacon-scanner](https://github.com/sandeepmistry/node-uri-beacon-scanner) and I'm getting an error when it installs noble.

Has anyone been successful with an install of Noble on Raspberry Pi 2?

Report from terminal and npm-debug.log

////////////////////////////////////////////////////////////////////////

## Terminal:
[code]

//////////////////////////////////////////////

[2015-05-31 19:37] sandeepmistry commented on #119
Everyone seems happy, closing.

Lessions learned:
1) Use latest Xcode
2) Try rebooting if ```--with-gxx-include-dir=/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator8.3.sdk/usr/include/c++/4.2.1```

[2015-05-31 19:37] #119 closed

[2015-05-31 19:40] sandeepmistry commented on #186
@duyhotan2000 have you tried an alternative Bluetooth 4.0 USB adapter? Have you tried the CSR on your Ubuntu computer?

This looks more like a kernel/driver/hardware issue than a noble issue, as ```hcitool``` is producing the same behaviour.

[2015-05-31 19:45] sandeepmistry commented on #188
@ukBaz please see prerequisites section in the read me: https://github.com/sandeepmistry/noble#prerequisites

[2015-05-31 19:45] #188 closed

[2015-06-01 00:55] duyhotan2000 commented on #186
WIth build-in adapter on my computer, when I use kernel 3.13 it's work well, but not with newer kernel
On my RPi, it looks like a issue with my CSR adapter, which dont work with my Ubuntu computer

Thanks for your answer!

[2015-06-01 23:23] sandeepmistry commented on #186
@duyhotan2000 no problem. I'm closing as it's not an issue with noble ...

[2015-06-01 23:23] #186 closed

[2015-06-02 03:10] duyhotan2000 commented on #186
Is noble tested with Raspbian and can you tell me the kernel version and bluez you used?

[2015-06-02 10:56] rosek86 opened #190 "Unhandled signals in linux binding"
Hi,

It's possible that some signals send to hci-ble.c are not handled, this issue occurs when I try to call stopScanning function and immediately startScanning. There is no signal queue in hci-ble.c, so only one of these signals will be received. The hci-ble.js doesn't wait for confirmation from hci-ble.c that the signal was handled too before emitting scanStart or scanStop events.

Eventually ou

[2015-06-02 11:18] rosek86 opened #191 "l2cap-ble unhandled exceptions"
Hi, occasionally I receve these two unhandled exceptions from noble:

fatal: uncaughtException: TypeError: Cannot read property 'stdin' of undefined
at L2capBle._queueCommand (/usr/jrd/app/node_modules/noble/lib/linux/l2cap-ble.js:232:21)
at L2capBle.exchangeMtu (/usr/jrd/app/node_modules/noble/lib/linux/l2cap-ble.js:327:8)
at nobleBindings.onConnect (/usr/jrd/app/node_modules/noble/lib/linux/bind

[2015-06-02 23:25] sandeepmistry commented on #186
@duyhotan2000 Rasbian, BlueZ 4.99.

[code]

[code]

[2015-06-02 23:41] sandeepmistry commented on #191
@rosek86 what devices do you have in range?

[2015-06-03 04:29] duyhotan2000 commented on #186
Thank you so much! I gotta buy a Broadcom chipset adapter (Pluggable BT4LE)
Noble is a great module. I used it for my graduate thesis.

[2015-06-03 07:14] rosek86 commented on #191
@sandeepmistry We have a few property devices all based on nRF51822, usually noble connects to these devices without any problem but very occasionally our application crashes due to these exceptions.

[2015-06-03 10:50] sandeepmistry commented on #186
@duyhotan2000 sounds good! You can also try out these adapters: https://github.com/sandeepmistry/noble/wiki/Compatible-devices#linux

Is your graduate thesis online? I'd love to take a look at it if it is ...

[2015-06-04 13:05] bragma opened #193 ""once" internal events may never be removed (and be incorrectly triggered later)"
Hi, while working with noble we've found several problems related to devices being disconnected while in-between noble calls.The disconnection is not a problem by itself, but those "once" events set in the various methods are, since they are never removed and may trigger later.

The typical noble method implementation pattern is:

[code]

The problem is that if the device disconnects after the eve

[2015-06-04 23:52] sandeepmistry commented on #193
@bragma correct, I've been delaying fixing this, but it needs to be addressed.

I agree with your assessment, step 1 isn't too bad and suggestion 2a should not be that ugly. I think it just needs to trickle down the disconnect event to services, characteristics, descriptors from peripheral. The tricky part is knowing what operation is pending, and if there are any non-internal listeners attached w

[2015-06-05 04:44] duyhotan2000 commented on #193
I remembered that sandeepmistry has temporarily fixed this problem in a topic before

[2015-06-05 11:46] bragma commented on #193
The idea is to emit for all possible event types, so we don't need to know which operation is pending. If none is listening, the emit will go waste but not cause any problem. I don't see the need for discriminating between  internal and "non-internal" listeners: non internal will still be waiting for events that will never come, if the peripheral disconnects. If they receive an error, they should

[2015-06-05 13:25] shiva02 opened #196 "Multi"
Hi,
Is it possible to communicate with several Bluetooth devices at the same time ?
And if so would you have an example or an idea ?
Thanks a lot.

Best regard

Shiva

[2015-06-05 13:26] shiva02 opened #197 "Communicate with several Bluetooth devices"
Hi,
Is it possible to communicate with several Bluetooth devices at the same time ?
And if so would you have an example or an idea ?
Thanks a lot.

Best regard

Shiva

[2015-06-05 16:23] #196 closed

[2015-06-06 16:12] sandeepmistry commented on #193
@bragma I'd like to keep the same consistent for now. What do you think about something like this?

[code]

Shifting towards an noble internal ```_broadcast``` event, which then gets converted to an external event.

[2015-06-06 16:13] sandeepmistry commented on #197
@shiva02 it's pretty much the same as one device.

You just need to continue scanning, instead of stop scanning after you discover one device.

[2015-06-06 16:13] #197 closed

[2015-06-06 18:07] rosek86 commented on #193
Hi guys,

Have you seen 'Production Practices' on error handling from Joyent?
https://www.joyent.com/developers/node/design/errors

I think it's good to follow best practices suggested by language designers. One thing which I've noticed there is:

"If you want to deliver an error asynchronously, You generally want to use one or the other of these (callback or event emitter), but not both."

I wond

[2015-06-06 18:37] rosek86 commented on #83
@sandeepmistry If you consider to merge this PR, I'd need to check default parameters which bluez uses first. Let me know if you have any comment regarding l2capBle part. Thanks

[2015-06-07 08:33] shiva02 commented on #197
Thanks a lot

[2015-06-08 14:16] bragma commented on #193
@rosek86 as you point out, there is probably an overuse of events in noble. Maybe the idea was to keep consistent. Still I think going back to callbacks would require some mayor rework on the code, in particular the bindings.

[2015-06-09 01:17] sandeepmistry commented on #193
@rosek86 thanks for the link, it makes sense to drop the ```broadcastError``` event, however I would still like success events (mostly to maintain API compatibility).

Here's where I'm at:

[code]

[2015-06-09 01:21] sandeepmistry commented on #83
@rosek86 how were you thinking setting the connection interval will work?

I'd prefer if it was handled in the same way OS X does it (I don't know the specifics). Having a Linux only API is an option, then apps will not be cross platform if they use it.

[2015-06-09 14:49] bragma commented on #193
@sandeepmistry there is something strange in the code you suggest. I don't understand the logic. If a callback is specified, you call it but pass only an error, which may be null. Still, you call the event if there is no error. Or, reading it in another way, if there is an error you call the callback, else you call both the callback and the event.
Seems very confusing to me.

[2015-06-09 19:20] rosek86 commented on #83
@sandeepmistry in the next step we could add e.g. setConnectionParams function in NobleBindings & Noble. The setConnectionParams would accept values in milliseconds and then these values will be translated into platform specific values in NobleBindings. I believe that these params should be a standard for all platforms as they're well described in the Bluetooth 4 specification (I may be wrong here

[2015-06-09 19:55] rosek86 commented on #193
I agree with @bragma that this code is a bit confusing. @sandeepmistry I think we need at least pass a result (state in the example) to a callback:

[code]

I think that emitted events should be called on error too in this way:

[code]

This would be very useful for a 'data' event, e.g. when application waits for data using once function we need to make sure that callback is executed even though t

[2015-06-10 08:46] duyhotan2000 commented on #186
I have just uploaded my project to github https://github.com/duyhotan2000/BLEGateway
You can run it by command "node main-server.js" and browse "localhost:8081" with user: admin, pass: admin

[2015-06-10 13:12] duyhotan2000 commented on #186
@sandeepmistry I have bought a Plugable dongle and it works well on Raspberry Pi with 3.13 kernel, but not with latest 3.18 kernel. It can only connect to one peripheral at a time. Please help me!

[2015-06-10 19:37] alistairjcbrown opened #199 "Characteristic write event not triggering on OSX Mavericks"
I'm using `voodootikigod/node-rolling-spider` module, which uses `noble` as the underlying bluetooth connection library, and attempting to connect to a Parrot Rolling Spider drone.
The [sample code they provide](https://github.com/voodootikigod/node-rolling-spider#taking-off-moving-and-landing) connects, runs the setup, but hangs on handshake.

Digging into `node-rolling-spider`, it looks like it

[2015-06-10 20:09] sandeepmistry commented on #199
@alistairjcbrown Could you please try with the latest noble version in Github.

https://github.com/sandeepmistry/noble/commit/ffa0f178ed43467558a0c66ef7c69ad1f25fe783 should fix it. If that works, I can publish a new version to npm and we can update node-rolling-spider to use it.

I've tested a similar patch on OS X 10.8 with someone at JSConf, and it resolved the problem.

[2015-06-14 10:52] uhunkler opened #200 "npm install problem - yosemite 10.10.3 - node 0.12.4 - npm 2.11.2"
I also get the »node-gyp rebuild« error when I try to install noble. I have updated node and npm to the latest versions. I tried to install it on 2 yosemite computers getting the same error.

What I wonder is why the »node-gyp rebuild« works for »xpc-connection« but not for »noble«. Any help is very welcome.

npm install noble
-

  CXX(target) Release/obj.target/binding/src/XpcConnection.o
  SOLIN

[2015-06-14 11:00] uhunkler commented on #200
g++ -v:
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.10.sdk/usr/include/c++/4.2.1
Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
Target: x86_64-apple-darwin14.3.0
Thread model: posix

[2015-06-14 11:21] uhunkler commented on #200
I tried to change the $PATH to
/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/X11/bin

[2015-06-16 15:22] bragma opened #201 "Support for win32 using the websocket binding"
Hi,
as an alternative to https://github.com/sandeepmistry/noble/issues/84, why not allowing to install on windows and use the websocket client binding? It may be useful for testing and remote sensors.
Changes should be small:

In package.json, add "win32"

[code]

In lib/noble.js, detect "win32" platform and use the websocket binding

[code]

I can provide the PR if you agree.

[2015-06-17 08:03] bragma commented on #193
Probably the best solution is to use callbacks (if provided by the user) and emit events just in case someone wants to subscribe, but in this case is user's responsibility to use once, on and remove the listeners when required. The user should be allowed to provide a callback, or null if he wants to use events.

It requires a major rework of current code base. In the meanwhile, while I am not a bi

[2015-06-18 07:05] sonkrishna opened #203 "Service and Characteristic name not configurable"
Hi Sandeep,

Hope you are doing great!

We followed your node module and wrote code on BLE and its working. However Service and Characteristic name are not configurable. It's coming like UNKNOWN SERVICE , UNKNOWN CHARACTERISTIC.

Your valuable input will be highly appreciable.

Thanks in advance!

Regards,
Krishna

[2015-06-18 10:23] bragma commented on #201
@loghorn great submission, I hope it will be accepted soon!

[2015-06-19 08:28] bragma commented on #203
Hi @sonkrishna, I'm not sure about what you are trying to do, but service and characteristic names are defined in lib/characteristics.json and services.json. Have you checked that the service and characteristic UUID you receive from the device are present in those files?

[2015-06-24 21:51] sandeepmistry commented on #203
@sonkrishna this is expected behaviour, only Bluetooth SIG approved UUID's have non-unknown name values.

https://developer.bluetooth.org/gatt/Pages/default.aspx

[2015-06-24 21:51] #203 closed

[2015-06-24 22:04] sandeepmistry commented on #186
@duyhotan2000 I'm away from home currently, but I believe no issues with the 3.18 kernel and multiple connections.

Please open a new issue for this, as it is unrelated to the original topic. Also, the results for scanning via ```hcitool``` while attempting to connect to multiple devices manually using ```gatttool``` just to rule out noble vs the kernel.

[2015-06-24 22:18] sandeepmistry commented on #200
@uhunkler can you please try creating a ```src/dummy.c``` with an empty main method.

Then adding something like this to the ```binding.gyp```:

[code]

[2015-06-24 22:28] sandeepmistry commented on #193
@bragma @rosek86 I still don't think there is anything strange with the following:

1. An internal ```_broadcast``` event listener is added.
2. If a callback is supplied, it is called with an error parameter - which is most likely null, to indicate no error. There is no need to pass ```state```, it not standard Node.js style from my understanding. In this case the value will be the same as the ```

[2015-06-24 22:33] sandeepmistry commented on #83
@rosek86 I'd like to better understand how OS X handles this before moving forward. There is no API call in CoreBluetooth to set the connection interval. I'm wondering if it picks something based on the [Peripheral Preferred Connection Parameters](https://developer.bluetooth.org/gatt/characteristics/Pages/CharacteristicViewer.aspx?u=org.bluetooth.characteristic.gap.peripheral_preferred_connection_

[2015-06-25 08:00] bragma commented on #193
It seems to me that the callback(err, data) is fully Node.js style indeed (see https://docs.nodejitsu.com/articles/getting-started/control-flow/what-are-callbacks). I don't like it, because of http://callbackhell.com/ (and I hope soon promises will be available) but again if you give it a look and also look at the entire Node.js API, when callbacks are present the standard is callback(err, argumen

[2015-06-25 23:50] aderhgawen opened #204 "Problem connecting to bluetooth peripheral on Linux"
I have been experiencing difficulties connecting to a bluetooth device (a [Lightblue Bean](https://punchthrough.com/bean/) from Punch Through Design) with a Raspberry Pi. It works fine for a couple of minutes, but then it hangs. I wrote a simple javascript file that connects and disconnects to the bluetooth device to see how long it runs without stalling. This code seems to run fine on my Mac, but

[2015-06-26 07:46] rosek86 commented on #83
@sandeepmistry I've found apple's 'bluetooth design guidelines', p.22 'Connection Paremeters':
https://developer.apple.com/hardwaredrivers/BluetoothDesignGuidelines.pdf

It seems that on Mac the accessory is responsible for connection parameters:

"The accessory isresponsible for the connection parameters used for the Low Energy connection. The accessory should request connection parameters approp

[2015-06-26 07:51] rosek86 commented on #193
+1, and when you use callback(err, data) convention you can use libraries like async, e.g. do all BT LE request in series and handle results at the end.

[code]

which reduces callback hell a bit.

[2015-06-26 08:29] sandeepmistry commented on #193
Totally agree on the ```read``` scenario.

The ```broadcast``` API I was referring to was an action API (you are enabling/disabling broadcast mode on a characteristic). This is similar to a ```write``` operation, I don't think it's convention to return the data that was written to the callback.

[2015-06-26 08:30] sandeepmistry commented on #83
@rosek86 thanks for looking into this!

So it's sounding like we don't need an API to set the connection interval if we let the peripheral decide?

[2015-06-26 08:39] rosek86 commented on #83
@sandeepmistry Yes, this means that the connection parameters logic is moved from a central to a peripheral. Personally we'd need to modify peripheral devices to request certain connection intervals and update these intervals when condition changes (for instance we need shorter connection intervals during data transmission but longer intervals during DFU).

The peripheral device can set min & max

[2015-06-26 08:56] bragma commented on #193
@sandeepmistry I agree, sorry if I contributed to the misunderstanding. I'm not saying that all methods should return the "input" data as "output" on the callback. But if the purpose of the method is to "read" or gather some data and the operation, even if async, gathers the result in a single step, it should pass it to the callback. So if the main purpose of the method is to "write" something and

[2015-07-01 01:22] DomiR commented on #200
The dummy works

[2015-07-03 06:01] kaiser-ren opened #206 "When I install noble on my MAC, the error is like this."
Below is debug.log, please view. If you need my further help, please let me know.

[2015-07-03 06:01] kaiser-ren commented on #206
0 info it worked if it ends with ok
1 verbose cli [ 'node', '/usr/local/bin/npm', 'install', 'noble' ]
2 info using npm@2.11.2
3 info using node@v0.12.5
4 verbose install initial load of /Users/renkai/Desktop/git/SIG/nodejs/package.json
5 warn package.json node-api@ No description
6 warn package.json node-api@ No repository field.
7 warn package.json node-api@ No README data
8 warn package.json no

[2015-07-05 15:15] sandeepmistry commented on #204
@aderhgawen what kernel version are you using?

Could you add some logging to handle the connection error scenario? Then provide a Gist of the updated code, log output, and hcidump capture.

[2015-07-05 15:17] sandeepmistry commented on #83
@rosek86 that sounds good. Closing this issue then.

[2015-07-05 15:17] #83 closed

[2015-07-05 15:20] sandeepmistry commented on #193
@bragma we are on the same page, I'll add this to my TODO list.

[2015-07-05 15:30] sandeepmistry commented on #200
Fixed by @DomiR via #205.

[2015-07-05 15:30] #200 closed

[2015-07-05 15:46] sandeepmistry commented on #206
@kaiser-ren can you please provide the output from the console as well?

I'm guessing it's related to #200  ...

[2015-07-06 18:50] aderhgawen commented on #204
Kernel version: 3.18.14-v7+

The code works fine in debugging mode if I have breakpoints at certain points. If I have a breakpoint right before the "peripheral.disconnect", it works fine. However, if I have a breakpoint inside the callback for peripheral.disconnect, it stalls. See my comments in this code - https://gist.github.com/aderhgawen/2efcb648d0abc5eb5dca

This is what the hcidump output lo

[2015-07-06 22:05] aderhgawen commented on #204
I seem to have found the place where the problem begins. The problem is in peripheral.js:

[code]

Setting a breakpoint before ```  this._noble.disconnect(this.uuid);``` makes the program work more consistently. I am guessing there is some timing issue - The device doesn't finish disconnecting and Noble starts scanning again.

Your thoughts?

Thanks!

[2015-07-07 23:10] sandeepmistry commented on #201
As per #202, closing this request for now.

[2015-07-07 23:10] #201 closed

[2015-07-08 00:09] aderhgawen commented on #204
@sandeepmistry <b>Another update:</b> Digging deeper into the issue revealed that the problem starts in l2cap-ble.js. I modified the original disconnect function:

[code]
I modified this and added a 500 ms delay before sending the signal:

[code]
This made it considerably more stable, and my test code successfully connected/disconnected more than 100 times. Without this, it rarely runs more than 1

[2015-07-08 07:11] rosek86 commented on #204
@aderhgawen Can this be related to #190? I had very similar behaviour due to unhandled signals in the C part of noble. Can you try apply #192 PR which I've prepared a while ago and let us know if this fixes your issue?

you can apply the fix and then run 'npm rebuild noble' to re-compile C part.

[2015-07-08 18:24] mvines opened #207 "Error code from an attribute write-with-response is not propagated out of noble"
When a peripheral returns an error for an attribute write request, the resulting error code is not provided to the noble user.  Taking the Yosemite bindings as an example, `args.kCBMsgArgResult` [1] is not *emitted* in any way.

[1] https://github.com/sandeepmistry/noble/blob/180bf2f5291b008f2d3c23b9fdebe736b9d57d46/lib/mac/yosemite.js#L562

[2015-07-08 23:35] aderhgawen commented on #204
@rosek86 That does fix the issue to a large extent! Great job. It just needed better signal handling. My program still hangs occasionally, and I get "LMP Response Timeout" on the hcidump log.

[code]
Any idea why this could be happening?

In your hci-ble.c code:
[code]
Why don't you check if the first statement (disable scan) executed successfully or not?  ```hci_le_set_scan_enable(hciSocket, 0x00

[2015-07-09 07:17] rosek86 commented on #204
@aderhgawen I'm glad that this fixes your issue a bit. I don't know what the 'LMP Response TImeout' means, I'm afraid. I'll have a look on the core specification in a spare time. Do you send/receive anything to/from your peripheral or simply establish a connection and get the timeout after a while?

Regarding your question about scan disable statement, I've noticed that the statement is there to '

[2015-07-10 11:28] OJFord opened #208 "Notify only triggered once (on setup)"
At first I thought I was experiencing https://github.com/sandeepmistry/noble/issues/136, but where that issue describes execution stalling, with no callback, instead I'm not getting the events at all (i.e. program continues, without notification).

- Peripheral notifications known working, as tested with 'nRF Master Control Panel' for Android
- Simple debug handler: `characteristic.notify(true, fu

[2015-07-10 12:05] OJFord commented on #175
Same UUID characteristics in different services work fine for me. (Maybe this has been fixed but not closed?)

Are same-UUID services, or same-UUID characteristics within a service even legal?

[2015-07-10 12:16] #208 closed

[2015-07-10 12:24] OJFord commented on #208
I realise after reading [the 'getting started' section](https://github.com/sandeepmistry/noble/wiki/Getting-started#user-content-getting-notified-on-characteristic-value-change) again that `.notify(enable, callback(error))` is indeed only a setup.

In my opinion this is not clear from [the pizza example](https://github.com/sandeepmistry/noble/blob/master/examples/pizza/central.js#L139), and somewh

[2015-07-11 06:49] oroce commented on #193
I've been thinking on this issue since it was created.

I wouldn't go with `(err, result)` signature in events, because that's unfamiliar for every node developers.
I think we could keep (for at least now) the events but and try out something small (huge refactor will cause a lot of bugs).

Express.js team addressed team with a pretty slick way, using [`ee-first`](https://github.com/jonathanong/ee

[2015-07-11 15:52] BorisKourt opened #209 "[node-gyp] Rebuild error back(?) on multiple macs."
Hello,
I have seen a few issues and commits related to this recently but can only find  #206  active now, and am not sure if it is related.

I remember having this issue a few months ago, and that it went away for a long while.

Tested it on a bunch of 10.10.3 Macs. Here is the npm error message:

[code]
I get a similar one on a fresh setup as well.

Do you want the `npm-debug.log`?

Thanks

[2015-07-11 20:34] sandeepmistry commented on #206
@kaiser-ren any updates

[2015-07-11 20:35] sandeepmistry commented on #209
@BorisKourt the fix (#205) was not published to npm.

It's included in the v1.0.2 release that I've published now.

[2015-07-11 20:35] #209 closed

[2015-07-11 20:38] sandeepmistry commented on #208
@OJFord please submit a Pull Request for your suggested change to the read me.

[2015-07-12 03:27] BorisKourt commented on #209
Thank you!

[2015-07-12 12:53] kofno opened #210 "Can't connect to a LightBlue Bean from OS X"
I'm running master because it wouldn't compile without the fix from #205. When I try to connect, the code appears to work, but the peripheral never gets out of the 'connecting' state. LightBlue app on my iPhone can talk to the Bean just fine.

Here is my example code and the full out put with debugging on:
https://gist.github.com/kofno/94d9c1b90350845f923f

[2015-07-12 15:27] sandeepmistry commented on #210
@kofno can you please try connecting with LightBlue for OS X? https://itunes.apple.com/ca/app/lightblue/id639944780?mt=12

If that doesn't work, kill blued and try again: ```sudo killall blued```

[2015-07-12 15:36] sandeepmistry commented on #193
@oroce thanks for suggesting ```ee-first```, it looks like a good fit.

I've pushed my WIP for "private events", which was discussed with @bragma and @rosek86 above: https://github.com/sandeepmistry/noble/tree/private-events

@bragma @rosek86 what are your thoughts on ```ee-first``` vs "private event"?

After the "disconnect" issue is resolved, the next step is allowing the bindings to propagate e

[2015-07-12 16:35] kofno commented on #210
So, I couldn't get all that to work, so in frustration, I REBOOTED ALL THE THINGS! Now everything seems to be working. Sorry to have bothered you. Thank you for your help.

[2015-07-12 16:35] #210 closed

[2015-07-13 17:06] aderhgawen commented on #204
@rosek86 I don't send/receive anything, and my script basically just connects to the peripheral and disconnects. I wrote this script to test how reliable noble is on Linux. My script runs without ever stalling on Mac, but I get the LMP response timeout error on Linux. Your changes have definitely made it more stable, but I still get that timeout error. Here is the script I am using to test noble -

[2015-07-14 05:43] kaiser-ren commented on #206
Sorry, now I can use noble in my Mac, I should close this issue.

[2015-07-14 05:43] #206 closed

[2015-07-14 15:55] gbrault opened #212 "Documentation: a proposal"
I start documenting your code: are you intersted to get this documentation. I use JSDoc comments.
For example:

/**
 * discover services
 * @param uuids call it with [] to discover all primary services
 *
 *
 * when all services discovered
 * set this._services for each services [{startHandle, endHandle, uuid}]
 * emit servicesDiscover event
 */
L2capBle.prototype.discoverServices = function(uuids

[2015-07-14 21:20] yasdfgr opened #213 "Connect and write to a peripheral without scanning (address and handle is known)"
Is it possible to connect to a peripheral without scanning?
I have all addresses xx:xx:xx:xx:xx:xx.
How can i do that?

Is it possible to create a peripheral object by my own and simply use the methods connect() and writeHandle()?

[2015-07-15 21:57] inf3rno commented on #84
+1

[2015-07-15 22:04] yasdfgr opened #214 "Is there a maximum of parallel BLE Connections? Only 5 are working!"
I have the following Blutooth-Dongle on Raspberry Pi. I scan and connect one after one of my devices (i want to use 30, i tested it with 9). After some time my program says, ok - 9 devices connected.
By the way, i figuered out that i should do only one connection attempt at a time - so i block new connections until the one started returns (callback of connect). Otherwise there will be some strange

[2015-07-16 15:20] littlemonkey commented on #213
I also think this function is very valuable!

[2015-07-18 10:31] janeksz opened #215 "unable to install on macbook pro"
Hi,
I am unable to install noble on my MacBook pro running OSX Yosemite 10.10.4
The cursor is spinning for a moment and later hangs forever and nothing happens, so I need to press CTRL-C :

^Csh-3.2# sudo npm install sensortag
sensortag@1.0.1 node_modules/sensortag
└── noble-device@1.0.2
sh-3.2# npm install noble
-

????
Any advice, please?
Jan

[2015-07-18 10:43] janeksz commented on #215
Problem solved, sorry.
Please disregard previous post.
Jan

[2015-07-18 10:43] #215 closed

[2015-07-19 13:00] Netfreak25 opened #216 "specific nodejs version for noble"
Hey Sandeep,

I recently bought a dongle to integrate the flower powers into my home system and wanted to use noble/flower-power through my raspberry. I updated the repo and installed nodejs and npm but I was unable to install noble and flower-power.

I had to uninstall nodejs from the repo and install http://nodejs.org/dist/v0.11.12/node-v0.11.12-linux-arm-pi.tar.gz manually in order to get it ru

[2015-07-19 13:50] sandeepmistry commented on #199
@alistairjcbrown closing, this change has been published to npm, and node-rolling-spider is now using the latest version of noble: https://github.com/voodootikigod/node-rolling-spider/pull/57 thanks to @mcollina

[2015-07-19 13:50] #199 closed

[2015-07-19 13:54] sandeepmistry commented on #175
@OJFord it's still an issue.

Yes, a peripheral can have one or many services with the same UUID, and one or many characteristics with the same UUID in a sever.

[2015-07-19 13:59] sandeepmistry commented on #212
@gbrault I'm be open to using JSDoc comments.

I'm working on changing the Linux side to use [bluetooth-hci-socket](https://github.com/sandeepmistry/node-bluetooth-hci-socket), see this branch: https://github.com/sandeepmistry/noble/tree/bluetooth-hci-socket

Maybe we should wait until that is done? Then you can submit a pull request with your changes.

[2015-07-19 14:02] sandeepmistry commented on #214
@yasdfgr can you please provide an ```hcidump``` capture: ```sudo hcidump -t```

Also, have you checked what the behaviour of ```gatttool``` with 9 peripherals connected is?

[2015-07-19 14:04] sandeepmistry commented on #213
This is not be possible on OS X, so I haven't implemented it.

Work around for now is to start scanning and check ```peripheral.address``` on discover event.

[2015-07-19 14:22] sandeepmistry commented on #216
@Netfreak25 noble requires Node.js version 0.8 or greater, see [package.json](https://github.com/sandeepmistry/noble/blob/master/package.json#L22), you were initially trying to use it with 0.6.x  and npm 1.1.4 which are fairly old. Also, I would either recommend you switch to 0.10.x or 0.12.x, as the odd releases, 0.11.x are "unstable".

Please submit a pull request to add what you think is requir

[2015-07-19 14:22] #216 closed

[2015-07-19 16:26] yasdfgr commented on #213
I had the idea to compose a peripheral object on my own - but it seems not so easy. Would it work theoretically?

[2015-07-19 17:02] gbrault commented on #212
Just let me know when (and how) to test the use of this new branch with the cc2650stk and I can start documenting.

[2015-07-19 17:05] yasdfgr commented on #214
Ok, here first is my own app-logging.
I'm scanning for 9 devices, where the device names are known.
I have a list with the names. If the scanned device's name matches and it's not yet connect it will be.

You can see, one after one ist connecting.
Then i send several values to all devices.
The first time, seems good, but no reaction on devices.
Then you can see, only 5 send commands (0x52) are tra

[2015-07-19 17:19] yasdfgr commented on #214
Ok i've found something here:
http://stackoverflow.com/questions/25193975/gatttool-limited-to-5-connections

This limitation should be handled by noble.

[2015-07-21 19:02] yasdfgr commented on #214
I have new's. The [Broadcom BCM20702 Bluetooth Dongle ] (http://www.amazon.de/gp/product/B007MKMJGO/?ie=UTF8&camp=1638&creative=6742&linkCode=ur2&psc=1&redirect=true&site-redirect=de&tag=brandtlightin-21) **can handle up to 14 BLE device connections simulateous**.
And overall it's a lot faster than this one from [Cambridge Silicon Radio](http://www.amazon.de/gp/product/B00LSGUBLI/?ie=UTF8&camp=163

[2015-07-21 19:08] yasdfgr opened #218 "Feature request: handle multiple bluetooth dongles from noble"
I request the feature that noble can handle more than one bluetooth dongles in a system. This would be very helpfull for BLE mass applications, where the count of devices exceeds the maximum possible connections per dongle.

[2015-07-23 14:34] hansamann opened #219 "noble: Could not start scanning, state is unknown (not poweredOn)"
Hi Sandeep,

I've updraded node v0.12.7, mainly due to Promise support, now I am trying to run a demo code that once worked nicely. I'm on a Macbook, Bluetooth is turned on, but I get this:

noble: Could not start scanning, state is unknown (not poweredOn)

What can I do?

Thx!
Sven

[2015-07-23 14:46] hansamann commented on #219
OK, very weird. One of your examples that scans for advertisments works. I've added the code, with a tiny change to react just for a special service:

noble.on('stateChange', function(state) {
  if (state === 'poweredOn') {
    noble.startScanning(['a495ff10c5b14b44b5121370f02d74de']);
  } else {
    noble.stopScanning();
  }
});

The stateChange event is never fired. Do I need to kick it off some

[2015-07-24 08:41] PimButton commented on #214
@yasdfgr Did you test with more then 14 BLE devices or did you also ran out of devices? I might need to go all the way up to 20 and looking for a chip that will support it...

[2015-07-25 00:36] yasdfgr commented on #214
Yes, tested it. 14 connections were the maximum with this chip. Than it has the same behaviour like my first adapter with 5.

[2015-07-26 08:25] npenin opened #220 "The writeWithoutResponse on AlertLevel (1802) does not trigger anything on my pebblebee"
The writeWithoutResponse on AlertLevel (1802) does not trigger anything on my pebblebee nor my callback gets called whereas AlertLevel claims to support writeWithoutResponse.

This does not work
[code]

But this does.
[code]

Is this an issue in the documentation or somewhere else ? https://github.com/sandeepmistry/noble/wiki/Getting-started#writing-a-characteristic

[2015-07-26 14:35] sandeepmistry commented on #218
This can sort of be done now with multiple processes on Linux by setting an environment variable for each node process:

[code]

[2015-07-26 14:56] sandeepmistry commented on #219
@hansamann how early on are you registering the event listener? Maybe it has changed to ```poweredOn``` before you've registered. You can check ```noble.state```.

Also, take a look at the debug logs: ```sudo DEBUG=* node```

[2015-07-26 15:21] sandeepmistry commented on #220
@npenin it is a documentation issue, I've updated the getting started guide.

[2015-07-27 09:24] npenin commented on #220
Thank you very much for the udpate

[2015-07-27 09:24] #220 closed

[2015-07-30 02:40] lgaleana opened #221 "Ble-Bean installation"
Hi, I'm trying to install Ble-Bean, but I get the following error:

OSX 10.10.4
Xcode 6.4
Node 0.12.7

gcc --version

[2015-07-31 17:39] stumpygreg opened #222 "sensor tag fails to install - same fail to install noble"
After reading all of the posting I thought this would have been easy.  Installed command line tools after completely updating   Xcode.  Can build noble separately and test.js sees sensor tag.

Yosemite 10.10.4
Xcode 6.4

greglakomski@Gregs-MBP:~/Sensortag/iot-sensor-tag/publish$ g++ -v
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/

[2015-08-01 13:30] npenin opened #223 "scanning seems stopped after connecting to 1 peripheral"
Hi,

I start a discover with duplicated, but as soon as I connect to a device to read its characteristics, it does not trigger the discover event anymore. I have also tried to disconnect from it without success.

Any idea ?

Thanks.

[2015-08-02 15:15] sandeepmistry commented on #221
@lgaleana this has been fixed in a later version of noble, see https://github.com/sandeepmistry/noble/pull/205 However, ble-bean has some dependencies, that use an older version.

I suggest you try upgrading ble-bean to use [noble-device](https://github.com/sandeepmistry/noble-device) version 1.0.

cc/ @jacobrosenthal

[2015-08-02 15:15] #221 closed

[2015-08-02 15:32] sandeepmistry commented on #223
@npenin some others had reported this issue, see: https://github.com/sandeepmistry/node-sensortag/issues/37

I think it has something to do with the Bluetooth 4.0 adapter hardware or firmware and/or kernel version.

What are you using?

I have no problems with the following:

[code]

[2015-08-02 15:35] sandeepmistry commented on #219
@hansamann any updates can we close?

[2015-08-02 15:37] sandeepmistry commented on #176
@LookingSharp any updates on this? Can we close?

[2015-08-02 16:18] npenin commented on #223
Hi,

Here is what I have :
[code]

[2015-08-03 17:12] lgaleana commented on #221
What I did, before that, was downgrading my version of Node to .10 and npm to 2.10.1. I'll try what you said.

[2015-08-03 19:42] jainanshul opened #224 "Characteristics read not working from within a setTimeout callback"
[code]

[2015-08-04 12:41] versoul commented on #219
@sandeepmistry I have the same mistake on svezheustanovlenny system raspbian
noble status unknow allways
and
noble.state is unknow

[2015-08-04 16:34] versoul commented on #219
@sandeepmistry
dont work on my laptop also (ubuntu 14) and (raspberry)

but bluetooth is works fine
[code]

lsusb
[code]

[2015-08-04 19:31] sandeepmistry commented on #84
There's some experimental Windows support in the [bluetooth-hci-socket](https://github.com/sandeepmistry/noble/tree/bluetooth-hci-socket) branch.

It uses WinUSB to bypass the Windows Bluetooth stack and talk directly to the Bluetooth 4.0 USB adapter. This layer is handled by [node-bluetooth-hci-socket](https://github.com/sandeepmistry/node-bluetooth-hci-socket). You'll need to use [Zadig tool](ht

[2015-08-04 19:37] johneke commented on #84
AWESOME!!! +1

[2015-08-04 19:37] huysentruitw commented on #84
I'm always happy to inspire :)

[2015-08-04 19:45] sandeepmistry commented on #84
@huysentruitw :)

Similar Windows support is also available in the [bleno bluetooth-hci-socket branch](https://github.com/sandeepmistry/bleno/tree/bluetooth-hci-socket), if anyone wants to create a BLE Peripheral on Windows.

[2015-08-04 22:39] inf3rno commented on #84
@sandeepmistry Thanks! I'll check it out.

[2015-08-06 06:21] jainanshul commented on #224
FYI this is happening on OSX Yosemite.

[2015-08-06 21:02] cristian-t commented on #223
Hello, I've dealing with this issue as well, and what I found out is that most hardware does not support scanning and maintaining a connection at the same time. This means you have to discover all your devices first and then connect to them. If you want to start the discovery process again, you would have to terminate all connections, discover any new devices, and then reconnect.

[2015-08-08 09:30] taktran opened #225 "Declaring the `disconnect` callback has different functionality on different macs"
When we run `noblePeripheral.disconnect(callback)`, the callback is called on both a osx 10.8.5 and osx 10.10.3 machine, but on the newer osx 10.10.3 machine, our bluetooth hardware turns off after the `disconnect`, but on the osx 10.8.5 machine, it disconnects but doesn't turn the hardware off.

If we remove the `callback`, on both machines, the `disconnect` trigger doesn't turn the hardware off

[2015-08-10 00:11] sandeepmistry commented on #222
@stumpygreg 2 oddities from the log snippet:

1) You are using a fairly old version of npm 1.0.0. According to the [change log](https://raw.githubusercontent.com/joyent/node/v0.12.7/ChangeLog) Node.js 0.12.7 ships with npm version ```2.11.3```

2) A very fairly old version of node-sensortag and noble are attempted to be installed, 0.1.9 and 0.3.14, 1.0.2 is the latest version for both of those.

I

[2015-08-10 00:18] sandeepmistry commented on #219
@versoul looks like a different issue to @hansamann's.

What do the following commands output for you? The commands you are running are for normal Bluetooth, not BLE/Bluetooth 4.0 ...

[code]

[code]

[2015-08-10 00:22] sandeepmistry commented on #224
@jainanshul please provide a full code snippet, with debug output:

[code]

[2015-08-10 00:25] sandeepmistry commented on #223
@npenin thanks, looks like we are using similar USB adapters, but different kernel version.

@cristian-t thanks for the info.

After a device connects, can you try manually innovating scanning to see if works.

[code]

If this works, I'm happy to put this logic in noble.

In addition, could you try the [bluetooth-hci-socket branch](https://github.com/sandeepmistry/noble/tree/bluetooth-hci-socket).

[2015-08-10 00:31] sandeepmistry commented on #225
@taktran I haven't experienced this myself.

Can you please provide a short code snippet I can test on my Mac running 10.10.4?

[2015-08-10 00:52] sandeepmistry commented on #176
Closing due to inactivity ...

[2015-08-10 00:52] #176 closed

[2015-08-10 07:07] versoul commented on #219
[code]

[2015-08-10 09:10] volschin commented on #219
Your BT Adapter doesn't seem to fullfill the BLE standard.

[2015-08-12 15:09] sandeepmistry commented on #84
Initial Windows support via WinUSB has been merged into master.

See here for more info: https://github.com/sandeepmistry/noble#windows

Alternative methods to WinUSB might be introduced later on, depending on how the native Windows Bluetooth API's evolve. Controlling the Bluetooth 4.0 USB adapter directly means no comprises to the noble API. However the adapter cannot be used from Windows, when t

[2015-08-12 15:09] #84 closed

[2015-08-12 15:12] sandeepmistry commented on #177
noble now uses bluetooth-hci-socket instead of spawned (hci-ble and l2cap-ble) processes.

This issue should be resolved now.

[2015-08-12 15:12] #177 closed

[2015-08-12 15:15] sandeepmistry commented on #190
noble now uses bluetooth-hci-socket instead of spawned (hci-ble and l2cap-ble) processes.

This issue should be resolved now.

[2015-08-12 15:15] #190 closed

[2015-08-12 15:15] sandeepmistry commented on #191
noble now uses bluetooth-hci-socket instead of spawned (hci-ble and l2cap-ble) processes.

This issue should be resolved now.

[2015-08-12 15:15] #191 closed

[2015-08-12 15:16] sandeepmistry commented on #204
noble now uses bluetooth-hci-socket instead of spawned (hci-ble and l2cap-ble) processes.

This issue should be resolved now.

[2015-08-12 15:16] #204 closed

[2015-08-12 15:18] sandeepmistry commented on #212
@gbrault I've merged the branch into master.

How about you start document a small piece, then get feedback on it before continuing the rest?

[2015-08-12 15:18] sandeepmistry commented on #214
@yasdfgr can you please re-test this with what's on noble master?

[2015-08-12 15:21] sandeepmistry commented on #219
@versoul I agree with @volschin assessment. The HCI version needs to be version ``4.0 (0x06)``:

[code]

[2015-08-12 15:21] sandeepmistry commented on #219
Closing initial issue due to inactivity ....

[2015-08-12 15:21] #219 closed

[2015-08-12 15:22] sandeepmistry commented on #223
The ```bluetooth-hci-socket``` branch has been merged into master, so you can try it from there now.

[2015-08-12 15:42] yasdfgr commented on #214
@sandeepmistry I don't quite understand your question. What should i test exactly? Do you want a hcidump until i can't connect anymore?

[2015-08-12 18:55] gbrault commented on #212
Where should I start to make this first trial? Any preference?

[2015-08-12 22:10] theideasmith opened #226 "Build Failure on Mac"
## Problem

I'm really excited about the potential for this library, especially for using my brother's bluetooth controlled car, which has a bluetooth "API".

I've ran `npm install noble` and am hit with the error messages found below. I have read some issues on similar issues, and tried to do what they suggest, but to no avail. Here is my info.
**Running `which gcc` returns** `/usr/bin/gcc`
**Run

[2015-08-12 23:08] carlst opened #227 "Add peripheral.connectable property"
Could the LE Advertising Report `Event_Type` be passed up to the `discover` handler?

This is useful for deciding whether or not to attempt a connection (e.g. a Beacon is non-connectable).

[2015-08-12 23:15] theideasmith commented on #226
I've solved the problem. I was using `iojs`, not `node`. Don't know why that makes a difference, but it did for me.

[2015-08-13 13:55] sandeepmistry commented on #212
@gbrault how about the public facing API's? The ones in the read me, I think those would have most value. What do you think?

[2015-08-13 13:59] sandeepmistry commented on #214
@yasdfgr yes please.

The Linux side has been reworked to use [node-bluetooth-hci-socket](https://github.com/sandeepmistry/node-bluetooth-hci-socket). I'm wondering if the behaviour has changed. I expect the adapter to fail the create connection when over the limit ...

[2015-08-13 15:56] sandeepmistry commented on #227
@carlst would something like a ```peripheral.connectable``` property work? It would be set to ``true`` or ``false`` ...

[2015-08-13 16:01] sandeepmistry commented on #226
@theideasmith which version of ```iojs``` did you try with?

Please open an issue here: https://github.com/sandeepmistry/node-xpc-connection/issues and close this one.

```node-xpc-connection``` probably needs to be updated to use a new version of [nan](https://github.com/nodejs/nan) 2.0 or later based on the [changelog](https://github.com/nodejs/nan/blob/master/CHANGELOG.md#200-jul-31-2015). It i

[2015-08-13 16:44] carlst commented on #227
Yes, but for future expansion, it may also be helpful to retain other `Event_Type` information (undirected/directed, scannable).

I modified the pre-1.1.0 version for testing; `node-bluetooth-hci-socket` is a really nice addition, and will presumably make this change much cleaner.

[2015-08-13 17:56] TorstenRobitzki opened #228 "Could not start scanning, state is unknown (not poweredOn)"
Hello,
I've tried to scan for BLE devices:

    noble = require('noble')

    noble.startScanning();
    console.log "Scanning"

this results in a error message (?):

    noble: Could not start scanning, state is unknown (not poweredOn)
    Scanning

Is the code wrong or is the message wrong? Is intended, that a message is printed on the screen? Shouldn't an exception being thrown if a preconditio

[2015-08-13 18:12] carlst commented on #228
@TorstenRobitzki: you might try waiting for the state to become `poweredOn`:

`noble.on('stateChange', function(state) {
  if (state === 'poweredOn')
    noble.startScanning();
  else
    noble.stopScanning();
});`

[2015-08-13 18:40] TorstenRobitzki commented on #228
@carlst that works for me. Thank you! Is it intended to work this way? I mean I didn't plunged in or removed an BLE adapter.

[2015-08-13 19:28] carlst commented on #228
@TorstenRobitzki: Yes, that is per `noble` spec. Perhaps needed to wait until any BLE device initialization or setup done by `noble` has finished, and the BLE device is ready for scanning to be initiated.

You might take a look at some of the examples, such as `examples/peripheral-explorer.js`

They are useful to better understand the control flow (scanning, connecting, discovering Services, disco

[2015-08-13 21:04] carlst opened #229 "Cancel a connection"
Would it make sense to add `peripheral.cancel` (presumably invoking a lower-level `cancelLeConn()`)?

I am calling `peripheral.connect` but the device does not respond, and the call does not timeout.

Calling `peripheral.disconnect` (e.g. after a connection timer expires) does not work, presumably because there is no connection to disconnect.

FWIW, I did a quick mod, calling `cancelLeConn` after

[2015-08-13 21:18] TorstenRobitzki commented on #228
@carlst Ok, thank you for the details.

[2015-08-13 21:18] #228 closed

[2015-08-13 22:54] carlst opened #230 "Advertising report does not include scan response"
In 1.0.2, Advertising reports included scan response data (if `Event_Type 0x04`).

In 1.1.0, Advertising reports seem to include only initial Advertising packet information (i.e. no `peripheral.advertisement.localName`).

Perhaps a specific BLE scan request command needs to be executed(?).

**Note:** tested only on Windows 7 (WinUSB).

[2015-08-14 06:12] deadprogram opened #231 "Unable to discover services/characteristics with peripheral-explorer.js in Linux using 1.1.0"
I was unable to run the peripheral-explorer.js example using Noble 1.1.0 when running in Linux for a peripherals that work under 1.0.2

I was able to run peripheral-explorer.js under 1.0.2 by changing line 15 from

[code]

to

[code]

Here is the output I received under each version:

Running using noble 1.0.2

[code]

Running under Noble 1.1.0

[code]

That was all the output for 1.1.0, the progr

[2015-08-14 08:43] maxogden opened #232 "Possible bug with multiple connections to the same peripheral"
given this code running on two separate macbooks:

[code]

and this code running on a third macbook:

[code]

as soon as the 2nd macbook runs the first code snippet it causes the 1st person to stop receiving data, and the 2nd person never receives any data

my use case is trying to create duplex streams over BLE between a swarm of peers, e.g. given 3 peers, all 3 would implement peripherals with r

[2015-08-14 15:05] pierreduf opened #233 "State unkown when trying to scan and not powering on"
Hi Sandeep,

Thanks for the impressive work concerning BT that you made !

I've got a pbm already encountered (I've read some similar issues) : my adapter never turns on !

I'm on a Windows 7 box (Dell E540 with an intel BT 4 BLE compatible). I can see my BLE devices (rolling spiders !) with the legacy Intel drivers but of course with these drivers noble won't work (it was just to check the good w

[2015-08-14 16:39] gbrault commented on #212
@sandeepmistry I have started, please see noble fork in my github place. You can see
* how to setup jsdoc in eclipse
* you open the doc in out directory (github will show the source...): index.html
* you can see noble as being a class and stratscanning being a method
* please see noble.js and read jsdoc decoration there

[2015-08-14 16:43] gbrault commented on #212
you can see how to setup eclipse [there](https://github.com/gbrault/noble/blob/master/jsdocsetup.md)

[2015-08-14 19:01] sandeepmistry commented on #227
Let's stick to ```.connectable``` for now, as OS X (10.10) provides this flag on discovery as well.

[2015-08-14 19:09] sandeepmistry commented on #229
@carlst good suggestion. I'll have to make sure this lines up with the current OS X behaviour.

It would help with #183 as well.

[2015-08-14 19:11] sandeepmistry commented on #228
@TorstenRobitzki do you still think an exception should be thrown? Happy to put that change in.

@carlst thanks for helping out!

[2015-08-14 19:15] TorstenRobitzki commented on #228
Hi @sandeepmistry,
if I've misused the API and the API is able to detect this misuse, I think an exception would be appropriate. It's harder to ignore but it would change the API and thus could break existing code.