[2016-04-04 20:25] navesta opened #374 "Intel Edison Systemd and Noble - "noble: unknown peripheral null connected!""
Hi
Running Pokey 2.1, 159.devkit, with node 4.4.0, am having the following problem: I am able to run my node application from command line , without any problems; however, when I attempt to make a service out of it, I no longer am able to set notifier/read handlers. Specifically, upon calling discoverSomeServicesAndCharacteristics, the handler gets called multiple times. Furthermore, upon connecti

[2016-04-06 16:46] pdaddy26 commented on #358
Here is the dump when running my node js app.

[code]

[2016-04-06 16:50] pdaddy26 opened #375 "Multiple USB BLE adapters"
Hi,

I'm planning to connect to multiple sensors, like 20+. So I'll probably have multiple USB BLE dongle connected to the computer to allow for 20+ BLE sensors.

Do you know if this setup can work with noble? Or any issues that can arise?

Thanks,

[2016-04-06 20:36] ozanAta commented on #35
hi , i'm trying to use multiple bluetooth dongles for scanning at the same time. My RP only uses one . What am i supposed to do in this situation. ?

[2016-04-06 21:59] deadprogram commented on #375
Hi @pdaddy26 as of right now, a Node program that uses Noble can only use a single USB adaptor at a time. You can specify which adaptor to use on Linux as documented at https://github.com/sandeepmistry/noble#multiple-adapters

[2016-04-07 14:09] pdaddy26 commented on #375
So then I should be able run multiple node app and each one with a specific NOBLE_REPORT_ALL_HCI_EVENTS. That should work right?

[2016-04-07 14:13] deadprogram commented on #375
I've not tried that configuration, it might?

[2016-04-07 14:15] pdaddy26 commented on #375
@sandeepmistry can you tell me if that would work?

[2016-04-07 15:03] T-X opened #376 "test.js:49: "TypeError: Cannot read property 'on' of undefined""
Running "$ DEBUG=* nodejs ./test.js > /tmp/crash.log 2>&1" I currently get the following crash:

<pre>
/home/nbsp/dev/noble/test.js:49
    services[serviceIndex].on('includedServicesDiscover', function(includedServiceUuids) {
                          ^

TypeError: Cannot read property 'on' of undefined
    at Peripheral.<anonymous> (/home/nbsp/dev/noble/test.js:49:27)
    at emitOne (events.js:77

[2016-04-08 19:58] popasquat89 opened #377 "Noble + Bleno: Error with noble rejecting unknown commands"
Recently, a change was added to the hci gatt file that rejects commands that are unknown to noble. Anytime that a central goes to discover services on the bleno peripheral, while noble is running on the same device, noble rejects the unknown command. This causes the central that's attempting to discover the services to receive an error, specifically a REQ_NOT_SUPPORTED error.

Commit 6701fc61c5c0f

[2016-04-09 21:21] sandeepmistry commented on #371
@rvsrvs compare the output of ```node advertisement-discovery.js``` on both OS X and the RPi, the reported id's for discovered peripherals will differ.

I think this is the arg you need for the RPi:

[code]

[2016-04-09 21:29] sandeepmistry commented on #373
@billsalt please provide more information:

1) Minimal code sample that reproduces the issue
2) HCI dump capture: ```sudo hcidump -t -x```

[2016-04-09 21:32] sandeepmistry commented on #374
@navesta

Have you checked to see if only one instance of the script is running?

[2016-04-09 21:44] sandeepmistry commented on #358
@pdaddy26 thanks.

What's the output of ```hciconfig -a```? Here's mine, for an adapter that can connect and continue to scan at the same time.

[code]

It would be interesting to comparing: ```Features: 0xbf 0xfe 0xcf 0xfe 0xdb 0xff 0x7b 0x87```

[2016-04-09 21:47] sandeepmistry commented on #35
@ozanAta your question is off topic to this issue. Please ask the question on Gitter: https://gitter.im/sandeepmistry/noble

[2016-04-09 21:53] sandeepmistry commented on #376
Yep, test.js is just a random test app, it is not designed to work with any peripheral so crashes are expected. The files in the examples folder are more robust.

[2016-04-09 21:53] #376 closed

[2016-04-10 13:49] mulderp opened #378 "xpcError: connection interrupted on MacOS"
Hi,

I am using an Intel Edison with Bleno as peripheral, but when I start scanning for the peripheral with Noble, I get this error:

[code]

The Bleno peripheral stays up:

[code]

On the MacBook I see the in the menu bar that the laptop paired with the Edison peripheral. Maybe this caused the BLE transmitter of the laptop to hang?

Code for the example is here: https://github.com/embeddednodejs/

[2016-04-10 23:23] sandeepmistry commented on #375
@deadprogram thanks for helping out!

@pdaddy26 I haven't tried it out, but I don't see any reason why it would not work.

Try it out and let us know :)

[2016-04-10 23:23] #375 closed

[2016-04-11 00:10] sandeepmistry commented on #378
@mulderp have you followed the bleno setup instructions?  Specifically stopping ```bluetoothd```.

https://github.com/sandeepmistry/bleno#linux

[2016-04-11 00:45] sandeepmistry commented on #372
@rpastel thanks for experimenting!

I haven't been able to reproduce locally, but I believe I've found the issue and made the following change: https://github.com/sandeepmistry/node-bluetooth-hci-socket/commit/25999ec523325e43d5d900a7ae8866607f56fd9b

Could you please try out replacing  ```bluetooth-hci-socke``` install with ```npm install sandeepmistry/node-bluetooth-hci-socket```.

[2016-04-11 00:51] sandeepmistry commented on #377
@popasquat89 rolling back is not likely, however we could introduce a flag to disable this behaviour (maybe an environment variable, that bleno sets).

[2016-04-11 12:50] rpastel commented on #372
@sandeepmistry

OS: Windows 7
Node: v4.1.1
BLE Adopter: Asus BT-400
BLE Server device: Wahoo RPM

I made a new project and package.json and then ran:

install -- save noble

I added DEBUG = * to my environment system variables (set DEBUG=* does not work in my console or bash window.)

I ran advertisement-discovery.js and then peripheral-explore.js. The peripheral-explore.js fails (See attached log

[2016-04-11 12:50] rpastel commented on #372
My mistake. I did not mean to close.

[2016-04-11 14:30] popasquat89 commented on #377
I'll nest the conditional logic under the flag NOBLE_MULTI_ROLE, so that any other conditional logic in the future for making the two work nicely together can be supported without new ENV flags.

Bryce

[2016-04-11 14:55] popasquat89 commented on #377
@sandeepmistry See #379

[2016-04-11 17:45] deadprogram commented on #348
Hi @sandeepmistry sorry to bother you. I know you've played with C.H.I.P. on the GPIO side of things. Did you happen to run Noble on it, and if so, what if anything did you need to do to unblock it? Thanks!

[2016-04-11 22:48] navesta commented on #374
It is one instance of node, and here the general layout of the code:

[2016-04-11 23:56] sandeepmistry commented on #363
@mattgol I'm going to close this for now, looking forward to your PR.

[2016-04-11 23:56] #363 closed

[2016-04-12 00:00] sandeepmistry commented on #372
@rpastel  thanks for trying, I've published v0.4.4 of ```bluetooth-hci-socket``` with the fix (https://github.com/sandeepmistry/node-bluetooth-hci-socket/commit/25999ec523325e43d5d900a7ae8866607f56fd9b). A fresh install should be fine now, please let me if there are any issues.

Yes, please. Please include a minimal sample to reproduce, along with debug logs.

[2016-04-12 00:00] #372 closed

[2016-04-12 00:16] rpastel commented on #372
@sandeepmistry
It'll not be until this weekend that I make the issue. The TypeError comes erratically and seems to be related to how the program previously shut down, so it might be hard to reproduce in a small program.

[2016-04-12 17:30] billsalt commented on #373
[eNode test archive.zip](https://github.com/sandeepmistry/noble/files/215587/eNode.test.archive.zip)

[2016-04-13 03:52] jeberhardt commented on #375
@pdaddy26, I believe in your above comment you meant to say you'd run each node program with a specific NOBLE_HCI_DEVICE_ID parameter.

I have tried this, and it does work (Raspberry Pi).  However, the CPU usage was so high that it wasn't very feasible.

[2016-04-13 07:34] ostrichjones commented on #223
I see the same issue described above when using an RPi3. As a reproducer this world have the advantage of embedded BT - fewer variables in terms of dongles.

[2016-04-14 05:52] ank-khandelwal opened #381 "RangeError: index out of range"
Hi,
I started getting this error recently on raspberry pi
[code]

Apart from this error I am also not able to read the advertisement  of one of the beacon which you can see in the debug output which caused the error. The type of advertisement is undefined. [Attached]
[debug.txt](https://github.com/sandeepmistry/noble/files/218584/debug.txt)

[2016-04-15 13:58] rpastel opened #382 "Uncaught TypeError in hci-socket/smp.js after closing browser window"
OS: Windows 7
Node: v4.1.1
Bluetooth Adaptor: Assus BTE400
Bluetooth Sensor: Whaoo RPM
Noble version: "1.3.0"
electron-prebuilt v0.35.4

Closing the a browser window by using the "X" in the upper-right corner of the browser window, frequently causes an "uncaught TypeError"  after running an electron project using noble.

E:\Data-2012\Research\Healthy Desk\TypeError Debug\healthy_desk-cadence-app\a

[2016-04-15 16:02] jeberhardt commented on #360
While I haven't been able to capture the dump, I have noticed that if I omit the UUIDs for both the service and the characteristic, then it seems to be able to find them right away.  I'll try and get more info to you.

[2016-04-15 23:23] ADenisUA opened #384 "Unable to install noble on Mac OSX El Capitan (MacBook Pro Retina 13")"
Does noble lib is compatible with Mac OSX El Capitan (MacBook Pro Retina 13")?
I'm receiving:

Deniss-MacBook-Pro:~ davdeev$ sudo npm install noble
/Users/davdeev
├── noble@1.3.0
└── sphero@0.9.2

npm WARN optional Skipping failed optional dependency /noble/bluetooth-hci-socket:
npm WARN notsup Not compatible with your operating system or architecture: bluetooth-hci-socket@0.4.4
npm WARN enoent EN

[2016-04-18 00:43] sandeepmistry commented on #373
@billsalt

Here are some snippets of interest:

For whatever reason the connection interval is set to ~1s, which is pretty high:

[code]

Write without response is looking good:

[code]

What's your concern? Is it slow or is data being dropped?

[2016-04-18 00:48] sandeepmistry commented on #374
@navesta and this is fine without the service?

Would you be able to provide an HCI dump capture? ```hcidump -t -x```

[2016-04-18 00:59] sandeepmistry commented on #360
@jeberhardt ok, I'm going to close this for now. We can re-open once it can be reproduced and we have more into.

[2016-04-18 00:59] #360 closed

[2016-04-18 01:01] sandeepmistry commented on #384
@ADenisUA yes, it is compatible with Mac OSX El Capitan.

These dependencies are not needed on OS X, just ```xpc-connection```.

[2016-04-18 01:01] #384 closed

[2016-04-18 03:32] GregDracoulis commented on #378
This is happening to me too, but only on OSX. When I run OSX as the peripheral and the central with `noble` on Debian, everything works great.

@sandeepmistry it doesn't seem like there is any way to stop `bluetoothd` on OSX. It also doesn't seem like that should be required as far as I know? (see https://github.com/sandeepmistry/bleno#os-x)

I looked into using `launchctl`, which seems to be the

[2016-04-18 15:16] billsalt commented on #373
Hi Sandeep -- the writes are actually happening -after- I try to disconnect, having given up.  I definitely need to change the connection interval; it should be in the 20-30 mS range.  Yes, this is waaaay slow and that may be the whole issue; I'm not waiting several minutes for it to complete.  On iOS, with a 20mS connection interval I can do the entire write in a couple of seconds.  The fastest I

[2016-04-18 16:50] billsalt commented on #373
@sandeepmistry I did some more reading of the history of issues on this with noble.  I don't think that the current behavior is good enough.  My peripheral is set up for the proper connection update, but I don't think it is getting called; as I understand that is optional on the Central side as to when (if ever) it does it.  I think we need to have a way of setting up the defaults, and it would be

[2016-04-19 05:35] jeberhardt opened #385 "NOBLE_REPORT_ALL_HCI_EVENTS"
Does using NOBLE_REPORT_ALL_HCI_EVENTS affect the speed and performance of the script at all? I am presuming that it is faster not to report all events, but I haven't really seen any comment or documentation on what it does.

Also, is the correct format to report the events:
        NOBLE_REPORT_ALL_HCI_EVENTS=1

... and to not report all events:
        NOBLE_REPORT_ALL_HCI_EVENTS=0

Just checkin

[2016-04-19 08:37] jeberhardt commented on #244
I think to fix this error you should use **peripheral.once('connect', function(){});** instead of **peripheral.connect()**.

I previously had a similar problem when I had **peripheral.on('connect', function(){});**.  When my peripheral connected and disconnect, the listener for 'connect' was being added to the peripheral object, causing this warning.

[2016-04-19 15:19] jeberhardt commented on #242
So which version of Bluez is recommended for use with this Kernel?  I have downgraded, and am now installing Bluez 5.39, hoping that it will work.

[2016-04-20 02:45] jeberhardt commented on #293
Is using bind-user faster?

[2016-04-20 20:22] billsalt commented on #373
@sandeepmistry reading more; there seem to be lots of issues here.  On fix that seems to be working for some is to open an HCI socket and then an LCAP socket.  Question is, does noble work at the same time with bluetooth-hci?

[2016-04-21 00:26] sandeepmistry commented on #377
Closed via #379

[2016-04-21 00:26] #377 closed

[2016-04-23 03:49] murlionline opened #386 "Error when installing noble"
I just got my Raspberry Pi 3 and installed nodejs/npm. I try to install noble and it throws the below error. Is this specific to Raspberry Pi 3 ?

make: Entering directory '/home/pi/node_modules/noble/node_modules/bluetooth-hci-socket/node_modules/usb/build'
  CC(target) Release/obj.target/libusb/libusb/libusb/core.o
  CC(target) Release/obj.target/libusb/libusb/libusb/descriptor.o
  CC(target) Re

[2016-04-23 04:44] murlionline commented on #386
I noticed this was an issue specific to the nodejs which came with my Raspberry PI. I uninstalled it and installed v4.0.0. npm version is 2.14.2. Also when installing nobel, I got errors which I was able to overcome by using the additional command like npm install noble --unsafe-perm -g

[2016-04-23 22:18] lessonpix opened #387 "Issues connecting to over 5 peripherals simultaneously on raspberry pi 2/bluez 5.38 with CSR adapter"
Hi Sandeep,

First, before I whine, thank you for the great Node.js interface.  I've been so frustrated w/bluez and the dbus interface (through Python) that I rewrote my project with Noble and it feels like a much better fit.  The Node async approach fits what I'm trying to do and Noble seems to be a great design.

That said, I'm still frustrated, this time with something simple: I cannot seem to

[2016-04-24 21:12] rclai opened #388 "Add Buffer shim from NPM"
I'm trying to integrate `noble` into React Native by simply installing this library and then feeding the Noble constructor with custom bindings, however, the React Native bridge doesn't allow bridging of Buffer objects and must first be sent as base-64 encoded strings to the iOS Objective-C world/Android Java world and be decoded into NSData/[Java Equivalent NSData].

I know I could just pass a Bu

[2016-04-24 21:46] github4f opened #389 "GATT hierarchy."
I need to creeat a MongoDB schema for GATT hierarchy. During the implementation, I noticed some inconsistency between the implementation (or naming) of noble and GATT documents. I appreciate if you kindly comment on this issue. For example, according to BLE official documents, each characteristic,  must have (i) declaration, ii) uuid,  iii) value,  iv) descriptors. In noble, I see the following fi

[2016-04-24 21:47] sandeepmistry commented on #348
@deadprogram have you compared the HCI dump from the C.H.I.P. to a working Linux system?

[2016-04-24 21:51] sandeepmistry commented on #340
@daetherius @b44p

[code]

This message is blued sending a disconnect event. I would suggest looking the Xcode Hardware IO tools PacketLogger app for any hints. Unfortunately this is out of scope for noble. It could also be caused by the firmware version running on the peripheral.

I'm going to close this for now, unless you have more information to narrow down it to something specifically in nobl

[2016-04-24 21:51] #340 closed

[2016-04-24 22:09] sandeepmistry commented on #382
@rpastel would it be possible to create a pure Node.js (no electron) app to reproduce this and then provide debug logs? On first glance it's hard to line up the type error with the debug logs.

[2016-04-24 22:21] sandeepmistry commented on #381
@ank-khandelwal thanks. I think the EIR is invalid, see:

[code]

There's an extra 00 or missing byte in the last 16-bit UUID ... what peripheral is it?

[2016-04-24 22:29] sandeepmistry commented on #378
@GregDracoulis please open a new issue and provide debug logs and simplified code example of how to reproduce the issue: ```DEBUG=* node <file.js>```

[2016-04-24 22:42] sandeepmistry commented on #242
@jeberhardt I'm not sure, Bluez 5.39 should work.

[2016-04-24 22:50] sandeepmistry commented on #388
@rclai I'm not too keen about this.

What's your goal for porting noble to React Native? Requiring a base-64 string for data args would introduce incompatibilities, if people wanted to run existing noble code. I think converting buffer's to/from base64 in the binding layer is ok.

[2016-04-24 22:55] sandeepmistry commented on #386
@murlionline I would suggest you report this to the node-usb dependency repo: https://github.com/nonolith/node-usb

[2016-04-24 22:55] #386 closed

[2016-04-24 22:56] rclai commented on #388
No, I'm not saying to pass data always as base-64 strings. I'm saying to just simply remove [this check](https://github.com/sandeepmistry/noble/blob/67a00d1eddb7339ba5d135f9830d7a79441545a5/lib/characteristic.js#L52-L56) so that you can pass whatever you want. The other bindings will continue to require passing in Buffers.

[2016-04-24 23:22] sandeepmistry commented on #293
@jeberhardt

It should roughly be the same. The kernel doesn't process HCI adapter events.

[2016-04-24 23:27] rclai commented on #388
Actually, never mind this. I did not have a good understanding of Buffer objects and how they're converted to NSData. Now I understand.

[2016-04-25 00:38] sandeepmistry commented on #387
@lessonpix

I think you are hitting the connection limit for your Bluetooth adapter. Do you have a CSR based adapter?
https://github.com/sandeepmistry/noble#maximum-simultaneous-connections

Output of ```lsusb``` would provide this info. Maybe try a Broadcom based adapter? https://github.com/sandeepmistry/noble/wiki/Compatible-devices#linux

[code]

[2016-04-25 00:44] sandeepmistry commented on #373
@billsalt I think another kernel work around is needed in `bluetooth-hci-socket`, to prevent the kernel from sending:

[code]

as there is nothing in noble that sends this type of command.

[2016-04-25 01:54] ank-khandelwal commented on #381
Hi,
It is a custom peripheral with a custom advertising packet. The problem was I didn't set the payload type for the custom data packet. Now I can scan without any problem. Thanks!

[2016-04-25 01:54] #381 closed

[2016-04-25 03:35] lessonpix commented on #387
It says CSR 4.0 on the plastic - I'm not at my office but will check tomorrow.

If it is a limit, are there better choices?  Can I install two?  What about the RPi 3's internal BT adapter....

I'll read your notes above and will check out the tomorrow.  Thanks for the response.

[2016-04-25 03:39] lessonpix commented on #387
Actually, while it's not what I want, it should be possible to connect to each bulb, change the color and disconnect (right?).  When I try, it seems that the disconnect's callback is being called before the disconnect is complete.  Is that right?

[2016-04-25 16:59] navesta commented on #374
Correct works fine without service. Here is the hcidump capture; this is a live capture, while 4-5 devices are advertising, and there is an attempt to connect to a device with MAC address "D6:9F:9C:F2:79:D5":
http://pastebin.com/p5tX0tMv

[2016-04-25 18:08] deadprogram commented on #348
Hi, @sandeepmistry I'll setup my C.H.I.P. again for some experiments this week, and get back to you on that.

[2016-04-25 19:26] #389 closed

[2016-04-25 21:34] billsalt commented on #373
Thanks @sandeepmistry, but that connection interval update event doesn't look correct at all.  My device is set up to request a connection update with a very short connection interval, but it would appear that something in the stack is not accepting the update.  Somehow this doesn't make sense.  Something is not right with the intervals...

[2016-04-25 21:58] github4f opened #391 "websocket use case"
Hi @sandeepmistry
I need to develop a database (MongoDB) to store all activities of my sensors in order to later on perform some analytic on my semi Big Data.
I have found a gateway based on your framework (noble) which provides a set of RestAPI in order to communicate with the sensors (connected to the gateway by BLE).
Another way might be using websocket (which I prefer it). I noticed noble alre

[2016-04-25 22:29] rclai commented on #388
Hey @sandeepmistry, sorry I'd like to revisit this again but this time it's for a different purpose.

So I figured out how to create a Buffer object in React Native, however, I found out that React Native doesn't have a global `Buffer` object, so every time it hits this [code](https://github.com/sandeepmistry/noble/blob/67a00d1eddb7339ba5d135f9830d7a79441545a5/lib/characteristic.js#L52-L56), it br

[2016-04-26 20:22] chumager commented on #229
Hi, would this be implemented in some near future?

I need it badly cause I work with LOTS of BLEs and some time they ain't connect properly and the connection process seems to be synchronous (from the central device view) so when others peripherals get into the queue, my program fails, cause no one else can connect.

I've already patched the nombre library, but I'd like to use the official releas

[2016-04-26 23:55] rclai commented on #388
Ping @sandeepmistry.

[2016-04-28 10:56] farfromrefug opened #392 "'discover' not seeing manufacturerData on OSX Yosemite"
Hi,

I am building an few apps around BLE:
- BLE server on rPi using bleno
- iOS / Android native app to connect to that BLE device
- electron app for OSX / Windows using noble

Now everything works perfectly between the rPi and iOS / Android
I have an issue with noble though.
When discovering the devices noble does not report the ```manufacturerData``` on OSX
Though i see it well from And and iOS

[2016-04-28 11:01] farfromrefug commented on #392
Actually just found something really weird. Using your examples, look what i see
[code]
The second event (which i don't know when it actually happened, i did not restart the device) show the correct manufacturerData ...

[2016-04-28 11:05] farfromrefug commented on #392
Found the bug.
If i start ```advertisement-discovery.js```  with my mac's bluetooth on i get this
[code]
if i then stop the bluetooth and start it again i get this
[code]
It seems that for some reason if noble is started with the bluetooth on, i don't get the manufacturerData
Any idea?

[2016-04-28 22:55] sandeepmistry commented on #388
I'm not opposed to merging this, but we should take a look at the bigger picture.

Is there any way the Reactive Native bride could inject Buffer into global/window scope? This would be a big win for the existing packages that depend on noble: https://www.npmjs.com/browse/depended/noble -  they in theory would work as is.

cc/ @jacobrosenthal

[2016-04-29 04:28] jacobrosenthal commented on #388
I think the issue is the the react package manager can only alias with the browser keyword 1 level deep, unlike the webpack which will swap packages n-deep. the Please upvote both of these:
https://productpains.com/post/react-native/packager-support-resolvealias-ala-webpack/ https://github.com/facebook/react-native/issues/6253

[2016-04-29 14:22] nicwsm opened #393 "Update Rssi when connected"
Hi, I configured my BLE end device to continue broadcasting iBeacons packets even when it's connected to a central, however, the noble.on('discover') on the central side doesn't pick up the RSSI signals anymore once the central initiates a connection to the end device. Any explanation or solution how I can solve this?

Thanks!

[2016-05-01 22:59] sandeepmistry commented on #387
@lessonpix it would be great it you could share a simplify code example of how to recreate the issue along with a HCI dump capture.

[2016-05-01 23:04] sandeepmistry commented on #374
I see one connection attempt:

[code]

Then a bunch of notifications, is this what should happen? If not could you please try to line up the HCI dump with your code, and annotate what you expect vs what is happening.

[2016-05-01 23:14] sandeepmistry commented on #373
@billsalt yep, I think we are in agreement.

I think if you share a full HCI dump, you'll see a connection update request been sent out by the kernel (there's nothing in noble to do this).

As mentioned in https://github.com/sandeepmistry/noble/issues/373#issuecomment-214076716 we'll have to figure a work around to add in bluetooth-hci-socket. Similar to https://github.com/sandeepmistry/node-bluet

[2016-05-01 23:18] sandeepmistry commented on #229
@chumager care to share your patch? Also, do you have a debug trace and HCI dump capture of the failure case?

[2016-05-01 23:26] sandeepmistry commented on #392
@farfromrefug could you please shared debug output: ```DEBUG=* node <file>.js```

I suspect blued is not sending the message through ...

[2016-05-01 23:30] sandeepmistry commented on #393
@nicwsm if you are connected, I suggest using https://github.com/sandeepmistry/noble#update-rssi.

[2016-05-01 23:30] #393 closed

[2016-05-02 00:11] sandeepmistry commented on #385
It will take more CPU

Yes

default is off.

I'm open to suggestions to clarify the readme. Pull requests welcome.

[2016-05-02 00:11] #385 closed

[2016-05-02 00:12] sandeepmistry commented on #378
I'm closing this due to lack of activity.

[2016-05-02 00:12] #378 closed

[2016-05-02 01:01] chumager commented on #229
I used the patch from @carlst, I need to work with dozens of BLEs, so, to avoid problems I used a Async Queue, with one process at the time, with this I avoid the problem of trying to connect a BLE while other is doing the same, my HCI dump shows correctness in the process, I don't know if some of my code will help you to do it better.

In the mean time I can tell you I use the patch before I star

[2016-05-02 06:56] farfromrefug commented on #392
[Here](http://pastebin.com/teWdyVtV) is the log.
It appears noble sees the manufacturerData but dont forward it

[2016-05-02 15:17] pdaddy26 commented on #358
[code]

[2016-05-02 22:08] #391 closed

[2016-05-03 01:27] billsalt commented on #373
Thanks @sandeepmistry.  I'll take a better look and compare it with the OS X version which works fine.  I'll be offline for the next 2 weeks on vacation, but will get to it when I return.

[2016-05-03 11:33] brettdaman commented on #111
I want to use noble in a prototype embedded device, and sometimes I got this issue. Restarting the ble or the device is something I want to avoid. Did someone manage to fix it. I saw the code snipped above but that is only for the peripheral.

[2016-05-04 20:21] lessonpix commented on #387
I will take a look at this (again) on Friday - thanks for the response!

[2016-05-05 03:00] nicwsm opened #394 "peripheral disappears from 'discover' after being connected.."
Hi,

I have a scenario now where I have a sensor in the peripheral+broadcaster role, meaning to say that my sensor will continue to emit iBeacon packets even after it's being connected to a central.

When this sensor is not connected to any central, my scanning device (Intel Edison) has no issue to read the iBeacon packets transmitted from this sensor using noble. However, once this sensor is conn

[2016-05-08 23:50] sandeepmistry commented on #358
@pdaddy26 thanks, unfortunately it looks the same to me.

[2016-05-09 00:19] sandeepmistry commented on #394
@nicwsm could you please share your code for scanning as well as an HCI dump? `hcidump -t -x

[2016-05-09 00:35] sandeepmistry commented on #392
@farfromrefug I think the best way to move forward is if you dive into the code and add some more long statements. Areas of interest would be:

 * https://github.com/sandeepmistry/noble/blob/master/lib/noble.js#L118-L123
 * https://github.com/sandeepmistry/noble/blob/master/lib/mac/yosemite.js#L128-L191

If you share the bleno code used on the Raspberry Pi, I add it to my (every growing) list of t

[2016-05-09 00:50] sandeepmistry commented on #388
@jacobrosenthal upvoted. I'm going to close this for now.

[2016-05-09 00:50] #388 closed

[2016-05-09 00:51] sandeepmistry commented on #382
@rpastel ping

[2016-05-09 01:08] rpastel commented on #382
Sorry. Have not had time yet.

On Sun, May 8, 2016 at 8:51 PM, Sandeep Mistry <notifications@github.com>
wrote:

[2016-05-10 00:30] deadprogram commented on #387
Isn't @lessonpix just scanning and not connecting here? The connection limit applies to connections only, AFAIK. @sandeepmistry please correct me here if I'm missing something.

Interesting that @lessonpix can even scan using bluez 5.x, since I cannot even get that far https://github.com/sandeepmistry/noble/issues/348 which might be related to bluez 5 as well.

[2016-05-10 02:02] nicwsm commented on #394
@sandeepmistry I found out what's the issue. Apparently this code in gap.js is causing the iBeacon advertising packets to be muted from the events.

if (type === 0x04 || (discoveryCount > 1 && !hasScanResponse) || process.env.NOBLE_REPORT_ALL_HCI_EVENTS)

If I run my code enabling NOBLE_REPORT_ALL_HCI_EVENTS=1 then it works. Do you mind elaborating why is that IF condition added in? Thanks!

[2016-05-10 19:33] Irrelon opened #396 "Bluetooth Pairing and Auto-Connect"
Hi ya, thank you for such a great library, it's very awesome!

I wondered if I might be able to ask a few questions as my knowledge of bluetooth is a bit limited and having spent a while with noble I'm trying to achieve something and could do with some help...

I am trying to create a system whereby a user can initiate a pairing to my Node.js server from their phone, after which whenever the phone

[2016-05-11 16:36] farfromrefug commented on #392
i created a PR for that issue. Can you look at it?
https://github.com/sandeepmistry/noble/pull/395

[2016-05-12 17:18] joustava opened #397 "Peripheral address"
I am interested in using this library, so I had a quick look at the discovery example. Basically I edited like this:
[code]

This seems to work just fine and discovers the BLE devices I have configured.
However, I noticed that `peripheral.address` is not set although noble seems to know about it, as shown in the output below (from my setup)

[code]

Is this a bug or am I missing something? I am ru

[2016-05-13 11:01] nemanja-tosic opened #398 "Node 6 issue"
Hello,

When i run the module i get the following:

==== C stack trace ===============================

(empty)
(node) v8::ObjectTemplate::Set() with non-primitive values is deprecated
(node) and will stop working in the next major release.
2016-05-12 20:46:01: App name:supernode-supervisor id:2 online

==== JS stack trace =========================================

Security context: 0x5c22b8a1 <JS

[2016-05-15 22:20] sandeepmistry commented on #387
@deadprogram from my understanding the issue is not with scanning by attempting to connect to over 5 peripheral simultaneously, I'll rename the issue accordingly.

[2016-05-15 22:23] sandeepmistry commented on #394
noble is waiting for both an advertisement discovery event and scan response. It looks like your device does not have a scan response.

It might be better to have a timer, so that if a X milliseconds pass without a scan response, report the device discovery event ...

[2016-05-15 22:26] deadprogram commented on #387
OK, my bad, I just saw that the blescan.js code was posted and that it was also connecting. Sorry to interject, please ignore.

[2016-05-15 22:27] sandeepmistry commented on #397
`noble.address` is for the local (central) BT address.

`peripheral.address` is for the remote peripheral address. In your case it is set to "unknown". On OS X this is expected behaviour until a connection has been established. After this an non-unknown value should be reported the next time.

[code]

[2016-05-15 22:27] #397 closed

[2016-05-15 23:54] sandeepmistry commented on #396
Mostly likely, pairing support is still "experimental" in both noble and bleno. It's only needed for secure characteristics.

Personally, I'd use bleno, then the smartphones could connect to it automatically. Keep in mind your car is probably using Bluetooth classic and not 4.0. Most of the smart locks on the market use Bluetooth 4.0 and act as a BLE peripheral.

See answer in 2, you'll most likel

[2016-05-15 23:54] #396 closed

[2016-05-16 01:25] sandeepmistry commented on #374
I'm closing this for now, due to lack of activity. Please re-open with requested info if you are still interested ....

[2016-05-16 01:25] #374 closed

[2016-05-16 11:10] joustava commented on #397
Thanks, confusion arose because of having dongles on central and peripheral with the same `BD Address`.

[2016-05-18 14:43] peturh opened #400 "MTU is 50, I want it to be higher"
I have a Raspberry Pi 3 that I'm using for BLE connection to a TI CC2650. I wan't to send about 300 bytes of data to the device in total, and I want to increase the MTU. When I log the MTU size on both devices, it says 50. But I have no idea where I set this.

On row 205 in `lib/hci-socket/bindings.js` in this project I can see that we try to set the MTU to 256.

`this._gatts[handle].exchangeMtu(2

[2016-05-18 16:29] rpastel commented on #382
I have been able to get an "Type:Error" using only node script. I run the attached script candenceNotification.js and crtl-c the process early. When I start the script again I get the "TypeError"

Two debug logs are attached which includes the run before crtl-c and after crtl-c.

If I run the script after the error it runs fine.

[cadReconnect.zip](https://github.com/sandeepmistry/noble/files/2709

[2016-05-20 03:30] jbeaudoin11 opened #402 "Discover delay between duplicate"
Hi !

I wanna no if there is a way to configure the discover time for the same device ?
My goal is to detect when the device enter and leave the area, like one of the example in the git.

For now it's pretty inconsistent...

[code]

 As you can see it's between 1s to 5s in general.. sometime it's higher. It's not really viable for my use :/

[2016-05-20 14:49] Lahorde opened #403 "Multiple connection from 2 different processes with cc2650"
I'm trying to connect multiple peripheral and I encountered several issues.

First test : try to connect 2 sensortag V2
Steps :
 * launch a modified noble-device/examples/basic.js (remove disconnection)
 * start first sensortag v2: it connects successfully and service discovery ok
 * launch a modified noble-device/examples/basic.js (remove disconnection)
 * start second sensortag : it connects suc

[2016-05-20 19:42] gustavotemple opened #404 "Cannot read property 'on' of undefined"
Hello guys!

When I try to run any example (e.g. the "test.js"):
[code]

Noble:
`noble-1.5.0`

Bleno:
`bleno-0.4.0`

Bleno output:
[code]

My Linux distribution:
[code]

The bluez version:
[code]

The nodejs version:
[code]

The Wireshark "Sent LE Set Advertising Data" frame:
[code]

Does anyone know what's happening?

[2016-05-21 04:24] sthanh opened #405 "Out of Range Issue:"
Hi there,
I have this out of range issue and I it happens intermittently. If I wait and re-run the code it works from time to time but most of the time it ends up with the error. Could you help?

Thank you!

`pi@raspberrypi:~/Desktop $ node beaconscanv2.js
buffer.js:615
    throw new RangeError('index out of range');
    ^

RangeError: index out of range
    at checkOffset (buffer.js:615:11)
    a

[2016-05-21 04:31] sthanh commented on #405
Here's the hci dump.

pi@raspberrypi:~/Desktop $ sudo hcidump -t -x
HCI sniffer - Bluetooth packet analyzer ver 5.39
device: hci0 snap_len: 1500 filter: 0xffffffff
2016-05-21 00:30:05.594247 < HCI Command: Set Event Mask (0x03|0x0001) plen 8
    Mask: 0xfffffbff07f8bf3d
2016-05-21 00:30:05.595330 > HCI Event: Command Complete (0x0e) plen 4
    Set Event Mask (0x03|0x0001) ncmd 1
    status 0x00
20

[2016-05-24 00:43] sandeepmistry commented on #337
Added in https://github.com/sandeepmistry/noble/commit/472c6036eaa4e9c236e91e23987289d1c074731f

[2016-05-24 00:43] #337 closed

[2016-05-24 01:54] sthanh commented on #405
When I try to do Debug mode, it seems the program keep hanging at

hci set scan enabled - writing: 010c20020001 +38s

Any ideas what's going on? Anybody?

[2016-05-24 03:52] sandeepmistry commented on #400
@peturh I suspect the TI side is negotiating an MTU of 50 bytes, this might be the default in their BLE stack.

You can confirm this via ```sudo hcidump -t -x```.

[2016-05-24 03:52] #400 closed

[2016-05-24 04:02] sandeepmistry commented on #402
@jbeaudoin11 why not lower the grace period?

https://github.com/sandeepmistry/noble/blob/master/examples/enter-exit.js#L12

You could also try changing the scan parameters: https://github.com/sandeepmistry/noble/blob/master/lib/hci-socket/hci.js#L238-L242

Btw, you might also want to try decreasing the advertising interval on the peripheral (device).

[2016-05-24 04:02] #402 closed

[2016-05-24 04:06] sandeepmistry commented on #404
noble test.js is not compatible with anything really.

I would suggest using the examples from the examples folder: https://github.com/sandeepmistry/noble/tree/master/examples

[2016-05-24 04:06] #404 closed

[2016-05-24 04:09] jbeaudoin11 commented on #402
There was no grace period in my test.

I read more about the subject and the problem is the advertising interval like you said !

Unfortunately we have no control on the ble device we bought (was not a good choice) :/

All good from your lib ! Thanks.

[2016-05-24 04:10] sandeepmistry commented on #402
@jbeaudoin11 cool, thanks for the update.

[2016-05-28 08:13] peterschmiz commented on #405
I have the same issue, it happens after running my application for 2-3 minutes.

[2016-05-31 17:40] miniBloq opened #406 "How to deploy on Mac OS X without requiring XCode?"
Hi, I need to deploy an app written in Node.js as a desktop application, and it's not possible at all to make it mandatory for the end users to install the full XCode stuff on their Macs. Is it possible to deploy Node.js apps using noble without the XCode requiriment?
Thx!

[2016-05-31 23:13] sandeepmistry commented on #405
@sthanh what's in you ``beaconscanv2.js`` file?

[2016-06-01 02:40] sthanh commented on #405
@sandeepmistry it's just a beacon scan for specific service and characteristic, in this case for the battery.
Thank you for your help.

Here's the code:

`var noble = require('noble');
var async = require('async');
var http = require('http');
var request = require('request');

noble.on('stateChange', function(state) {
	if(state === 'poweredOn'){
		noble.startScanning();
	}
	else{noble.stopScanning

[2016-06-01 04:18] newbreedofgeek opened #407 "Question - Subscribe to a Characteristic with Indicate"
Hello,

This is more of a question than an issue.

I've pretty new to the BLE / noble scene and have been following the documentation and examples but have hit an issue when trying to connect and read from a BLE weight scale peripheral.

I've been having issues getting data from a peripheral that has a Service Characteristic with "indicate".

This is the Characteristic I get back from the peripher

[2016-06-01 05:10] vinayr opened #408 "Version bump"
Readme is updated for characteristic subscribe/unsubscribe but version is not bumped and released.

[2016-06-01 07:03] newbreedofgeek commented on #407
Sorry for troubling you guys. I worked it out.

For anyone else who maybe interested, you don't "subscribe" to Characteristics that Indicate, you instead have to:

[code]

and then:

[code]

[2016-06-01 07:03] #407 closed

[2016-06-01 10:24] aronsemle opened #409 "Testing on pi3?"
Has this been tested on the raspberry pi3? It has built in bluetooth.

I wrote some code on Windows with a dongle (scan, connect, stream data, disconnect) and it's working great. I ported it over to the pi3 and I'm seeing random issues.

1. I get random disconnects right after a connect (disconnect callback is called). Doesn't happen all the time. Maybe every 3rd try
2. After a disconnect, scan wo

[2016-06-03 19:51] ajwells commented on #409
The only weird thing I have experienced on the Pi 3 are disconnects not right after connect but about a minute or so afterwards.

[2016-06-04 20:44] bvwelch opened #410 "OCF_LE_SET_EVENT_MASK is defined but not used in hci.js"
Your project is amazing! And very useful! thank you.

This is may be a small typo -- instead of using this value, the similar OCF_SET_EVENT_MASK is used, when creating LE_SET_EVENT_MASK_CMD. This is harmless, since they both have a value of 1.

[2016-06-06 00:28] sandeepmistry commented on #406
@miniBloq what have you tried so far?

I think you can just bundle the `node_modules/noble` folder from your Mac with the rest of your app.

[2016-06-06 00:28] #406 closed

[2016-06-06 00:32] sandeepmistry commented on #405
@sthanh I would say the issue is in your code:

[code]

`peripheral.advertisement.manufacturerData` is not guaranteed to contain iBeacon data, other BLE peripherals in the vicinity could be broadcasting other data. I suggest you have a guard like: https://github.com/sandeepmistry/node-bleacon/blob/master/lib/bleacon.js#L78-L82

[2016-06-06 00:32] #405 closed

[2016-06-06 00:42] sandeepmistry commented on #409
@aronsemle

Yes, I use noble on a Raspberry Pi 3.

HCI dump capture will help to understand what's going on: `sudo hcidump -t -x`

[2016-06-06 00:47] sandeepmistry commented on #410
@bvwelch thanks for pointing this out!

I've correct this in https://github.com/sandeepmistry/noble/commit/710bd8b1ba140a2a899111760bf71e5ef7291546.

[2016-06-06 00:47] #410 closed

[2016-06-06 01:02] sandeepmistry commented on #387
@lessonpix I'm closing this due to lack of activity, please re-open with requested info. if you are still interested.

[2016-06-06 01:02] #387 closed

[2016-06-06 01:03] sandeepmistry commented on #373
@billsalt ping ...

[2016-06-06 01:03] sandeepmistry commented on #348
@deadprogram ping ...

[2016-06-06 01:04] sandeepmistry commented on #299
@AKST any progress on this?

[2016-06-06 01:04] sandeepmistry commented on #310
@jrobeson any progress on this?

[2016-06-06 01:09] AKST commented on #299
Eh unfortunately not, I probably shouldn't have put my name forward to eagerly. Feel free to delegate it someone else

[2016-06-06 01:13] jrobeson commented on #310
I made some, and then i decided to try out without so many nested callbacks, sorta like this https://github.com/sidorares/node-gday/blob/master/lib/index.js

After that I got moved to another project, but am about to have time open up for this project again soon.   If you wanna give it a try instead of waiting, then you're certainly welcome to it.

[2016-06-06 01:29] sandeepmistry commented on #408
@vinayr v1.6.0 has been published to npm with the changes.

[2016-06-06 01:29] #408 closed

[2016-06-06 01:31] sandeepmistry commented on #407
@newbreedofgeek sorry for the confusion, as indicated in #408: https://github.com/sandeepmistry/noble/commit/472c6036eaa4e9c236e91e23987289d1c074731f was in Github master but not published to npm.

v1.6.0 is on npm and includes the new `myChar.subscribe` API.

[2016-06-06 07:28] newbreedofgeek commented on #407
@sandeepmistry thanks :)

[2016-06-06 14:38] aronsemle commented on #409
Thanks for the tip!

Unfortunately I don't have that tool installed on the pi at the moment, and can't get it connected to the internet to install.

It does look like the problem is only occurring when I continue to scan for devices after connecting. It will disconnect right away. If I stop the scan once the device is discovered and then connect, it seems to work fine.

I'll keep digging. I want t

[2016-06-06 15:21] billsalt commented on #373
@sandeepmistry Thanks for the reminder; I was on vacation and needed to work on other projects when I returned.  I should get you something in the next week or so.  Meanwhile, there has been a new version of Raspian that I'll test and see if there is any different behavior.

[2016-06-06 19:10] ajwells commented on #409
@aronsemle

I used the following guide to get one of latest version of Bluez running on the Pi 3 it includes some Bluetooth utilities

https://github.com/ukBaz/python-bluezero/issues/30

[2016-06-06 20:13] Dan-Azure opened #411 "Is it possible to flush the command queue?"
Hi, Sandeep. I have a problem, which is not really yours, but I'll pose it anyway:

When I use noble to connect to my device, I will often see this behaviour:

< HCI Command: LE Create Connection (0x08|0x000d) plen 25
    bdaddr ** type 1
    interval 96 window 48 initiator_filter 0
    own_bdaddr_type 0 min_interval 6 max_interval 12
    latency 0 supervision_to 200 min_ce 4 max_ce 6
\> HCI Event

[2016-06-07 15:34] peturh commented on #409
@ajwells It doesn't handle raspberry pi's disconnects right? Any progress on this? I'm experiencing the exact same issue.

[2016-06-07 16:42] miniBloq commented on #406
Hi @sandeepmistry, thanks! I just tested on a clean Mac (without XCode or any other dev stuff installed) and it just worked!

[2016-06-10 05:02] peturh commented on #409
I have a scenario where I connect to devices and try to send data to it. If new devices are created in our environment, they don't show up and random disconnects occur.

Here is a scenario from a dump:
[hciLog.txt](https://github.com/sandeepmistry/noble/files/308335/hciLog.txt)

[2016-06-11 03:04] akayami opened #412 "Unable to scan."
I've been attempting to run examples/enter-exit.js as root
The program generates no output at all.

hcidump -t -x:
[code]

I'm pretty new to this stuff, and not used to read this output. I suspect this part of it might have something to do with the issue:
[code]

Just FYI, I'm able to do everything using bluetoothctl, so all involved devices are to be running correctly, but I've not been able to s

[2016-06-13 17:04] JohannesRudolph commented on #294
Sorry for the long delay in replying. Setting typeMask to `0xffffffff` did the trick. Can you come up with a fix based on this? I assume checking platform endianness and then inverting or replacing `writeUIntXXLE` with `writeUIntXXBE` should do the trick.

I can work on a PR, probably within the next few days but we'd need an updated bleno&noble release from you.

[2016-06-14 21:28] skerit opened #413 "noble: unknown peripheral undefined RSSI update!"
I'm periodically trying to get an update on the RSSI value, like so:

[code]

But all I get as output is:

    noble: unknown peripheral undefined RSSI update!

What's going wrong there?

[2016-06-16 08:43] TomasPangzi opened #414 "Can I 'gulp' it 'browserify'?"
Can I 'gulp' it 'browserify'?

[2016-06-16 17:25] monteslu commented on #414
@TomasPangzi you can browserify it.  Right now it will attempt to use websocket bindings to a local server that will proxy the noble calls from the browser to nodejs.

If you want it to use webbluetooth, you can try browserifying my fork:  https://github.com/monteslu/noble
Would love some help in testing that fork :)

[2016-06-17 02:22] TomasPangzi commented on #414
@monteslu Thank you.

[2016-06-17 02:22] #414 closed

[2016-06-17 10:36] skerit commented on #412
I've got the same problem. But, once I've created a connection to a device, enabling SCAN *does* work.

[2016-06-18 01:21] akayami commented on #412
Hmm should not you first scan for stuff before connecting ? It does not
make sense to me.

On Fri, Jun 17, 2016, 06:36 Jelle De Loecker <notifications@github.com>
wrote:

[2016-06-18 14:32] vdharmon opened #415 "configuration property NOBLE_HCI_DEVICE_ID=1"
I'm working with a device that has multiple BLE's.  One is attached via USB and another one is on the board.  I'm trying to pin the Noble code to the UART (on board) BLE.  From my testing it's not pinning the Noble code to the device id I set the property to.
Here's how I'm testing.

1) I have a USB BLE plugged in.  Hciconfig shows the USB as hci0 and the UART (on board) as hci1.

2) I set the NOB

[2016-06-19 23:49] sandeepmistry commented on #382
@rpastel thanks.

This is really strange:

[code]

The HCI stack in `node-bluetooth-chi-socket` has started to reset the local bluetooth adapter (as it's does every startup). However, it looks like a connection event happens during this. I don't see the pairing request though.

During the initialization process, it also reads the local BT adapter address. However, since this has not happened yet,

[2016-06-19 23:54] sandeepmistry commented on #310
Thanks for the update. I'm going to hold off working on this myself, so it's still up for grab if someone else wants to work on it.

[2016-06-20 00:00] sandeepmistry commented on #411
@Dan-Azure could you please share a more complete HCI dump capture for more context. Just to track down the root cause. (Also, adding `-t -x` arguments would be great when running `hcidump`).

[2016-06-20 00:07] sandeepmistry commented on #403
@Lahorde would it be possible for you to provided an HCI dump capture using `hcidump -t -x`?

[2016-06-20 00:09] sandeepmistry commented on #406
@miniBloq awesome!

[2016-06-20 00:12] sandeepmistry commented on #409
@peturh what peripheral are you using?

[code]

The disconnect happens shortly after the Linus kernel sends a request for a connection update (change connection parameters).

[2016-06-20 00:20] sandeepmistry commented on #294
@JohannesRudolph I mentioned this to @marcnicholas a while back. He didn't have any issues with the mask on his MIPS system.

However, let me know if you have a PR to calculate the mask based on the endianness of the system.

[2016-06-20 00:22] marcnicholas commented on #294
I was using a MIPS in Little Endian mode. (mipsel)

[2016-06-20 00:27] sandeepmistry commented on #413
@skerit we're going to need more info. to track this down ...

 * What OS are you using noble on?
 * Could you please share a minimal Node.js app to re-create the problem?
 * Also, provided debug logs from running above, `DEBUG=* node <file>.js`

[2016-06-20 00:34] sandeepmistry commented on #294
@marcnicholas thanks for the clarification, this makes more sense :)

[2016-06-20 00:41] sandeepmistry commented on #414
@monteslu thanks for helping @TomasPangzi out!

[2016-06-20 00:53] sandeepmistry commented on #412
@skerit

What Bluetooth adapter are you using?

@akayami

Yes, there is something wrong here, an error should be passed into the callback.

[2016-06-20 00:57] sandeepmistry commented on #415
@vdharmon this probably related to the discussion in https://github.com/sandeepmistry/node-bleacon/issues/47#issuecomment-225391552 by @jfathman.

He noticed the following:

1. When there are no external USB adapters plugged in the UART interface is hci0
2. When an external USB adapter is plugged in the UART becomes hci1 then the USB adapter is hci0

Since the kernel decided which HCI # to use for

[2016-06-20 00:57] #415 closed

[2016-06-20 10:09] BasKiers opened #416 "No state change in strict mode"
I am unable to use Noble in strict mode. Since I am using node 4.4.5 I want to use strict mode to take advantage of const/let and classes. Example code that does not work for me:

[code]

When I remove `'use strict';` the `stateChange` event does get fired.

[2016-06-20 17:44] vdharmon commented on #415
Actually your code is working correctly.

I'm passing in NOBLE_HCI_DEVICE_ID = 0 and BLENO_HCI_DEVICE_ID = 1 when I have a USB with the UART.  What happened is I then reversed these to do some validation and for some reason the NOBLE_HCI_DEVICE_ID = 1 wasn't pinning the Noble code to the UART.  It ended up being how the variable was getting set.  I modified the hci.js file to expose a this._device

[2016-06-21 01:03] Dan-Azure commented on #411
Hi, Sandeep.

With pleasure:

    LE Advertising Report
      ADV_IND - Connectable undirected advertising (0)
      bdaddr DEVICE (Random)
      Shortened local name: 'myname'
      Flags: 0x06
      Unknown type 0x06 with 16 bytes data
      RSSI: -48
2016-06-21 00:42:16.518519 > HCI Event: LE Meta Event (0x3e) plen 12
    LE Advertising Report
      SCAN_RSP - Scan Response (4)
      bdaddr DEV

[2016-06-22 17:30] taktran commented on #409
Hi, I'm getting problems with disconnecting on a rpi3 too.

Some devices disconnect and connect correctly, but then some don't connect again at all. When they don't connect, they don't show up in `sudo hcidump -t -x` at all. However, I have noticed that when I open the [Bluetooth manager](https://thepihut.com/blogs/raspberry-pi-tutorials/17841464-bluetooth-installing-and-using-bluetooth-on-the-ras

[2016-06-22 17:36] taktran commented on #409
I just caught the devices turning off and on again with the `hcidump`: https://gist.github.com/anonymous/4e8c4e08a27e1cfc11075bbfb5cf755a

I **didn't** have bluetooth manager on in this case, and 2 came back on and 2 didn't. There was no activity between the devices for a couple of minutes before they turned off.

[2016-06-26 23:39] sandeepmistry commented on #416
@BasKiers seem ok to me on OS X with Node.js v4.4.6:

[code]

What OS are you using? Could you also provide debug output? ```DEBUG=* node <file>.js`

[2016-06-26 23:49] sandeepmistry commented on #411
@Dan-Azure I might be missing something, but I don't see a disconnect event between MTU exchanges anywhere:

[code]

[code]

However, I do see a local disconnect command, is this what you are concerned about?

[2016-06-26 23:57] sandeepmistry commented on #409
@taktran I don't "support" old versions of noble. We can discuss setting up a consulting agreement via email if you have no plans to upgrade to the latest.

[2016-06-27 08:02] shirish47 opened #417 "Not able to receive advertisement after receiving onces"
I am trying out noble example advertisement-discovery.js on intel edison with the nrf51822 and my devices work perfectly...
but after receiving advertisment displaying it on console .. edison does not show the advertisement again.. I am putting my data in adv packet other devices(other nrf51822) show the updated adv packet.

how does noble handle this in background ?? does it store mac address and

[2016-06-29 14:03] corneyl opened #418 "Using noble together with bleno results in no `stateChange` to `poweredOn`"
I'm trying to use noble and bleno in one project, as e.g. is done in the project [sandeepmistry/node-bleacon](/sandeepmistry/node-bleacon), but as soon as I `import noble from 'noble'`, bleno does not start advertising. But this should be possible right?

This is my debug output when using `$env:DEBUG='noble,bleno'` It seems like bleno does not get a stateChange to poweredOn.

[code]
When I import

[2016-06-29 22:30] lessonpix commented on #387
Hi Sandeep - I just got my Pi3 and will be looking at this again.

To clarify, it is Connecting to > 5 that is the problem, scanning is fine.  If I can't get past this limitation, I will need to add a dongle + the internal BT adapter on the Pi3 and work out how to manage two interfaces.

One way or another I'll get this working this weekend and will update the thread.

[2016-06-30 17:35] lessonpix commented on #387
So, this should, indeed be closed.

With the new Raspberry Pi 3's builtin bluetooth interface, I have succeeded in connecting to 8 bluetooth bulbs without hitting this issue.  It looks like it is simply a limitation of the dongle I was using.  I suppose it would be nice if there were a more obvious error message, but I'm not complaining - you're help was much appreciated.

Thank you!

[2016-07-02 09:04] papajim opened #419 "Exception when trying to enable notify on a characteristic"
I use the following code to enable notify on a characteristic, but it results in an uncaughtException with the following message "Range Error: index out of range". I'm not sure whether this is a bug or me not using the library as expected.

[code]
I have also tried the following code, but it results in the same error.
[code]
I use noble.js 1.3.0, this code is used on the central device and charact

[2016-07-02 22:21] lessonpix opened #420 "Help connecting to known devices"
Hi folks,

I've had much more luck since moving from the CSR dongle to the RPi3 internal adapter (yay).

What I'm seeing now is more of a timing issue that may be related to my newness to Node-style coding.  I'd like some help getting this done right, and I'll be happy to write up a guide in the Wiki when it's working.

I have 8 devices I'm working with: 7 BLE bulbs and an adafruit Bluefruit chip

[2016-07-02 23:02] lessonpix commented on #420
After adding lots of safety checks and JUST saving the peripheral, waiting until all had been connected,  I have this connected to 6 of 7 90+% of the time. and 7 of 7 50% of the time.  When it fails I see this message in hcidump:
[code]
Now, some googling tells me that that error 0x3e can "just happen" sometimes (yuk).  However, don't see this error being returned (all 'error' parameters are null)

[2016-07-03 13:43] sandeepmistry commented on #417
Hi @shirish47,

Please see the read me: https://github.com/sandeepmistry/noble#start-scanning

I think you want to start scanning with duplicates: ```noble.startScanning([], true```

[2016-07-03 13:43] #417 closed

[2016-07-03 14:15] sandeepmistry commented on #419
Hi @papajim,

noble should definitely handle this case in a nicer way than crashing.

Could you please share the full exception and which OS you are using? As well as what the value of `characteristics[0].uuid` and `characteristics[0].properties` is?

Maybe you are trying to subscribe to a characteristic that does not have a `notify` property?

[2016-07-03 16:13] papajim commented on #419
Hello @sandeepmistry thanks for your reply.

I'm using Windows 7 and I'm trying to enable notify on a custom characteristic of a custom service. characteristics[0].uuid = 19202122232425262728293031323334 (hex)
characteristics[0].properties = ["read", "notify"]

![capture](https://cloud.githubusercontent.com/assets/812835/16546291/acddcfd8-414e-11e6-82ca-d183f1d1f392.JPG)
![capture2](https://cloud.

[2016-07-05 16:56] Casper-Oakley opened #422 "Unable to get services or characteristics"
Hey!
I've recently been trying to setup noble on a raspberry pi 3 using an external bluetooth dongle. Installation was all fine and noble was able to run without errors. However, after connecting (successfully) to a peripheral, it isn't able to find any services. It is worth mentioning that I can read and write characteristics using gatttool. The version of bluez I'm running is 5.37 in case that a

[2016-07-06 16:10] corneyl commented on #418
Ok thanks, maybe it might be handy to throw an error. :smiley:

[2016-07-07 16:42] Casper-Oakley commented on #422
Ignore this. Turns out the error was on the peripheral's side. Closing the issue.

[2016-07-07 16:42] #422 closed

[2016-07-09 06:44] seldenr opened #424 "Address appears as "unknown" on Mac OS X 10.11"
I have installed noble as instructed and have Xcode installed. When I run the enter-exit.js file from the examples, all of my addresses found are "unknown". I verified on an Ubuntu machine that they are advertising correctly, noble finds their addresses correctly.

Please let me know what log files would be helpful to post, or anything else needed to find the issue.

Thanks!

[2016-07-10 19:15] zrecore opened #425 "How do we contribute (monetarily, hardware, etc)?"
Hi Sandeep,

NobleJS is a wonderful package. I've gotten BLE comms into UE4, ThreeJS, and other platforms thanks to the hardwork put into this package. (I also noticed some big names in the maker field using NobleJS for desktop apps)

Is there any official way of contributing money and/or equipment to support this package?

Thanks in advance.

- Alex

[2016-07-12 20:21] vdharmon opened #427 "Running Noble on a Raspberry PI 3 where there are 2 BLE devices"
I'm seeing an issue on a Raspberry PI 3.

Here's the configuration.
1) There is a USB attached to the device.  So hciconfig will show 2 ble devices.  USB is on port 0 and UART is on port 1.
2) I've configured Noble to run on hci0. Using NOBLE_HCI_DEVICE_ID=0.
3) Both hci devices are in the 'UP' state.
4) I have the latest version of the PI firmware. (4.4.15-v7+)

I'm using the include example file

[2016-07-13 01:27] sandeepmistry commented on #418
@corneyl first we have to find a way to programmatically detect both are running in the same process :) Do you have time to look into this?

[2016-07-13 01:42] sandeepmistry commented on #424
Hi @seldenr,

I've added a note about this to the read me in https://github.com/sandeepmistry/noble/commit/b0f5d8fdb61e550211c38e1297b7328bbed1bc14.

https://github.com/sandeepmistry/noble/blob/master/README.md#peripheral-discovered

[2016-07-13 01:42] #424 closed

[2016-07-13 02:24] sandeepmistry commented on #425
Hi @zrecore,

Thanks for the positive feedback! It's great to hear about how you've successfully used noble in your projects.

I have received various equipment to test with from others through people contacting me via email.

Do you have any examples on how other open source projects have setup "official ways of contributing money and/or equipment"? Or do you have any suggestions on how to do thi

[2016-07-13 02:48] zrecore commented on #425
Usually, I've seen PayPal buttons (or payment page) - where said funds are
used for hosting, equipment, etc.

A list of hardware that the NobleJS project can benefit from would be great
(along w/ some way of sending stuff).

I am grateful for your work on NobleJS, as it becomes even more relevant to
an expanded set of platforms - enabling BLE communication into environments
where it may have been

[2016-07-13 03:25] monteslu opened #428 "additional filtering options in noble.startScanning()"
Currently we can pass an array of service UUIDs to search for in `noble.startScanning();`.

In cases where the device doesn't broadcast the service we want to search for we either pass in an empty array or no parameters to search for any BLE device and manually filter for device we want.

While this works for most platforms, WebBluetooth does not currently allow for an open scan.  Instead we can p

[2016-07-13 22:53] esinyor commented on #229
@chumager I'd like to do something similar. When you mention Async Queue, are you referring to the queue included in this https://github.com/caolan/async ?

If so, care to give some details on what you're doing? Are you queueing calls to peripheral.connect()?

[2016-07-14 01:50] sandeepmistry commented on #428
@monteslu this sounds good to me, just to confirm the structure of the options object would be the following?

[code]

[2016-07-14 02:28] chumager commented on #229
Hi @esinyor, tell me what do you want to do, maybe a pv message, so I can help u with.

Regards

[2016-07-18 00:14] sandeepmistry commented on #427
Hi @vdharmon,

Could you please provide an HCI dump capture and debug logs? ```sudo hcidump -t -x```, ```sudo DEBUG=* node <file>.js```

[2016-07-22 15:30] taktran commented on #409
Hi @sandeepmistry, we are planning to upgrade, just haven't had the time to do it yet. Just thought it might be useful know, the issue happens on older version noble.

Will let you know my findings when I do a successful upgrade.

[2016-07-22 22:52] vdharmon commented on #427
Here's the information you requested.

The dump.txt file is running **sudo hcidump -t -x -w dump.txt**
The node.txt file is running **sudo DEBUG=* node peripheral-explorer.js e7b1090d2606**

[dump.txt](https://github.com/sandeepmistry/noble/files/379190/dump.txt)
[node.txt](https://github.com/sandeepmistry/noble/files/379193/node.txt)

Regards,
Vince

[2016-07-23 15:12] vdharmon commented on #427
I've tried to take more time and get you more complete results.  I'm using Noble and Bleno on same PI but each is tied to it's own BLE.  They never use the same BLE.

If I run the code for Bleno or Noble alone tied to either the USB or UART everything works fine.  Having the USB plugged in doesn't seem to cause any issues.  It's only when both are running at the same time.

I've shared the tests I

[2016-07-25 06:54] papajim commented on #419
*Bump*
Hello @sandeepmistry do you have any idea what's going on ?

[2016-07-26 01:34] carlosamtech opened #433 "writeHandle withoutResponse does not work in Ubuntu"
https://github.com/sandeepmistry/noble/blob/master/lib/websocket/bindings.js Line 292.
This 2 methods call the same action readHandle?
NobleBindings.prototype.readHandle = function(deviceUuid, handle) {
  var peripheral = this._peripherals[deviceUuid];
  this._sendCommand({
    action: 'readHandle',
    peripheralUuid: peripheral.uuid,
    handle: handle
  });
};
NobleBindings.prototype.writeHandl

[2016-07-26 20:31] mbifulco opened #434 "Requiring noble package causes errors on npm install"
Hi there - on any project including noble, I'm getting errors when I try to install the noble package.  It looks like it's because of a dependency on node-usb, specifically these issues: https://github.com/nonolith/node-usb/issues/109 & https://github.com/sandeepmistry/noble/issues/434

This is a bit of an odd place to report the error, I suppose, but according to that issue, it looks like the aut

[2016-07-27 00:57] nmqanh opened #435 "discoverCharacteristics return empty characteristics even err is null"
I am using `macOS 10.11.5`, and I use `node 4.4.3`.
I am letting MAC to be a Pizza service peripheral running bleno with `node peripheral`
(https://github.com/sandeepmistry/bleno/tree/master/examples/pizza)

and I am using Tessel 2 to discover that service with `t2 run central.js`.
(https://github.com/sandeepmistry/noble/tree/master/examples/pizza)
Here is the log result:
[code]

Here is the code:

[2016-07-27 01:03] sandeepmistry commented on #434
@mbifulco could you please share also console output of the failure.

Also, did you follow the read me: https://github.com/sandeepmistry/noble#ubuntudebianraspbian

`node-usb` is optional on Linux anyways, just needed for Windows.

[2016-07-27 01:18] sandeepmistry commented on #419
@papajim could you please provide debug logs. You need to set the `DEBUG` environment variable to `*`. I think `setenv DEBUG=*` is the way to do this.

[2016-07-27 03:01] mbifulco commented on #434
@sandeepmistry so it looks like I missed installing `libudev-dev` from the prereqs in the readme.  Now the only output I get from `npm install` that looks funny is the following:

[code]

But I assume that's okay because I'm running on a pi, right?

[2016-07-27 03:18] mbifulco commented on #387
Hi @sandeepmistry - is there a way to circumvent the limit for CSR radios?  I'm using a long-range BLE radio for the project I'm working on, and it appears to use a Cambridge Silicon Radio (that is the CSR being referenced, right? 😄 )

Additionally, is there any way to output the HCI device that is being used by noble at runtime? I saw the comment about setting an environment variable, but I'd lik

[2016-07-27 10:28] bluetooth-mdw opened #436 "Access to all advertising and scan response packet data"
It would be handy sometimes if there was a way to have the entire advertising/scan response content passed to an application which is scanning rather than the specific fields which are currently parsed. Right now, to give an example, I'm interested in ADV packets which include the "List of 16 bit Solicitation UUIDs" AD type.

So ideally, parsing and formulation of JSON advertisement objects could

[2016-07-27 16:23] tobyjaffey opened #437 "Unable to read services/characteristics on RPi3 with A&D_UA-651BLE device"
Using Raspberry Pi 3 with Noble, I am unable to list services and characteristics from the `A&D_UA-651BLE_5F087D`.

Can anyone offer any things to try?

My Raspberry Pi bluez version is 5.23-2+rpi2

	pi@raspberrypi:~ $ dpkg --status bluez | grep '^Version:'
	Version: 5.23-2+rpi2

Noble on OSX does work for the same device, though it must be paired first. Connecting to the device (using Noble) trig

[2016-07-27 23:55] sandeepmistry commented on #437
Hi @tobyjaffey,

At this time pairing with `bluetoothctl` is not supported, as noble does not use the Linux kernels SMP stack, and has it's own built-in SMP stack that only supports "Just Works" pairing.

I would suggest unpairing using `bluetoothctl` and using noble to access a secure characteristic on the device, it will inmate the pairing process.

[2016-07-28 00:02] sandeepmistry commented on #436
As I mentioned in https://github.com/sandeepmistry/noble/pull/426#issuecomment-234811146 I'm not keen on exposing raw EIR data.

No issues adding support to parse solicited service UUID's.  OS X also supports them via the `CBAdvertisementDataSolicitedServiceUUIDsKey` key ([more details](https://developer.apple.com/library/mac/documentation/CoreBluetooth/Reference/CBCentralManagerDelegate_Protocol/

[2016-07-28 00:06] sandeepmistry commented on #434
Yep, `xpc-connection` is only needed for OS X.

[2016-07-28 00:06] #434 closed

[2016-07-28 00:09] sandeepmistry commented on #387
@mbifulco

Not that I'm aware of. This is a fixed hardware or firmware limitation. You could add more adapters.

See PR #432, maybe something like `noble._bindings._deviceId` if you use the master version.

[2016-07-28 05:39] tobyjaffey commented on #437
@sandeepmistry,

Ok, that makes sense.

However, with this device, I get no response to `discoverServices()` (presumably until I have paired). How can I access a secure characteristic without the object that comes back from `discoverServices()` and `discoverCharacteristics()`?

I know the uuid's. Is it possible to build the object for `characteristic.read()` without having scanned?

Thanks.

[2016-07-28 05:44] bluetooth-mdw commented on #436
OK...platform differences. Makes sense.

Not surprisingly perhaps I did go ahead and add what I needed to gap.js yesterday! So yes, I'll submit a PR.

Cheers

Martin

[2016-08-01 17:45] mbifulco opened #439 "Best practices for getting noble to poll for notifications quickly and consistently?"
Hi there -
I'm running noble on a Raspberry pi 3 device, using an external antenna - trying to read heart rate from several BLE heart rate monitors at a time.

I've basically taken the intro code from this repo and changed it to only look for the Heart Rate Service (`180d`) - which has done a good job of ensuring that my Pi only connect to devices I'm interested in... but past that I haven't chang

[2016-08-01 17:57] mbifulco commented on #439
I should add that testing on a Macbook Pro yields different results - I hit the 6 device limit right away (using the internal bluetooth radio), and get notifications pretty quickly thereafter, every time.

[2016-08-02 20:45] sharkwheels opened #440 ""userDescriptionDescriptor.readValue is not a function" error fix?"
I'm getting a userDescriptionDescriptor.readValue is not a function error on a raspberry pi, when checking out some light blue beans, it doesn't happen on OSX. I'm unclear as to what the error is and how to fix it, wondering if someone can help shed some light on this?

TypeError: userDescriptionDescriptor.readValue is not a function
    at /home/pi/noble_test/explorer.js:107:55
    at /home/pi/no

[2016-08-03 18:42] dbetz opened #441 "pizza example working?"
I'm trying to run the pizza example on a pair of Beaglebone Green Wireless modules, one running the noble central and the other running the bleno peripheral. The central is able to find the peripheral and connect to it but discoverServices returns an empty array of services. Any idea why that might happen?

[2016-08-03 22:51] jasoncodes commented on #403
I’ve ran into this same problem trying to connect to two BTLE tags from seperate processes. I can connect to both with the same noble instance fine.

linux 4.4.13+ (raspberry pi)
bluez 5.23-2+rpi2
noble 1.6.0
CSR8510

Test script: [test.js](https://github.com/sandeepmistry/noble/files/400461/test.js.txt)

Test procedure:

1. Start `hcidump -t -x`
2. Start first instance of test script
3. Turn on f

[2016-08-04 21:14] ringtailsoftware commented on #437
I have tracked this down further. In my hcidump output, the slave device sends to noble "SMP: Security Request (0x0b)".

This is not handled in smp.js. According to https://books.google.co.uk/books?id=-LMq0NhoEQgC&pg=PA223&lpg=PA223&dq=smp+security+request+0x0b&source=bl&ots=AYsVtiSATz&sig=6CB0Oh1r_kZT42Na3f4mrXfOmZM&hl=en&sa=X&ved=0ahUKEwjT_fGw06jOAhVIJsAKHWw_C044ChDoAQgkMAE#v=onepage&q=smp%20sec

[2016-08-05 09:42] roycwc opened #442 "var noble = require('noble'); should not immediately start listeners"
#299

Once i call
`var noble = require('noble');`

the script keep listening and I can't find a way to stop it except Ctrl+C.

I think there should be some start/stop listening method for us to do it manually. eg.
[code]

[2016-08-05 21:47] relevante commented on #229
@carlst,

Thanks for the cancel connection code. It's working well for me on Linux (Raspbian). I forked the repo and added the changes here in case it's helpful for anyone:

https://github.com/relevante/noble

And thanks @sandeepmistry for the awesome library!

[2016-08-06 15:55] nanohex opened #443 "lastet is not reading TI (CC2650 SensorTag) devices anymore"
getting error below.

nodejs peripheral-explorer.js B0:B4:48:B9:8E:83
peripheral with ID b0b448b98e83 found
  Local Name        = CC2650 SensorTag
  Manufacturer Data = 0d00030000
  Service Data      =
  Service UUIDs     = aa80

services and characteristics:
noble: unknown peripheral b0b448b98e83 connected!

[2016-08-08 13:06] aditya02maurya opened #444 "Noble not working with Electron"
Trying to create an **Electron** application using noble module.

With **Electron** got this error while `npm start.`

    A JavaScript error occurred in the main process.

    [Content]
    Uncaught Exception:
    Error: A dynamic link library (DLL) initialization routine failed.
    \\?\F:\electron_boilerplate\electron-boilerplate\build\node_modules\noble\node_modules\bluetooth-hci-socket\node_m

[2016-08-10 22:14] Kazjon commented on #357
We're trying to use an adapter that is supposed to have a much higher simultaneous connection limit (over 50), but still running into the 5-device limit in noble.  We're on raspbian on a Raspberry Pi 3 using an external bluetooth dongle.  Is it possible that there's something in noble which is limiting us artificially?  Is there any way we can print out a more verbose log of why connections are fa

[2016-08-11 05:16] nanohex commented on #443
This worked all before until most recently getting the latest to work under node-red

noble, noble-device, sensortag, node-red-node-sensortag

11 Aug 05:12:16 - [info] [sensorTag:da38c05e.25c74] found sensor tag: b0b448b98e83
11 Aug 05:12:16 - [info] [sensorTag:752fad59.8ad054] connected to sensor tag: b0b448b98e83
noble warning: unknown peripheral b0b448b98e83
11 Aug 05:12:16 - [info] [sensorTag:

[2016-08-11 13:11] reallyroy opened #445 "Change security level"
I have a clarification rather than an issue.

How do I set or change the bluetooth security level in the Noble library? I looking to set up secure encrypted data transfer between my peripheral and the central module (noble) but I'm unable to find out if or how it is possible from the readme or code.

Would you be able to clarfiy or point me to the place where I can get this clarified?

[2016-08-11 17:16] mbifulco commented on #425
Echoing this.  This is a fantastic library, and very well documented and supported.  Would love to show some appreciation, @sandeepmistry!

[2016-08-12 12:32] Alfred1992 commented on #445
I would like to know too

[2016-08-14 12:41] timfish opened #446 "nwjs crash when require('noble')"
[code]

Sorry for yet another issue related to nwjs/electron!

I'm using a new-ish version of nwjs which doesn't require `nw-gyp`. `npm install noble` has no errors, but when I `require('noble')` in JavaScript I get a crash with some errors from the dynamic linker.

[code]

[2016-08-14 12:42] timfish commented on #446
Further testing shows that this also occurs with `require('xpc-connection')` so maybe the bug should be filed there instead...

[2016-08-14 19:30] sandeepmistry commented on #357
@Kazjon nope, I believe it's all hardware and firmware dependent. HCI dump will provide the info. you need: ```sudo hcidump -t -x```

[2016-08-14 19:42] sandeepmistry commented on #442
@roycwc this is not supported currently.

https://github.com/sandeepmistry/noble/issues/299 is already open to track this.

[2016-08-14 19:42] #442 closed

[2016-08-15 18:06] andreydung opened #447 "Missing information in peripheral advertisement discovery data"
I'm running examples/advertisement-discovery.js, and it shows a list of devices, along with full advertisement information returned.

[code]

However, if I use UUID in startScanning to only pick wanted devices:

`    noble.startScanning(['7468656861626974736c61626e616269'], false);
`

The peripheral objects misses TX powerlevel, manufacturere data:

[code]

I'm wondering, in which file is this imp

[2016-08-16 12:46] TorstenRobitzki commented on #179
Maybe me issue is related to this. I have _one_ service with an 128 bit UUID, that contains 3 characteristics from which I expect to see notifications for two of them:

    control_point_char.on 'data', (data, is_notification)->
        control_point_callback( data, is_notification )

    progress_char.on 'data,', (data, is_notification)->
        progress_callback( data, is_notification )

    co

[2016-08-17 08:59] ozanAta opened #448 "Noble Scan Parameters , internal - window"
Hello,
When i use noble for BLE scan, time difference between two signals can go up to  40 seconds, but when do the scanning on my mobile phone (using estimote's app) it's getting a signal every second. I tried changing interval and window parameters on `lib/hci-socket/hci.js` but i didn't worked, how can i change the scanning parameters to get 900ms of scanning time and 100ms rest time. Thank you

[2016-08-17 19:13] mbifulco commented on #223
Hi @sandeepmistry - I've run into this issue, and have been able to test it out.  It looks like running `sudo hcitool lescan` will find the devices that haven't been discovered every time.  I'd love to work through fixing this with you, and happy to open a PR if I can figure out how to bake in the changes you were talking about.

What's the best way to work together on this?

[2016-08-19 11:46] alokranjan007 opened #449 "Unknown peripheral device failed to retrieve any information"
Hello,
I am trying to connect my BLE device angel sensor) using the index.js . However, It is connected it is throwing an error just after a connection. It is saying after the command like this `sudo node index.js
Searching for Angel Sensor
connected to Angel Sensor 04453
UUID: 000780030213
Address: 00:07:80:03:02:13
noble warning: unknown peripheral 000780030213
` where uuid is my BLE sensor Mac

[2016-08-21 07:47] nanohex commented on #449
I am getting the same messages https://github.com/sandeepmistry/noble/issues/443

[2016-08-21 23:00] sandeepmistry commented on #446
Hi @timfish, yes please move this issue to that repo: https://github.com/sandeepmistry/node-xpc-connection.

Also, please try it out with `nw-gyp` if possible.

[2016-08-21 23:05] sandeepmistry commented on #444
@aditya02maurya please see https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md

You need to rebuild the native modules to work with electron.

[2016-08-21 23:05] #444 closed

[2016-08-21 23:09] sandeepmistry commented on #425
@zrecore @mbifulco thanks!

Does anyone have experience with something like OpenCollective? https://opencollective.com

[2016-08-21 23:12] sandeepmistry commented on #445
@reallyroy @Alfred1992

It's all transparent following the Apple iOS/OS X model. When a peripheral device responds with `ATT_ECODE_AUTHENTICATION`, `ATT_ECODE_AUTHORIZATION` or `ATT_ECODE_INSUFF_ENC` for an GATT/ATT operation the pairing process will kick off.

At this time only "Just Works" pairing is supported, and pairing keys are not persisted.

[2016-08-21 23:12] #445 closed

[2016-08-21 23:19] sandeepmistry commented on #447
@andreydung, could you please share the debug logs? `DEBUG=* node <file>.js`

`lib/mac/yosemite.js`

[2016-08-21 23:31] sandeepmistry commented on #443
@nanohex which kernel version are you using?

[code]

Looks really strange given:

[code]

above.

[2016-08-21 23:52] sandeepmistry commented on #223
@mbifulco thanks!

We need to better understand why certain adapters / firmware behave differently and see if we can find a way to programmatically detect how the adapter/firmware will behave (maybe reading adapter features?).

The change to call start scanning again after a connection occurs is trivial but I prefer not to do this all the time. Since it could interfere with filtering out duplicate

[2016-08-22 00:05] nanohex commented on #443
uname -a >>
Linux nanopineo 3.4.112-sun8i #12 SMP PREEMPT Tue Aug 16 16:27:48 CEST 2016 armv7l armv7l armv7l GNU/Linux

cat /proc/version >>
Linux version 3.4.112-sun8i (root@armbian) (gcc version 5.3.1 20160413 (Ubuntu/Linaro 5.3.1-14ubuntu2) ) #12 SMP PREEMPT Tue Aug 16 16:27:48 CEST 2016

hope this helps.

[2016-08-22 00:08] sandeepmistry commented on #449
Hi @alokranjan007,

Could you please provide the following?

 * simple Node.js app to reproduce the issue
 * debug logs: `sudo DEBUG=* node <file>.js`
 * HCI dump: `sudo hcidump -t -x`
 * Kernel version

[2016-08-22 00:09] sandeepmistry commented on #443
@nanohex thanks.

Do you have time to try downgrading the kernel?

[2016-08-22 00:15] sandeepmistry commented on #441
@dbetz could you please share:

 * debug logs: `node DEBUG=* <file>.js`
 * HCI dump capture: `sudo hcidump -t -x`

Maybe `bluetoothd` is still running on the bleno side?

[2016-08-22 00:17] sandeepmistry commented on #440
@sharkwheels could you please share:

 * a simple Node.js app to reproduce the issue
 * debug logs: `node DEBUG=* <file>.js`
 * HCI dump capture: `sudo hcidump -t -x`

[2016-08-22 00:23] sandeepmistry commented on #435
@nmqanh thanks for reporting, let's continue the discussion in https://github.com/sandeepmistry/noble/issues/441#issuecomment-241291478.

I'm closing this as a duplicate for now.

[2016-08-22 00:23] #435 closed

[2016-08-22 00:29] nanohex commented on #443
sure, ok downgrading from 5.17 to 5.10 and lets see will update.

[2016-08-22 00:30] zrecore commented on #425
Oh cool! I've never heard of it - but if that's something you want to try,
I'm chipping in some loot.

On Aug 21, 2016 4:09 PM, "Sandeep Mistry" <notifications@github.com> wrote:

[2016-08-22 00:49] nanohex commented on #443
still getting same error

[2016-08-22 01:00] nanohex commented on #443
22 Aug 00:58:33 - [warn] ------------------------------------------------------
22 Aug 00:58:33 - [info] Settings file  : /root/.node-red/settings.js
22 Aug 00:58:33 - [info] User directory : /root/.node-red
22 Aug 00:58:33 - [info] Flows file     : /root/.node-red/flows_myiotserver.com.json
22 Aug 00:58:33 - [info] Server now running at http://127.0.0.1:1880/
22 Aug 00:58:33 - [info] Starting flo

[2016-08-22 01:03] nanohex commented on #443
22 Aug 00:58:33 - [info] Server now running at http://127.0.0.1:1880/
22 Aug 00:58:33 - [info] Starting flows
22 Aug 00:58:33 - [info] Started flows
22 Aug 00:59:09 - [info] [sensorTag:37e9e3d4.c8161c] found sensor tag: b0b448b98e83
22 Aug 00:59:10 - [info] [sensorTag:37e9e3d4.c8161c] connected to sensor tag: b0b448b98e83
noble: unknown peripheral b0b448b98e83 connected!

So went all the way back

[2016-08-22 01:19] sandeepmistry commented on #433
@carlosamtech please submit a pull request for this, the action should be `writeHandle` in `writeHandle`.

[2016-08-22 01:23] sandeepmistry commented on #398
@nemanja-tosic does this still happen with the latest Node.js 6 release?

If so please close this issue and open again in https://github.com/sandeepmistry/node-bluetooth-hci-socket

[2016-08-22 01:24] sandeepmistry commented on #411
@Dan-Azure ping ...

[2016-08-22 01:25] sandeepmistry commented on #413
@skerit ping ...

[2016-08-22 01:25] sandeepmistry commented on #416
@BasKiers ping ...

[2016-08-22 01:27] sandeepmistry commented on #419
@papajim ping ...

[2016-08-22 02:12] mbifulco commented on #223
Hm, okay.  I'm afraid I still don't really know how I can help.  Do you have a suggestion for what I might do as a workaround on a system where I know that the `lescan` call finds missing sensors?

[2016-08-22 02:13] mbifulco commented on #223
And, can we re-open this issue?

[2016-08-22 02:14] mbifulco commented on #425
Ditto.  Seems legit to me - like a Patreon for OSS.

[2016-08-22 09:39] alokranjan007 commented on #449
Hi sandeep,

Thank you for your reply.  I apologise for being late to your queries.

Please excuse me I am out of office and will be unaccessible for next 10 days.  It's a kind of emergency and can't be ignored.

So once I joined back I would provide you all details.

Thank you for your kindness and active response.

Thank you,
Alok

Sent from my Sony Xperia™ smartphone

---- Sandeep Mistry wrote

[2016-08-22 10:36] timfish commented on #446
New issue for `node-xpc-connection` https://github.com/sandeepmistry/node-xpc-connection/issues/15

[2016-08-22 10:36] #446 closed

[2016-08-22 17:09] Dan-Azure commented on #411
Hi, Sandeep. Apologies for not getting back to you. My problem fixed itself and I kinda forgot about you.

However, I do want to share what fixed my problem:

hci.js: Hci.prototype.createLeConn

The default supervision timeout is really short. Too short for us to reliably succeed in connecting. We looked at Apple's default standard and they give something like 5 times the period that noble gives u

[2016-08-23 00:43] sharkwheels commented on #440
@sandeepmistry

The node app is a modified explorer.js example: http://pastebin.com/xJZ0rDcC

Debug logs:
< Debugger listening on [::]:5858
connecting to 127.0.0.1:5858 ... ok
break in explorer.js:1

  2 var noble = require('noble');
  3 var peripheralIdOrAddress = "d03972c9d02e";

sudo hcidump -t -x
HCI sniffer - Bluetooth packet analyzer ver 5.41
device: hci0 snap_len: 1500 filter: 0xffffffff

[2016-08-23 11:53] dbetz commented on #441
Yes, bluetoothd is running on both the noble and the bleno side. Is that a problem?

[2016-08-23 15:18] tellandev opened #450 "Not finding all devices"
Hi

I am using Noble on a Raspberry Pi 3 and it is not managing to find my Samsung S7, a Jaguar car kit or an  iPhone 5 when doing a scan. It is however finding some of the BLE sensors I have. If I use the scan build into Jessie on the Pi it finds all the phones and the BLE devices we have. Are they getting filtered out or do I need to do a different kind of scan to find phones and car kits?

[2016-08-23 15:39] dbetz commented on #441
I just noticed this in the output of hcidump on the bleno side. Could this be causing my problem?

2016-08-23 15:27:33.156270 > HCI Event: Command Complete (0x0e) plen 4
    LE Set Advertise Enable (0x08|0x000a) ncmd 1
    status 0x0c
    Error: Command Disallowed

[2016-08-24 00:07] sandeepmistry commented on #441
See https://github.com/sandeepmistry/bleno#linux for bleno side.

No, this is just to clear advertisement state on startup.

Could you also share the full HCI dumps?

[2016-08-24 00:08] sandeepmistry commented on #450
Hi @tellandev.

Please try: https://github.com/sandeepmistry/noble#reporting-all-hci-events

[2016-08-24 00:17] sandeepmistry commented on #440
I don't see any debug output. I had an incorrect command `sudo DEBUG=* node <file>.js`.

Also, make sure to run `hcidump` in a different terminal window at the same time as node is running.  There will be way more output.

[2016-08-24 00:31] sandeepmistry commented on #223
@npenin work around is to call `noble.startScanning()` in the connect callback.

[2016-08-24 00:32] mbifulco commented on #223
I'll give it a shot, but I think that caused some trouble

[2016-08-24 00:34] sandeepmistry commented on #443
Do you have more details on which versions of things (npm packages, kernel etc)?

[2016-08-24 08:29] PanzerHabba commented on #293
Hi @sandeepmistry

Great work done on node and BLE!

I have the same problem whcih @lijunhw  adressed. I want to send files > 1Mbyte, which means a lot of packages. I tried to install the node-bluetooth-hci-socket package but didn`t have any luck running it. trying: `sudo HCI_CHANNEL_USER=1 node myScript.js` resulted in:
`buffer.js:564
        return this.hexWrite(string, offset, length);

[2016-08-24 13:55] dbetz commented on #441
Here is the debug output as well as the hcidump output for the noble side. The hcidump for the bleno side was basically empty. Is that because I shut down bluetoothd?

[bleno.txt](https://github.com/sandeepmistry/noble/files/434845/bleno.txt)

[noble.txt](https://github.com/sandeepmistry/noble/files/434846/noble.txt)

[2016-08-24 16:02] tellandev commented on #450
Hi

Thanks for that but I think I have a different issue. If I run your enter
exit example it never picks up car kits or cell phones. Only beacons and
other BLE devices. For my use case, I just need to detect car kits and
phones but not connect to them.

Hope that makes sense

On 24 Aug 2016 01:08, "Sandeep Mistry" <notifications@github.com> wrote:

https://github.com/sandeepmistry/noble#reporting

[2016-08-24 16:10] tellandev commented on #450
Hi

I viewed this on a phone and it did not jump to the bookmark as you intended and displayed bits fr pulse. Just viewed your link on a desktop and it looks good. I will try it in the morning.

Thanks

[2016-08-24 17:35] carlosamtech commented on #433
THANK YOU!

[2016-08-24 17:35] #433 closed

[2016-08-24 18:46] sharkwheels commented on #440
Ah ok. Sorry. re: multiple terminal sessions.

Here's the debug output: http://pastebin.com/P1hHn9nd
Here's the hcidump: http://pastebin.com/JsvSmWXa

[2016-08-25 07:43] PanzerHabba commented on #293
Also when I use the bind-user branch and try:
`sudo DEBUG=* HCI_CHANNEL_USER=1 node myapp.js`
I get the following output:
`noble stateChange poweredOff +0ms`

So it seems like it wont power up the hci adapter. Also the hcidump gave nothing:
`HCI sniffer - Bluetooth packet analyzer ver 5.23
device: hci0 snap_len: 1500 filter: 0xffffffff`

[2016-08-26 08:01] PanzerHabba commented on #293
I have been able to found a workaround to the LE connection update:

`var exec = require('child_process').exec;
var child;

child = exec('sudo hcitool lecup --handle 64 --min 12 --max 15', function(error, stdout, stderr) {
            if (error) {
                console.log(error);
                return;
            }
        });
`

But this will offcourse rely on knowing the connection handle.

[2016-08-27 09:41] rusyabob opened #451 "Problem with getting data from blend micro (Red Bear lab)"
blend micro send message "Hello World" every second, and my raspberry pi 3 has to read this message by bluetooth. I am connecting to device, but I can't understand how to get this message. Can you help me?  I am using your code from https://github.com/sandeepmistry/noble/blob/master/test.js

[2016-08-28 22:34] sandeepmistry commented on #441
@dbetz

Yes, you'll also need to run `sudo hciconfig hci0` to power up the adapter after closing `bluetoothd`.

From the logs:

[code]

[2016-08-28 22:59] sandeepmistry commented on #451
Hi @rusyabob.

test.js is not really a useful in your scenarios. I suggest you try one of these:

 * https://www.npmjs.com/package/nrfuart
 * https://www.npmjs.com/package/node-uartble

Both build upon noble to hide the Nordic UART profile RBL is using. They will be much easier to use than noble directly.

[2016-08-28 22:59] #451 closed

[2016-08-28 23:17] sandeepmistry commented on #416
I'm closing this due to lack of activity.

[2016-08-28 23:17] #416 closed

[2016-08-28 23:18] sandeepmistry commented on #419
I'm closing this due to lack of activity.

[2016-08-28 23:18] #419 closed

[2016-08-29 02:35] dbetz commented on #441
Before the run that produced the logs I posted, I did the following commands from a root shell:

systemctl stop bluetooth
hciconfig hci0 up

I think I got those two commands from the bleno readme. Is that not sufficient to guarantee that bluetooth is powered up?

Thanks,
David

[2016-08-29 11:57] reallyroy commented on #445
Thanks Sandeep. A few questions though, is this also the case with the Bleno? If we need to use BLE 4.2 ECDH features, what would we have to do?

[2016-08-29 16:56] BasKiers opened #453 "Device is being disconnected automatically causing current operation to hang"
Hi,

I've written some code with noble on OSX and it is working how it is supposed to work. Now I need to port it to a Linux environment and I have a few issues. The main issue I have is that on random occasions (often after connecting/disconnecting a few times, but sometimes on the first try) noble will get stuck when interviewing.

Debugging revealed that the connection is closed during the inte

[2016-08-29 17:11] BasKiers commented on #416
I'm sorry for my inactivity on this issue. This was before my holiday and I cannot reproduce the issue I had back then so this was probably not a bug. Thanks.

[2016-08-30 09:05] peturh opened #454 "Sending up to 500 bytes of data with noble?"
I wan't to send more data then the maximum MTU of bluetooth, and I'm wondering if that is possible. Say for example that I want to send 300-500 bytes of data, they will be sent to the BLE device (cc2650) that my raspberry is communicating with. There is a chance that the data is only 20 bytes or less also.

Is this possible to do in a dynamic way? I'm thinking of using an async task array or somet

[2016-08-30 11:55] Steckdoserich commented on #223
@sandeepmistry after I read your workaround I tried it at different places to fix this problem. But due to the amount of connect callbacks I came up with this workaround:

[code]

For the moment this works fine. I am listening for the scanning to stop with your event `scanStop`. Then I just restart the scanning. Therefor, I need to add a `setTimeout` for the next `startScanning`, because otherwise

[2016-08-30 14:49] tellandev commented on #450
Hi @sandeepmistry

I have tried the reporting all hci events and I still do not get the phones or car kits near by. Any ideas?

[2016-08-30 15:03] BasKiers commented on #453
Hi,

Debugged some more today and it is a firmware issue of the bluetooth chip I use.
Thanks for this awesome project!

Regards,
Bas

[2016-09-01 08:10] PanzerHabba commented on #454
@peturh Hi. Just use onNotification(peripheral) and subscribe(central) functionality. If you use bleno for peripheral, you have to have som sort of interval for sending the data. I send 1Mbyte file by splitting the file into a array of 100byte (5 packets + 20bytes) buffers. In the "onSubscribe" handler in peripheral I loop through the array with a time-delay of 23mSec.

[2016-09-01 14:50] JaeIlKim opened #456 "when use write(data) occur error<'value is out of bounds'>"
i want write data (0x56ff085a00f0aa).
code : write(new Buffer([0x56ff085a00f0aa]) ....
However, receive an error. <'value is out of bounds'>
How can i solve this problem?

buffer.js:890
    throw new TypeError('value is out of bounds');
    ^

TypeError: value is out of bounds
    at checkInt (buffer.js:890:11)
    at Buffer.writeUInt16LE (buffer.js:948:5)
    at Hci.writeAclDataPkt (C:\Users\BJ2\

[2016-09-01 16:41] #456 closed

[2016-09-01 17:41] petertorelli commented on #298
@sandeepmistry I assume the same is true for the connection interval, no API but modify line:

https://github.com/sandeepmistry/noble/blob/master/lib/hci-socket/hci.js#L287

?

[2016-09-01 17:42] petertorelli opened #457 "Connection event callback"
Is there an API to register a callback that will be called on every connection event (excluding skipped ones, obviously)?

[2016-09-02 07:08] windhost commented on #388
@rclai I meet the same problem, could you tell me how to create a Buffer object in React Native?

[2016-09-02 09:08] windhost commented on #388
@rclai I solved it ,by

 `var Buffer = (window || global).Buffer || require('buffer').Buffer;`

thanks a lot

[2016-09-02 20:38] dharmeshpurohit commented on #219
Hi Sandeep,

I am running example  as following:

var noble = require('noble')

noble.on('stateChange', function(state)
{

});

[2016-09-05 17:46] sandeepmistry commented on #425
Here's a link to OpenCollective's TOS: https://docs.google.com/document/d/1-hajYd7coL05z2LTCOKXTYzXqNp40kPuw0z66kEIY5Y/pub

@jacobrosenthal what do you think?

[2016-09-05 18:05] jacobrosenthal commented on #425
Gulp recently started using them. My understanding is fundraising has been very slow going so as usual with these things don't actually expect much income, but I heard good things about their responsiveness when they were setting it up.

[2016-09-05 18:20] sandeepmistry commented on #436
I'm closing this now the #438 has been merged.

Unfortunately, OS X does not seem to report `CBAdvertisementDataSolicitedServiceUUIDsKey` so this is a Linux only field for now.

[2016-09-05 18:20] #436 closed

[2016-09-05 18:34] sandeepmistry commented on #440
@sharkwheels thanks.

It looks like a disconnect is set out during the read:

[code]

So maybe the kernel is interfering? What kernel are you using (`uname -a`)?

[2016-09-05 18:42] sandeepmistry commented on #441
@dbetz

If your system is using `systemd` yes. You can check if `bluetoothd` is running using something like: `ps -eaf | grep bluetoothd`

[2016-09-05 18:59] dbetz commented on #441
I did that and verified that bluetoothd was not running prior to starting peripheral.js.

[2016-09-05 19:02] sandeepmistry commented on #441
@dbetz could you redo the HCI dump capture, since the previous ones you shared had the powered off state. Thanks.

[2016-09-05 19:18] sandeepmistry commented on #454
Hi @peturh,

If the CC2650 firmware is sent up to support a long characteristic write using prepare + execute write things will just work. noble will handle the write transparently if you supply write data over the MTU size.

See this for more details: https://github.com/sandeepmistry/noble/blob/master/lib/hci-socket/gatt.js#L533

[2016-09-05 19:18] #454 closed

[2016-09-05 19:28] sandeepmistry commented on #450
@tellandev what command are you using to scan for devices outside of noble?

noble will only report BLE advertisements. If your "phones or car kits near by." are Bluetooth Classic this will not work. For iPhone you can use an app like LightBluetooth to make the phone advertise using BLE.

[2016-09-05 19:31] sandeepmistry commented on #453
@BasKiers this looks like the Linux kernel is sending a disconnect. What kernel version are you using? What version of noble are you using?

In the future, please provide a text file version of the HCI dump capture.

[2016-09-05 19:45] sandeepmistry commented on #219
Hi @hansamann,

In the state change event what is the value of `state`? Also, noble will only detect BLE devices not Bluetooth Classic.

[2016-09-05 19:56] sandeepmistry commented on #298
Hi @arusu0629,

Yes that is correct.

[2016-09-05 19:57] sandeepmistry commented on #457
Hi @petertorelli,

Could you please clarify what you mean by "connection event"?

[2016-09-05 20:18] sandeepmistry commented on #382
@rpastel ok, sounds like we'll have to do my suggestion from https://github.com/sandeepmistry/noble/issues/382#issuecomment-227027871

Do you think you can try to make this change and submit a pull request?

[2016-09-05 20:22] sandeepmistry commented on #403
Hi @jasoncodes,

Is there anything after this?

[code]

I'm not sure if the capture is cut off or if there are no further events ...

[2016-09-05 20:25] sandeepmistry commented on #448
Hi @ozanAta,

Please see the discussion in https://github.com/sandeepmistry/noble/issues/303.

[2016-09-05 20:25] #448 closed

[2016-09-05 21:31] jasoncodes commented on #403
I am pretty sure that’s the complete capture. That was the complete capture up until the end of the test script output. I left it a few seconds then stopped capturing before I killed both processes. If this output is not making sense I can run the test again.

[2016-09-05 21:52] rpastel commented on #382
Hi Sandeep,

I really do not feel qualified to make the change. Sorry.

Sincerely,
Robert

On Mon, Sep 5, 2016 at 4:18 PM, Sandeep Mistry <notifications@github.com>
wrote:

[2016-09-05 23:15] sandeepmistry commented on #403
@jasoncodes yes please, I'm confused why `LE Connection Update` is the last event. Thanks.

[2016-09-06 08:30] tellandev commented on #450
Hi @sandeepmistry

I think that is the problem then. The devices I need to detect are more likely Bluetooth Classic but I need to be able to detect both Bluetooth Classic and BLE devices for the project I am working on. Would it be possible for you to point me in the right direction to modify noble to work with Classic also or is that simply not possible?

[2016-09-06 13:05] ilaryionava opened #459 "Write value to descriptor"
Hi
We are trying to write some value to a descriptor of a Virtual Device created with an app [LightBlue Explorer](https://itunes.apple.com/us/app/lightblue-explorer-bluetooth/id557428110?mt=8) (iOS), but the device gets disconnected after some time and so the callback is never executed.
Here's the snippet of a code we are using:

[code]

hcidump, debug logs and full code are attached:
[write-descr

[2016-09-06 13:16] ilaryionava opened #460 "reconnect with Kontak.io beacons"
Hi,
To test multiple BLE devices we use [Beacons](https://kontakt.io) and we have a problem with re-connecting to them. If we try to connect to Beacon after it got disconnected the callback can take about 10 min to be executed just hanging. Is this a common problem ? Is there a timeout exception for such cases ?
Here's the code snippet:
[code]

hcidump, debug logs and full code (index file) are at

[2016-09-06 14:45] petertorelli commented on #457
Sorry, I meant "interval" not "event". I'm referring to 7.5ms/4s connection interval. I'm experimenting with synchronizing some wakeup code on a sleepy edge node, and rather than use setInterval I thought I could hook into the hardware. Thanks!

[2016-09-06 18:47] jasonc1025 commented on #440
Hi @sandeepmistry, @sharkwheels, and others,
I'm experiencing the same symptoms, running 'sudo DEBUG=* node peripheral-explorer.js FC:12:B8:0F:1C:60' - on a Raspberry Pi3 under:

`Linux raspberrypi 4.4.19-v7+ #906 SMP Tue Aug 23 15:53:06 BST 2016 armv7l GNU/Linux`

It ran well on my SDcard-1, but on my SDcard-2 - I experienced a similar symptom as noted below (in red, sorry if I captured too much

[2016-09-06 22:11] mcapraro commented on #260
@ank-khandelwal @sandeepmistry would either of you have any examples for how to read from multiple BTLE dongles and distinguish between the two? is that possible? thanks

[2016-09-06 23:21] sandeepmistry commented on #450
You can modify [lib/hci-socket/hci.js](https://github.com/sandeepmistry/noble/blob/master/lib/hci-socket/hci.js) to add an HCI command to start a normal scan and listen for the relevant event(s) for non-LE devices.

I'm going to close this as noble is for BLE devices only.

[2016-09-06 23:21] #450 closed

[2016-09-06 23:27] sandeepmistry commented on #459
Hi @ilaryionava,

[code]

it doesn't look like the descriptor is writable, the error response needs to be bubbled up as per #184 and #207.

[2016-09-06 23:30] sandeepmistry commented on #460
Hi @ilaryionava,

Could you try scanning again before connecting?

I'm wondering if the beacons use a random address, that cycles every 10 minutes.

Also, the HCI dump log you provided doesn't seem to have all the information on the reconnect. Could you please run it again and provide a full log.

[2016-09-06 23:33] sandeepmistry commented on #440
@sharkwheels could you please provide text logs instead of screenshots next time.

Also, what if you log the value of ` userDescriptionDescriptor` just to get more details.

[2016-09-06 23:40] sandeepmistry commented on #260
@mcapraro you can only do this via separate Node.js processes for now, see https://github.com/sandeepmistry/noble#multiple-adapters

[2016-09-07 00:02] sandeepmistry commented on #427
Hi @vdharmon,

Could you please try the latest master version `npm install sandeepmistry/noble`. It uses the latest `bluetooth-hci-socket` version that includes the following fix: https://github.com/sandeepmistry/node-bluetooth-hci-socket/commit/14dc3660f9e86695c6c75b92dc2222da2905549e

Let me know if it works, then I can publish a new version to npm.

[2016-09-07 00:07] sandeepmistry commented on #439
Hi @mbifulco,

Let's start with an HCI dump capture: `sudo hcidump -t -x` - this will shed some light as to what's going on at the adapter level.

[2016-09-07 00:11] sandeepmistry commented on #457
@petertorelli nope there are no hooks from the adapter when the "connection interval" period happens. We could only emit an event when it changes (on first connect or re-neogiate).

[2016-09-07 00:11] #457 closed

[2016-09-07 15:49] tellandev commented on #450
Thanks Sandeep. I will make the changes on a local copy.

On Wed, Sep 7, 2016 at 12:21 AM, Sandeep Mistry <notifications@github.com>
wrote:

[2016-09-07 22:56] jasoncodes commented on #403
I don’t have the same two devices I used last time (one seems to have gone kaput) but have reproduced the issue this time using a heart rate monitor.

The last few lines of output before I kill the test processes is the same. As before, running either test app individually works fine.

<details>
Start first app:
[code]
Turn on first device:
[code]
Start second app:
[code]
Turn on second device:
[c

[2016-09-08 14:05] ilaryionava commented on #459
Just to clarify: there's no error handling for now if characteristic or descriptor aren't writable, right ?
Then is there a way to check of characteristic or descriptor are writable ?
Thanks

[2016-09-08 14:05] ilaryionava commented on #460
The problem is probably with this beacons 'cause if the device is still connected and all the actions will be executed before the device gets disconnected then everything works fine, but as soon as the device gets disconnected and we try to connect again it can hang up on any action (connect, search services or characteristics). And if I try to restart scanning, this device (that had an event in a

[2016-09-08 23:15] jasonc1025 commented on #440
Thanks for the request for the text logs @sandeepmistry, I'll try to extract them on my next submission.  The screenshots do appear unreadable, yet actually I've been able to zoom in at 250% (via my Chrome browser) to actually see the text more clearly.  As per your request, the 'yellow' box above is the 'userDescriptionDescriptor', and it's interesting that the 'Bad' right-column does have an int

[2016-09-09 08:23] TorstenRobitzki opened #461 "Installing noble on windows"
Hi there,
I have problems installing noble in windows (namely windows 7, but I need to support more versions of windows). Some dependency (bluetooth-hci-socket) fails to build. Is there any easy workaround for this that can easily be applied by not so technical customers?

cheers,
Torsten

[2016-09-09 10:27] sandeepmistry commented on #461
Closing this for now, discussion moved to https://github.com/sandeepmistry/node-bluetooth-hci-socket/issues/35#issuecomment-245872352.

[2016-09-09 10:27] #461 closed

[2016-09-09 11:31] ilaryionava commented on #460
Here are updated hcidump, log and main code files.
What I did:
1-2. made call to get services 2 time and got a correct response,
3.  after device got disconnected made the same call and got timeout response,
4-5. made same call but with restart scanning option - got timeout response (which in this case means that device was not shown on discover event)

[index_2.txt](https://github.com/sandeepmist

[2016-09-11 11:54] sandeepmistry commented on #425
I've submitted the form to start a collective, stay tuned!

[2016-09-11 19:45] sandeepmistry commented on #447
I'm closing this due to lack of activity, please re-open with requested info. if you are still interested.

[2016-09-11 19:45] #447 closed

[2016-09-11 19:48] sandeepmistry commented on #443
@nanohex please try with the master version of noble:

[code]

[2016-09-11 19:49] sandeepmistry commented on #413
I'm closing this due to lack of activity, please re-open with requested info. if you are still interested.

[2016-09-11 19:49] #413 closed

[2016-09-11 21:45] sandeepmistry commented on #403
@jasoncodes ok, I think this might be caused by a kernel disconnect workaround in `node-bluetooth-hci-socket`.

Could you please try:
 1. Removing the call to `this->kernelDisconnectWorkArounds(length, data);` in https://github.com/sandeepmistry/node-bluetooth-hci-socket/blob/master/src/BluetoothHciSocket.cpp#L243
 1. Running `node-gyp rebuild` in your `bluetooth-hci-socket` folder
 1. Then re-run

[2016-09-11 21:47] sandeepmistry commented on #459
For now yes.

Typically descriptors are not writable, for characteristics the `characteristics.properties` array will let you check what the peripheral reports for the characteristics properties.

[2016-09-11 21:51] sandeepmistry commented on #440
@jasonc1025 it's readable but not searchable via a browser or copying+pasting in a text editor.

I'm interested in what `console.log(userDescriptionDescriptor);` prints out just before `userDescriptionDescriptor.readValue(...)`.

[2016-09-11 23:51] zrecore commented on #425
Awesome! Keep us posted as soon as it's ready. :-)

Alex Albino
Sr. Fullstack Developer

(707) 246-6864
LinkedIn: linkedin.com/in/alexalbino

On Sun, Sep 11, 2016 at 4:54 AM, Sandeep Mistry <notifications@github.com>
wrote:

[2016-09-12 00:52] sandeepmistry commented on #460
@ilaryionava

Here are the snippets of interest:

1) first connection attempt successful:
[code]

...

2) Disconnect event

[code]

....

3) 2nd Connection request

[code]

....

4) Discovery event.

[code]

As I mentioned before, please try calling connect ONLY after the discover event is trigger after a device that was previously connected is disconnected. (so 4 above needs to become 3).

Your m

[2016-09-12 00:52] #460 closed

[2016-09-12 09:21] jasoncodes commented on #403
The output from my test apps is the same but the `hcidump` output is now a little different.

<details>
Start first app:
[code]

Turn on first device:
[code]

Start second app:
[code]

Turn on second device:
[code]
</details>

[2016-09-13 00:28] jasonc1025 commented on #440
Hi @sandeepmistry, thanks for explaining the advantage behind text logs. : )

Well this should be good news... when I booted up the RPi again to hopefully obtain new text logs, the previous symptoms -- related to userDescriptionDescriptor failures - never appeared again.  Apparently, the symptoms mysteriously resolved itself.  (As a background note, this all happened on the NOOB OS.)  I'm able to

[2016-09-13 00:40] jasonc1025 opened #462 "Build a Browser-Based Locally-Hosted GUI on Raspberry Pi 3 to control an Arduino-based Bot"
Thanks @sandeepmistry to your professional attention to Issue #440.

My next question is more of seeking your programming counsel.  Please advise if there's a better place to post such a non-bug-related question.

I appreciate the excellent example from which to learn from: 'Node-Rolling-Spider' & 'Keypress' from your book, 'Make: Bluetooth' in Chapter 10's Drones.

How hard would it be to replace

[2016-09-14 21:45] petertorelli commented on #457
Thanks for the reply.

[2016-09-14 22:28] BlackWolf opened #463 "No devices discovered on macOS Sierra"
I was stupid enough to update to the GM of Sierra and of course it broke noble. I can advertise with bleno, but when scanning for devices with noble the 'discover' event is never fired. Here is the debug output:

[code]

This is all I get, there is no further output. I don't know much about the inner workings of noble, but it seems that not further xpc event is triggered at all. Any ideas on this?

[2016-09-14 23:27] BlackWolf commented on #463
Update: Turns out this was not a noble issue, but a corruption of BT after the update. For everyone experiencing this, deleting the following plists and restarting `blued` helped for me:

/Library/Preferences/com.apple.Bluetooth.plist
~/Library/Preferences/com.apple.BluetoothFileExchange.plist
/var/root/Library/Preferences/blued.plist

[2016-09-14 23:27] #463 closed

[2016-09-17 14:15] sandeepmistry commented on #425
noble has been approved for Open Collective!

https://opencollective.com/noble

Badges have been added to the read me in #464 as well.

[2016-09-17 14:15] #425 closed

[2016-09-17 19:11] sandeepmistry commented on #463
Hi @BlackWolf,

Thanks for pioneering noble on macOS Sierra!

It's good to know that the XPC id's have not changed. We're looking to move the using [node-core-bluetooth](https://github.com/sandeepmistry/node-core-bluetooth) on Mac instead of the XPC connection (which was reversed engineered, using swizzling).

You can help try it out by trying out the core-bluetooth branch: https://github.com/sand

[2016-09-17 19:55] sandeepmistry commented on #449
Closing this due to lack of activity for now.

[2016-09-17 19:55] #449 closed

[2016-09-17 19:56] sandeepmistry commented on #443
Closing this due to lack of activity for now.

[2016-09-17 19:56] #443 closed

[2016-09-17 19:56] sandeepmistry commented on #441
Closing this due to lack of activity for now.

[2016-09-17 19:56] #441 closed

[2016-09-17 19:56] sandeepmistry commented on #439
Closing this due to lack of activity for now.

[2016-09-17 19:56] #439 closed

[2016-09-17 19:57] sandeepmistry commented on #398
Closing this due to lack of activity.

[2016-09-17 19:57] #398 closed

[2016-09-17 20:38] BlackWolf commented on #463
Thanks, I will try that branch and let you know what happens on Sierra :D Can confirm that the main noble branch is Sierra compatible, though, have been running it successfully for the last couple of days.

[2016-09-18 17:48] ddxtreme opened #465 "RPI3 Disconnects"
I tested a simple simple to connect to a BLE device, but i almost all the times receive a disconnect before connecting... Cant figure out why.

[code]

[code]

Here the output of hcidump:

[code]

[2016-09-20 15:56] vdharmon commented on #427
I'm still seeing the same issue.  Here's what I did.

1) I installed your code above for Noble.
2) Running bleno on the UART.
3) Running noble on the USB.
4) I can connect to bleno and see the characteristics using LightBlue.
5) Noble cannot connect to another BLE, it hangs on getting services.

The code fix was for Noble, but wouldn't there need to be a change for the Bleno code base also?

Regar

[2016-09-21 13:04] farfromrefug opened #466 "xpcError: connection interrupted"
I now get this error on Mac OSX sierra.
Was not happening before.

Simple example:
[code]

[2016-09-21 13:11] jacobrosenthal commented on #466
fd29cd9d92202c331ee6f50122f4e096ab31bc18 and osx 10.12 (16A323) with your code works for me

[2016-09-21 13:15] jacobrosenthal commented on #466
Maybe bluetooth hiccup? Reboot or reset bluetooth with http://www.howtoturnitoffandonagain.com/2016/02/03/how-to-reboot-fix-bluetooth-mac-os-x-restart/

[2016-09-21 13:17] farfromrefug commented on #466
@jacobrosenthal same issue with 1.7.0. Also already reboot and reset my bluetooth as it was not working

[2016-09-21 13:23] farfromrefug commented on #466
update: after smc reset i got it to work with my iPhone, but crashes with my bleno created device. So i guess it comes from there !

Thanks!

[2016-09-21 13:23] #466 closed

[2016-09-21 13:38] jacobrosenthal commented on #462
Sandeep built the [websocket bindings](https://github.com/sandeepmistry/noble/blob/master/lib/websocket/bindings.js)  purpose. At a very high level, you open up a websocket for the front end to talk to by running `node ws-slave.js` then when you browserfy/webpack noble it should automatically package the websocket bindings and connect to your running script. Give it a try.

[2016-09-21 13:40] jacobrosenthal commented on #331
Id like to see us standardize uuids by testing and format inputs in the 'abstract' were working on in https://github.com/sandeepmistry/noble/pull/431

[2016-09-21 23:22] sandeepmistry commented on #427
Hi @vdharmon,

Please make sure you are using the latest bleno and noble releases. Also, you need `bluetooth-hci-socket` v0.5.1, since it has the fix.

[2016-09-21 23:31] sandeepmistry commented on #331
@jacobrosenthal agreed.

I've been thinking we could create a custom UUID type that extends `String`.

[2016-09-24 00:34] jasonc1025 commented on #462
Thanks @jacobrosenthal for the helpful tip.  I'll look into it.  : )

[2016-09-24 00:34] #462 closed

[2016-09-26 00:28] sandeepmistry commented on #465
What's the value of the `error` arg in the connect callback?

From the HCI dump the connection is failing:

[code]

Also, can you run with `sudo hcidump -t -x` next time? Which version of noble are you using?

[2016-09-26 01:08] sandeepmistry commented on #453
I'm closing this due to lack of activity, please re-open with requested info if you are still interested.

[2016-09-26 01:08] #453 closed

[2016-09-26 01:10] sandeepmistry commented on #440
I'm closing this due to lack of activity, please re-open with request info from https://github.com/sandeepmistry/noble/issues/440#issuecomment-244796914 if you are still interested.

[2016-09-26 01:10] #440 closed

[2016-09-26 01:15] sandeepmistry commented on #409
I'm closing this due to lack of activity, please try the latest version of noble, and open a new issue if you still have problems.

[2016-09-26 01:15] #409 closed

[2016-09-26 01:19] sandeepmistry commented on #373
@billsalt any updates on this? Maybe https://github.com/sandeepmistry/noble/issues/293#issuecomment-242659350 has some tips.

[2016-09-26 01:21] sandeepmistry commented on #348
Closing this for now due to lack of activity.

[2016-09-26 01:21] #348 closed

[2016-09-26 12:13] rbagree opened #467 "Peripheral Explore on RPi 3 using node-red"
Hi,
I am new but very enthusiastic about  BLE and to node.js as well.

The tasks I am trying to achieve are:
1. Connect the RPi-3 to a peripheral and explore its services and characteristics
2. Read/ write characteristics on the peripheral and send the data over MQTT to a remote server.

I found Node-Red as the easiest way to begin. so, as per various tutorial I installed the node-red and noble's

[2016-09-26 14:06] erwinkendo opened #468 "Unhandled message on Windows"
Good day

I am opening this issue after initial discussion on the [node-bluetooth-hci-socket](https://github.com/sandeepmistry/node-bluetooth-hci-socket/issues/36).

I am experimenting a disconnection every 60 seconds when connecting to a Polar HR7 device, This problem only occurs using a Windows 8.1 machine, any Linux machine does not have this problem.

As @sandeepmistry says: _The problem is no

[2016-09-26 20:43] vdharmon commented on #427
I've updated all my code.  I'm still seeing an issue but slightly different.

The original issue where I could not connect to bleno when noble has a connection or noble connect to an external BLE when bleno is connected has been addressed.  Meaning I can connect.

1) I'm running **sudo DEBUG=* BLENO_HCI_DEVICE_ID=1 node peripheral.js >> bleno.log** .
2) I'm running **sudo DEBUG=* BLENO_HCI_DEVICE_

[2016-09-26 23:33] sandeepmistry commented on #427
Is this correct? You should be using `NOBLE_HCI_DEVICE_ID=0` for noble, let me know.

[2016-09-26 23:39] sandeepmistry commented on #467
Which version of noble are you using? v1.7.0 has some fixes, so make sure you are up to date.

Also, please provide an HCI dump capture: `sudo hcidump -t -x`

[2016-09-27 05:47] rbagree commented on #467
I checked the version. It is the latest version i.e. v1.7.0

Also, following is the output of the hcidump:

HCI sniffer - Bluetooth packet analyzer ver 5.23
device: hci0 snap_len: 1500 filter: 0xffffffff
2016-09-27 05:34:25.438116 < HCI Command: Set Event Mask (0x03|0x0001) plen 8
    Mask: 0xfffffbff07f8bf3d
2016-09-27 05:34:25.438679 > HCI Event: Command Complete (0x0e) plen 4
    Set Event Mask

[2016-09-27 14:23] vdharmon commented on #427
Good catch.

I've gone through and retested making sure I have the proper parameters set.  I'm still seeing an issue.

Test:
1) Running **sudo DEBUG=* BLENO_HCI_DEVICE_ID=1 node peripheral.js**.
2) Running **sudo DEBUG=* NOBLE_HCI_DEVICE_ID=0 node peripheral-explorer.js e7b1090d2606**.
3) Using my IPad (LightBlue BLE explorer) to connect to bleno.  I also tested with an Android.
4) The peripheral-

[2016-09-27 15:17] billsalt commented on #373
Thanks Sandeep,
  I’ve moved on to other methods for now since I didn’t see any good means of resolving this, but would really like for it to work.

The resolution in #293 has (as they note) the issue that the handle will change depending on a lot of things.  Could this process be reliably implemented from within noble so that it has a correct handle?

Thanks!
Bill

--
Bill Saltzstein
Code Blue Co

[2016-09-29 23:19] puhfista opened #469 "Problems running on C.H.I.P"
Sandeep -

Hello. Let me start off by saying thank you for your magnificent work on the noble library. It really is a great tool to have.

We are trying to use noble on a C.H.I.P. (system on a chip like Raspberry pi). When we do so, after we successfully "discover" a device, the serviceData array is always empty. At least, for the first 15 minutes or so we ran on the device, we were getting an emp

[2016-09-30 16:17] TheCbac opened #470 "Receive UUID and peripheral ID in callbacks"
Hi,

When reading a characteristic (and receiving notifications) from a peripheral, I'm surprised that read callback does not get the peripheral ID and the characteristic UUID passed in as parameters. I have multiple BLE peripherals connected simultaneously and need to know which device generated the callback. I.e. I'm looking for:

`characteristic.read([callback(error, data, peripheralId, uuid)])

[2016-09-30 21:07] TheCbac commented on #465
I'm experiencing this same issue on a Raspberry Pi 3. When connecting to a peripheral about 50% of the time the device connects and then immediately disconnect. The other 50% the connection success with no problems. I'm running the exact same code on my Mac (OS X 10.11.4) and the connections succeed 100%

When the connection fails:
[code]

When the connection succeeds:
[code]

[2016-09-30 21:18] ddxtreme commented on #465
Sorry for not answering with the full log.. i digged a lot into this issue and my findings points towards node-bluetooth-hci-socket issues... When using gattool everything works as expected 100% of the time.

I played around the Hci.prototype.setSocketFilter that is executed, and this made things work a little bit in terms of connection, whenever i removed some of the masks used.

Another finding

[2016-10-01 17:17] teuteuguy commented on #469
I too am having issues getting Noble to run on the CHIP.

Have you found more info on this?

[2016-10-02 17:25] sandeepmistry commented on #467
What peripheral are you using? There's something weird going on with the MTU which makes it disconnect:

[code]

Can you try change this line from `256` to `23`? https://github.com/sandeepmistry/noble/blob/c3019de5a887bf321e60b83b4714d6d2cdc44853/lib/hci-socket/bindings.js#L205

[2016-10-02 17:42] sandeepmistry commented on #470
Hi @TheCbac,

Thanks for the feedback!

I don't think the extra args are needed. For more, complex cases I would suggest you use [noble-device](https://github.com/sandeepmistry/noble-device) to create wrapper objects for peripherals and services.

Alternatively you can use bind:

[code]

[2016-10-02 17:42] #470 closed

[2016-10-03 02:05] teuteuguy commented on #469
Hi Sandeep,

as requested I've attached below the results from the 2 commands you suggested I run.
debug logs: sudo DEBUG=* node <file>.js
HCI dump capture: sudo hcidump -t -x

For context:
I'm trying to use my CHIP (PocketCHIP, but I'm having the exact same issue with a standalone CHIP). The idea is to use the Bluetooth LE to connect to a Sphero BB-8 robot using the sphero node package, which rel

[2016-10-04 09:13] rbagree commented on #467
Hi Sandeep,

Thank your for your reply. I found the error. I was using comma instead of '+' in the node.log statement. because of this I was not getting uuids.

As I said I am very new to nodejs and javascript as a whole.

Also, I am curious to know how to get very good grip on BLE devicedriver and hci-dump understanding.

Thank you for your time.

[2016-10-04 09:13] #467 closed

[2016-10-04 16:20] Lahorde opened #471 "Multiple discover & connection"
I'm able to do multiple discover successfully. But if I do a discover -> Connection -> Disconnection -> discover. In last discover advertising devices are not found. I do not have any LE Advertising reports

After checking hcidump and code I saw scan parameters are only set in hci.js l502 :
[code]
So in my case, scan parameters are only set before first scanning.
But after looking bluetooth datash

[2016-10-04 21:31] WslF opened #472 "No compatible USB Bluetooth 4.0 device found on supported device (BCM20702A0 Bluetooth 4.0)"
Hi!

I'm trying to use noble, but I couldn't run any example(

I'm running windows 10 (build 1607) on Lenovo Y50-70 touch. My bluetooth is BCM20702A0 Bluetooth 4.0.

I follows to the video https://www.youtube.com/watch?v=mL9B8wuEdms step by step but I fails on running any example.

[code]

Thanks in advance.

[2016-10-04 23:00] sandeepmistry commented on #471
Does the code change you suggested fix the problem? If so, please submit a PR. What Bluetooth adapter are you using?

[2016-10-04 23:00] sandeepmistry commented on #471
Can you share a copy or link of the data sheet?

[2016-10-05 09:04] Lahorde commented on #471
https://www.bluetooth.org/docman/handlers/downloaddoc.ashx?doc_id=229737
p106, 107, 823, 820

[2016-10-05 09:10] Lahorde commented on #471
This fix solved this problem, I tested with these two devices
[code]
I will add PR.

[2016-10-05 15:12] roeckandre commented on #403
Any update on this?
I am facing some similar problems trying to connect to multiple peripherals simultaneously.
Sometimes it fails on discoverServices and the next time I connect to the device that failed, it calls the callback of that failed.
I tried to fix this creating a timeout function in my app, and then removing the all the listeners everytime I run the timeout function.
It fixes the wrong

[2016-10-07 03:45] cscholze commented on #465
@ddxtreme which bindings did you use?  Are they working?  And are you still using the Noble library and using custom bindings?

[2016-10-07 03:52] cscholze opened #474 "RPI3 disconnect event causes hang"
Related issue #465

The issue we're seeing is a random disconnect that bubbles up into our 'disconnect' event listener.  Once we see the disconnect, it will start scanning and hangs, becoming unresponsive and failing to connect again.  In order to get the central to connect again we must restart the hci adapter using `sudo hciconfig hci0 reset` and restart the Node process.  To test this we are ru

[2016-10-07 13:49] rvsrvs commented on #474
To clarify Caleb's comment.  The bug we are reporting is that the central, when running on an R/Pi 3, connects to a peripheral, receives an immediate disconnect and then will no longer detect any peripherals when we start scanning again.  This behavior is repeatable, but random, sometimes we can go through 30 connections or so without it happening, sometimes it happens on the very first.  We have

[2016-10-07 19:42] ddxtreme commented on #465
@cscholze i stop using noble, i went using bluepy for python. As i didnt depend on nodejs and after several hours trying to understand the problem i switched as soon as my findings points towards node-bluetooth-hci-socket malfunction with RP3. As there is any other library for node for bluetooth, i switched.

Now i already overcome that issue with bluepy

[2016-10-09 01:27] erwinkendo commented on #468
I have implemented writing the L2CAP and HCI_CMD once the first L2CAP message arrives. I did this by writing from gatt.js (it was the only place I could check the cid of the message).

Unfortunately this did not work, the disconnection is still happening (30 seconds latter but still) and now it makes the system generate 2 HCI_EVT that it did not generate before, behaviour that does not happened be

[2016-10-09 11:35] sandeepmistry commented on #468
Hi @erwinkendo,

Please try out the changes in PR #475, and provide your feedback.

[2016-10-09 23:57] erwinkendo commented on #468
Hi @sandeepmistry , I just tried it in both windows and linux during a couple minutes and the connection is not lost.

However, I still get the same 3 hci-events that I reported in my last comment. This behaviour only ocurs on windows. The events do not interfere with the connection, but they repeat themselves until disconnection. Does that seem logical? I did not get anything similar on Linux, no

[2016-10-10 08:24] mbifulco opened #476 "Noble not discovering HRM peripherals that are already connected"
Running macOS Sierra, and Noble ^1.7.0.

I'm trying to connect to all Heart Rate Monitor BLE devices in range.  See [this sample](https://gist.github.com/mbifulco/4e997b44d51c574ef43023cfb56fb665) to test.

Currently, if an HRM is already paired to macOS, noble doesn't discover it unless I turn the device off and back on again.  I know it is paired to the OS because it show's up in my mac's blueto

[2016-10-10 08:52] mbifulco commented on #476
I should mention, too, that the devices I'm having trouble with in the above example are indeed paired already via Noble function calls (using a decidedly more complicated application - I pared things down for the sample.

You should be able to pair a device to macOS manually, or you could add something along the lines of this to the sample to pair:

[code]

[2016-10-10 08:55] mbifulco commented on #476
Additionally, it'd be good to know if this is just a Mac thing - my main use case is on Raspbian, but I'm traveling and don't have access to a Pi to test on.

[2016-10-10 14:32] sandeepmistry commented on #468
Hi @erwinkendo,

Thanks for trying it out, those events are for an advertising report, if you call `noble.stopScanning()` they should not appear. Not sure why on Linux scanning is stopped.

Here's a breakdown:

[code]

[2016-10-10 14:33] #468 closed

[2016-10-10 14:36] sandeepmistry commented on #469
@puhfista @teuteuguy please try out the changes in PR #477 and provide you feedback.

[2016-10-10 14:44] sandeepmistry commented on #411
![screen shot 2016-10-10 at 10 42 55 am](https://cloud.githubusercontent.com/assets/1163840/19239970/5d79f93c-8ed6-11e6-9ab5-863557c028b3.png)

@Dan-Azure thanks for the follow up. On my Mac it's using 0x00c8 for the supervision timeout, which maps to 200 * 10 = 2000 ms.

[2016-10-10 14:44] #411 closed

[2016-10-10 15:15] erwinkendo commented on #468
Great! @sandeepmistry , as always, thank you for your hard work and support 👍

[2016-10-10 16:04] sandeepmistry commented on #476
Can you see what happens when you use LightBlue (from the app store)? If it doesn't appear in the list, then it's a CoreBluetooth/blued issue.

I don't think it will happen with Linux, because there's nothing in the OS to automatically connect to paired LE devices.

[2016-10-10 16:24] sandeepmistry commented on #472
Do you have the USB id's of your adapter?

If it's not in the list here: https://github.com/sandeepmistry/node-bluetooth-hci-socket#compatible-bluetooth-40-usb-adapters

You'll need to change this line to add them: https://github.com/sandeepmistry/node-bluetooth-hci-socket/blob/master/lib/usb.js#L66

Please submit a pull request with your changes if this makes things work.

[2016-10-10 16:32] sandeepmistry commented on #293
@PanzerHabba thanks for sharing your workaround, however I think this is a issue with the peripheral's configuration.

[code]

[code]

So the Linux kernel is respecting the devices connection parameter update request.

[2016-10-10 16:40] sandeepmistry commented on #373
I'm closing this, I think it's a mis-configuration of the peripheral device.

[code]

Here's a breakdown of the L2CAP signalling connection parameter update request from the peripheral.

[code]

So it's requesting between 20ms and 1000 ms, which the Linux kernel agrees to and responds. Then they decide on 997.50ms which is between the range. OS X CoreBluetooth/blued has a different negotiating sch

[2016-10-10 16:40] #373 closed

[2016-10-10 16:51] billsalt commented on #373
Hi Sandeep,
  I regret that I haven’t spent further investigation efforts on this.  The need disappeared, but I hope to pick it up in the future.

  The bottom line is that writewithoutresponse is poorly supported and seems to function differently on different platforms due to the specifics on how the OS handles it.  Anything you can do to provide access to configuration parameters will help on th

[2016-10-10 17:51] sandeepmistry commented on #428
@monteslu ping ^

[2016-10-10 18:29] sandeepmistry commented on #412
I'm closing this due to lack of activity.

[2016-10-10 18:29] #412 closed

[2016-10-10 18:36] sandeepmistry commented on #471
Closed via #473.

[2016-10-10 18:36] #471 closed

[2016-10-10 18:45] sandeepmistry commented on #420
This is the right approach, noble is based on the OS X/iOS CoreBluetooth stack which requires scanning + discovering prior to connecting.

I would suggest trying out calling `noble.startScanning(...)` again after the connect is done so that any devices that were missed can be discovered again.

Please provide a full HCI dump to share more context.

[2016-10-10 18:54] sandeepmistry commented on #403
@roeckandre please open a new issue with your code, debug logs (`sudo DEBUG=* node <file>.js`) and HCI dump capture (`sudo hcidump -t -x`). As you issue appears to be unrelated to this topic.

[2016-10-10 19:06] sandeepmistry commented on #403
@jasoncodes can you please try with adding a `noble.stopScanning()` before the connect?

I just tried it on a Raspberry Pi 3 with the [`peripheral-explorer.js` example](https://github.com/sandeepmistry/noble/blob/master/examples/peripheral-explorer.js) + removing the `peripheral.disconnect();` line. I was about to launching two instances and everything worked.

[2016-10-10 19:29] sandeepmistry commented on #465
@ddxtreme @TheCbac @cscholze

Can you please try out https://github.com/sandeepmistry/node-bluetooth-hci-socket/pull/39 and provide your feedback?

[code]

Then try your noble app ...

[2016-10-10 19:32] sandeepmistry commented on #474
@cscholze  @rvsrvs Can you please try out https://github.com/sandeepmistry/node-bluetooth-hci-socket/pull/39 and provide your feedback?

[code]

Then try your noble app ...

The scanning issue might be fixed by #473, which has been merged.

[2016-10-10 19:33] rvsrvs commented on #474
Will do so later today.  Thx for the quick turn around.

[2016-10-10 19:35] sandeepmistry commented on #427
Hi @vdharmon,

Could you please also provide HCI dump captures (`sudo hcidump -t -x -i hci0` and `sudo hcidump -t -x -i hci1`)?

I'm also wondering if https://github.com/sandeepmistry/node-bluetooth-hci-socket/pull/39 might help ...

[2016-10-11 01:43] mbifulco commented on #476
I may have oversimplified my example - I _am_ connecting to the devices with Noble in my scenario, and subscribing to notifications as well.  I just cannot reconnect on a second run of my application unless I power cycle the device.

[2016-10-11 03:25] teuteuguy commented on #469
Hi Sandeep, thanks for the update.
I've tried your proposed updated code. But it doesnt work :(

Attached are the output of both the DEBUG and the hcidump.

[debug.txt](https://github.com/sandeepmistry/noble/files/520916/debug.txt)
[hcidump.txt](https://github.com/sandeepmistry/noble/files/520917/hcidump.txt)

[2016-10-11 04:01] cscholze commented on #474
@sandeepmistry I did a fresh install of the master branch and also install the bluetooth-hci-socket with kernel reworks.  Still getting the random disconnect error, but seems to have resolved the hang on the scan reset.

[2016-10-11 07:33] tengelmeier commented on #465
I've run into probably the same issue.

Here is what iot-sensor-tag/publish/sensor-tag.js  outputs with the patches branch:

       iot-sensor-tag/publish $ sudo node sensor-tag.js
       Device MAC Address: b827ebXXXXXX
       The device MAC address does not match the ID in the configuration file.
       Make sure the Sensor Tag is on!
       MQTT client connected to IBM IoT Cloud.
       Discove

[2016-10-11 10:12] sandeepmistry commented on #476
Yep, I understand. I'm just curious to see if a native app that uses CoreBluetooth, like LightBlue, experiences the same issues.

[2016-10-11 10:22] sandeepmistry commented on #469
@teuteuguy it's finding the device now:

[code]

Which has address: d0:d4:9f:e3:19:45, from your comment in https://github.com/sandeepmistry/noble/issues/469#issuecomment-251013152, did you try:

[code]

instead of `bb8 = sphero('d3db14562df34fd1a0b2d910473f1234');`?

[2016-10-11 11:06] mbifulco commented on #476
LightBlue didn't seem to have any trouble - but I'm also having trouble reproducing in Noble today.  I'll keep testing a bit.

[2016-10-11 11:40] teuteuguy commented on #469
@sandeepmistry yes that seems to have fixed it !
Not sure why on the chip i have to use mac address, and on Mac I have to use the uuid.

It's definitely connecting.
I need to run more tests to see if I get some distance out of it now.

Cool

[2016-10-11 12:12] vdharmon commented on #427
Here's the files.

[bleno.txt](https://github.com/sandeepmistry/noble/files/521739/bleno.txt)
[noble.txt](https://github.com/sandeepmistry/noble/files/521741/noble.txt)
[hci0.txt](https://github.com/sandeepmistry/noble/files/521742/hci0.txt)
[hci1.txt](https://github.com/sandeepmistry/noble/files/521740/hci1.txt)

[2016-10-11 16:09] michaelikuru opened #478 "Process is stuck on subscribe function"
I am trying to get my pi3 to subscribe to a characteristic with a notify property on my bluzDK but the process stops at the subscribe function. I have also tried using notify to no avail. Could you please help me sort this out ?

[2016-10-11 19:37] #478 closed

[2016-10-12 02:08] jmaxxz commented on #129
@doganyazar is there any way to detect this condition so scanning can automatically be restarted?

[2016-10-12 09:16] doganyazar commented on #129
@jmaxxz  I don't think that callback was ever triggered but I cannot try it now since I do not have the setup anymore.
Our workaround was to call startScaning every 10 minutes or so. And it worked fine.

[2016-10-12 23:12] sandeepmistry commented on #129
https://github.com/sandeepmistry/noble/pull/301 will emit the scan stop if it's triggered by an external program.

[2016-10-15 12:12] kotobuki opened #480 "noble on Raspberry Pi 3 with Raspbian"
Hi,

I have been trying to use noble (v1.7.0) on a Raspberry Pi 3 with Raspbian (September 2016). First, I installed noble with npm as follows:
[code]

Then I tried with the following code (ble-uart-test.js):
[code]

There were many connections and disconnections within several seconds as follows:
[code]

On macOS (10.11.6), there were no unexpected disconnections after a connection:
[code]

I con

[2016-10-15 13:55] sandeepmistry commented on #474
@cscholze thanks for trying, can you please provide an updated HCI dump capture?

[2016-10-15 14:00] sandeepmistry commented on #472
Closed via https://github.com/sandeepmistry/node-bluetooth-hci-socket/pull/40.

[2016-10-15 14:00] #472 closed

[2016-10-15 14:01] sandeepmistry commented on #476
@mbifulco thanks for the update. I'll close this for now, please re-open if you are able to consistently reproduce.

[2016-10-15 14:01] #476 closed

[2016-10-15 14:10] sandeepmistry commented on #469
Probably best to ask the creators of the sphero module. On OS X the uuid is generated by the OS and is unique per system. On Linux it's the BT address without colons.

The CHIP's BT adapter treats scanning commands and events slightly different:
* It only provides scan responses when duplicates are enabled. noble expects scan responses to trigger the event. So for now I've allows enable duplicates

[2016-10-15 14:16] kotobuki commented on #480
Hi,

This is an update to my previous post.

I just found that first connection after booting is OK as follows:
[code]

However, once I powered off the device to be disconnected and powered on again, I got as follows (i.e. connected, disconnected immediately and connected):
[code]

After repeating powering off and on several times, I got the issue (i.e. many connections and disconnections in sever

[2016-10-15 14:26] #469 closed

[2016-10-15 14:38] sandeepmistry commented on #427
@vdharmon thanks, did you get a chance to try out the PR I linked to?

If not please see instructions in https://github.com/sandeepmistry/noble/issues/474#issuecomment-252724816.

[2016-10-15 19:49] arunbangari opened #481 "Bleno+Noble"
Hello Sandeep,
I am trying to build small demo system on a beaglebone green wireless that has Bluetooth 4.1. Here is my setup.
1. Application starts in peripheral mode with advt (using bleno).
2. A central such as phone connects to beaglebone and writes a command via custom characteristics
3. After processing the command, application starts scanning (using noble and tries to connect to a periphera

[2016-10-15 19:55] arunbangari commented on #481
Hi, Please note that the hci dump i attached is for the step mentioned above. I have not added the hcidump  for the issue where I am not able to restart advertisement after stopping it. I think this scenario does not exists if I am able to advertising always on.

[2016-10-16 08:13] pangrr opened #482 "read characteristic doesn't show proper string even after .toString('utf8')"
characteristic.read((error, data) => {
console.log(data.toString('utf8'));
});

prints unrecognizable characters.

[2016-10-17 05:10] cscholze commented on #474
@sandeepmistry This is the dump from our disconnect event.

[code]

[2016-10-17 16:08] vdharmon commented on #427
Yes I tried using the package **npm install sandeepmistry/node-bluetooth-hci-socket#rework-kernel-workarounds**

I get worse results.  Noble will scan and connect once then after that it gets stuck and moves no farther.  Here's the log files.

[hci0.txt](https://github.com/sandeepmistry/noble/files/533989/hci0.txt)
[hci1.txt](https://github.com/sandeepmistry/noble/files/533987/hci1.txt)
[noble.txt

[2016-10-17 22:41] TheCbac commented on #465
@sandeepmistry Thanks, I'll try this out later this week.

In the mean time, I noticed that all of the issues went away when switching to ethernet, instead of wifi and turning off wifi with:

  `$ sudo ifdown wlan0`

[2016-10-19 01:39] sandeepmistry commented on #474
@cscholze thanks it doesn't look like my PR had any impact. Can you double check you are running it and `node-gyp rebuild` was run in the `bluetooth-hci-socket` folder?

[code]

Have you tried connecting with `gatttool` manually to see if that is stable?

[2016-10-19 01:41] sandeepmistry commented on #480
@kotobuki can you please provide an HCI dump capture? `sudo hcidump -t -x`

Also, please try out the instructions in https://github.com/sandeepmistry/noble/issues/474#issuecomment-252724816 to see if that patch makes any difference.

[2016-10-19 07:49] PanzerHabba commented on #445
@reallyroy

Have you found any workarounds for this ?
I would also like to change ble securiy level.

[2016-10-19 11:40] mbifulco commented on #476
Hey Sandeep - I was able to repro this issue this morning.  On the latest version of Noble, I've got to restart my peripheral each time I start my node app using noble.

[2016-10-19 11:49] mbifulco commented on #476
I added some console debug lines to my source to give an idea of what's going on - you can see a [sample output here](https://gist.github.com/mbifulco/14807e0c0de1e71df63797e0254763af).

I've only got a single device connected at the moment - when I power it off and back on, noble appears to detect it several times.  The system fires off exceptions about the device already being connected - and th

[2016-10-19 15:29] BasKiers commented on #465
Hi,

I am experiencing the same problems referenced in this issue (and #453, #474, #480) aswell.
At a random time the connection will immediately be disconnected after connecting.

This causes the next hci call to produce the following hci error requiring a `hciconfig hci0 reset` to get noble working again:
[code]

After a lot of debugging i've not come much closer to finding a fix. I tried to onl

[2016-10-20 03:24] kotobuki commented on #480
@sandeepmistry Sure, I'd like to share an HCI dump capture.

[code]

(snip)

[code]

I'll try the instruction in #474 and report later on.

[2016-10-20 07:22] kotobuki commented on #480
@sandeepmistry

I installed the patch as follows:
[code]

Then tried with the test code again. The RasPi 3 connected to the BLE device and disconnected immediately. I couldn't see no repeated connections and disconnections. The dump was as follows.

[code]

Could you please let me know if I can do more regarding this issue?

Thanks,
Shigeru

[2016-10-21 22:07] estutzenberger opened #484 "Write > 60 bytes to characteristic"
Hi sandeep,

I'm using OS X El Capitan.  I have installed the latest version of noble.  My Bluetooth device is performing an MTU Exchange request with OS X and ends up with an MTU of 104.

However, when I try to write more than 60 bytes to a characteristic (that has a max length of 104), I never see the data on the device side.  It seems like OS X is never sending the data and I'm wondering if thi

[2016-10-23 17:16] cscholze commented on #480
You're test code looks very similar to mine and is showing the same repeated connect/disconnect.  Open issue #474

[2016-10-23 17:21] cscholze commented on #465
@TheCbac you said that using a wired connection got rid of the disconnect issue.  Is that still the case?  I tried it and it worked for a little bit, but then started disconnected again.

[2016-10-23 18:24] cscholze commented on #474
@sandeep I did a `node-gyp rebuild` in `bluetooth-hci-socket` I am still using the `#node-bluetooth-hci-socket#rework-kernel-workaround` branch.

I also attempted to run it the central device with `sudo ifconfig wlan0 down`, and looked promising for a few minutes, and then the disconnect came back.

I'm working to try and connect with `gatttool` directly and will have an update shortly.

[2016-10-23 19:39] sandeepmistry commented on #482
@pangrr your issue report is very vague please provide more details, are you sure the buffer contains the data you expect it to?

Please provide more details on what the data buffer contains (hex values) and what you expect it to.

Please note the data is a [Node.js buffer](https://nodejs.org/dist/latest-v4.x/docs/api/buffer.html).

[2016-10-23 19:45] sandeepmistry commented on #481
@arunbangari do you have some sample code I can try on my Raspberry Pi 3? It also has a 4.1 Bluetooth adapter ...

[2016-10-23 20:05] sandeepmistry commented on #476
@mbifulco does LightBlue experience the same behaviour?

The Xcode Hardware IO tools Packet Logger app can provide more details on what's going on.

[2016-10-23 20:22] sandeepmistry commented on #484
@estutzenberger please share a minimal code example to reproduce the issue and debug logs (`DEBUG=* node <file>.js`).

Also, have you tried to do a similar thing from a native CoreBluetooth app like LightBlue on OS X?

[2016-10-23 20:36] sandeepmistry commented on #474
@cscholze ok, maybe a reboot is also needed before trying the forked version?

Note, I have not experienced the disconnect behaviour with or without the node-bluetooth-hci-socket changes in my limited testing.

[2016-10-23 20:38] sandeepmistry commented on #465
@BasKiers @cscholze what peripheral devices are you using? Maybe the noble connection parameter are used need to be adjusted?

@BasKiers have you tried to see if `gatttool` exhibits similar behaviour?

[2016-10-23 20:40] arunbangari commented on #481
Hi Sandeep,
Thanks for the reply. I have now modified my code to use two BLE adapters (one for central and other for peripheral role)  and its working great! Thanks to you for noble and bleno :) .Its working good but I would still like to get it working with single BT adapter if possible.

I will try to create a sample code for you to test by next week if its OK.

BTW, do you have any comments on

[2016-10-23 20:43] sandeepmistry commented on #480
@kotobuki maybe try rebooting the Raspberry Pi and trying again?

Could you also try `gatttool` to see how it behaves? If that's stable we can try to adjust the connection parameters noble is using.

See: https://github.com/sandeepmistry/noble/blob/master/lib/hci-socket/hci.js#L314-L319

[2016-10-23 20:45] sandeepmistry commented on #481
This is not something I plan to support, because it would reduce the cross-platform compatibility. On OS X / macOS the CoreBluetooth framework requires you to scan before connecting.

[2016-10-23 23:08] TheCbac commented on #465
@cscholze Since I switched to a wired connection I haven't experienced the issue at all. This is on multiple Pi's and over 10's of hours. The wired connection uses a static IP and wlan0 down.

[2016-10-24 06:25] benjaminhon commented on #465
yes i am experiencing the same problem. I am using the Intel Edison.

about 50% of the time, when i connect, it immediately disconnects. And after i try about 2-5 times, it eventually connects. However this is causing some lag because of the retries.

[2016-10-24 11:46] tengelmeier commented on #465
I had an 100% reproducible immediate disconnect with an Ti Sensortag - until updating bluez from the Jessie-supplied 5.23 to 5.42. Then I had 6h continuous uptime until an disconnect for a different reason...

[2016-10-24 15:00] BasKiers commented on #465
For what it is worth I've got the debug log of when this issue occures:
[code]

[2016-10-24 20:58] estutzenberger commented on #484
So, this turned out to be bad migration documentation by our Bluetooth stack vendor.  While they covered information on how to increase the MTU size, they failed to disclose the BLE event buffer size was not automatically updated.  Thus, the BLE event buffer on the device side was too small and caused a reset on > 62 byte writes.

[2016-10-24 20:58] #484 closed

[2016-10-24 21:06] Lahorde opened #485 "Disconnection during service discovery"
Steps to reproduce :

- connect a peripheral
- discover its services characteristics
- disconnect it before discovery end
=> callback given when calling `Peripheral.discoverServices` service discovery is not called , but I get a 'disconnect' event

- reconnect this peripheral
- discover its services characteristics

Bug : if discovery is successful, callback given in `Peripheral.discoverServices`

[2016-10-25 00:30] cscholze commented on #485
I've seen this before and we are clearing out any unused listeners in our disconnect handler just as you are.

[2016-10-25 00:33] cscholze commented on #481
@arunbangari could you be more specific as to how your code uses two BLE adapters?  This is something I'm interested in doing.  My thought is to fork a node process, is this what you have done?

[2016-10-25 00:39] cscholze commented on #465
@sandeepmistry We are using RPI3 for central and iOS devices for the peripherals

[2016-10-25 06:15] Lahorde commented on #485
I added code in Peripheral, do you want I open a Pull request?

[code]

[2016-10-25 18:24] pangrr commented on #482
toJASON() works. toString() doesn't.

On Sunday, October 23, 2016, Sandeep Mistry <notifications@github.com>
wrote:

[2016-10-25 19:12] arunbangari commented on #481
@cscholze like this
NOBLE_HCI_DEVICE_ID=1 BLENO_HCI_DEVICE_ID=0 node <<your node>>

You can pass the command line parameters to tell noble/bleno which adapters to use. Its mentioned in the documentation. please check.

Br,Arun

[2016-10-26 14:01] Lahorde opened #486 "Rapsberry 3 : BT connection slowing down network"
I got a strange behavior on raspberry 3, it was extremely slow... I got some unresponsive ssh sessions, and poor network performances.
I looked at top, network, sd card writes : nothing alarming... I thought it was because of some db writes in SD or some consuming processes, but I did not find any suspect.
After I stopped process that uses noble to connect some BLE devices : network was faster.
Mo

[2016-10-26 16:37] craigmw commented on #336
I have a question related to this issue. If I issue the following command to a BLE sensor, it returns the battery value on that sensor:

gatttool -b 88:c2:55:ac:26:cc --char-read -a 0x48

Which returns:

Characteristic value/descriptor: 3f

So, the characteristic's handle is apparently 0x48. Do I need to determine the characteristic's UUID or can I simply provide the handle 0x48 in noble to read t

[2016-10-26 20:32] Murvi opened #487 "RPI3 Disconnect Timeout"
Hi

I am having a disconnect issue using a Bluetooth LE Cadence Speed sensor and a Heart Monitor sensor.

The two sensors are being used in isolation but both disconnect in random time intervals.

Environment:
Raspberry Pi 3 4.4.26-v7+
Bluez 5.42
Noble 1.7

I can see by running sudo hcidump -t -X that the disconnect is caused by “HCI Command: LE Connection Update” setting the “superv. timeout 5000

[2016-10-26 22:52] sandeepmistry commented on #486
Are you using WiFi or Ethernet?

There might be some issues with antenna coexistence with WiFi and the high connection interval noble requests .... can you please try raising the connection interval?

[2016-10-27 07:46] farfromrefug commented on #463
@sandeepmistry what's the status on this? I am facing the sierra issue

[2016-10-27 10:25] sandeepmistry commented on #463
@farfromrefug no issues for me, I updated to Sierra last week.

[2016-10-27 11:36] Lahorde commented on #486
I'm using WIFI.
I've plugged an USB dongle and checked network performances : all was fine.
As you said, root cause seems to be WIFI/BT on BCM43438.
I've tried with different connection interval and it did not change anything.
bluetoothctl tool does not have impact on wifi, may be comparing source code could be useful.

[2016-10-27 13:41] farfromrefug commented on #463
It might be the same issue as @BlackWolf  after an update. I was asking about the core-bluetooth branch. Are you maintaining it?

[2016-10-27 13:50] BlackWolf commented on #463
@farfromrefug  Just to clarify, my issues were not related to noble at all, but purely OS X issues. I posted the steps that resolved them for me in my above post. Did you try them?

[2016-10-27 23:25] sandeepmistry commented on #463
@farfromrefug

@jacobrosenthal and I plan to eventually merge the branch into master. If you have time to try it out and provide feedback that would be appreciated.

[2016-10-27 23:30] sandeepmistry commented on #486
bluetoothctl tool does not have impact on wifi, may be comparing source code could be useful.

Do you have more details on what connection intervals you used and what `bluetoothctl` uses? It would be interesting the compare the HCI dumps of both as well.

[2016-10-28 02:43] kotobuki commented on #480
@sandeepmistry @cscholze

Sorry for the delay in reply. As you pointed, I forgot to reboot after replacing. I tied again after rebooting, and I don't see repeated connect/disconnect anymore! However, I can't connect to the device since disconnected immediately.

[code]

I also tried to connect with gatttool to check stability. First, I checked the device's MAC address.

[code]

Then I tried to con

[2016-10-28 16:50] IgorMuzyka opened #488 "Question about blued XPC service documentation"
Hey guys. I'm trying to write some piece of software which is kinda a copy paste of you library but in Swift. What i want to ask is how did you found out what to send to the `blued` xpc mach service. Is there any kind of documentation or anything, cause i struggled with finding anything about it and just reproduced you way of doing things, but as i'm willing to make this piece also work on the iOS

[2016-10-29 05:19] geraldoramos opened #489 "discoverCharacteristics returning empty array"
Hello!

**Info:**
OSX El Capitan, 10.11.06
Node 6.6.0
BLE Device: Bean LBM313-2540-256

I'm able to connect to a specific device, discover the service "a495ff10c5b14b44b5121370f02d74de", and discover the characteristic "a495ff22c5b14b44b5121370f02d74de".

The issue is that I'm unable to get any characteristic data. It just returns an empty array. Here is the code.

[code]
Here is the console outpu

[2016-10-29 14:08] Murvi commented on #487
Hi

Still getting the same disconnect issue from timeout greater than 5 seconds.

This morning I wondered if the timeout was being caused by another process running on the Raspberry Pi and taking a large chunk of CPU but ran with task manager this morning and CPU never got more than 3% usage before timeout.

Attached another log file ran for about 90 seconds before the timeout.

[Disconnect 281020

[2016-10-29 15:39] Murvi commented on #487
Hi

I retested with different device this time with a Heart Rate Monitor.

After connection a connection update was negotiated with the HRM device and the supervisor timeout was set to 6 seconds.

2016-10-29 16:16:15.812919 > HCI Event: LE Meta Event (0x3e) plen 10
    LE Connection Update Complete
      status 0x00 handle 64
      interval 1020.00ms, latency 0.00ms, superv. timeout 6000.00ms

Aft

[2016-10-29 19:01] Murvi commented on #487
Just noticed Bluez 5.43 release and upgraded.

Tested with the HRM but still having the timeout disconnect issue.

[2016-10-30 14:15] sandeepmistry commented on #482
Hi @pangrr,

Please see my previous comment. It is pretty much impossible to help you out unless you provide more details, including the ones that I have previously requested.

I'm going to close this for now, please re-open with the requested information.

[2016-10-30 14:15] #482 closed

[2016-10-30 18:07] bassamseif commented on #412
I'm having the same issue mentioned before, here's the dump
[code]
using node 5.9.1 and running the `enter-exit.js` script in the examples folder

[2016-10-30 19:06] sandeepmistry commented on #412
@bassamseif

The last scan enable looks ok:

[code]

[2016-10-30 19:10] bassamseif commented on #412
I see, but it does not detect any bluetooth devices although i can detect them using `bluetoothctl`

[2016-10-30 19:13] sandeepmistry commented on #336
@craigmw

Determine the characteristics UUID and the service it belongs to is the way to go.

[2016-10-30 19:16] sandeepmistry commented on #488
Hi @IgorMuzyka,

The message id's were based on reverse engineering. See the following: https://github.com/sandeepmistry/osx-ble-peripheral/blob/master/BLEPeripheral/BPAppDelegate.m#L83

It swizzles some CoreBluetooth code, then you use CoreBluetooth as normal to spy on what messages it sends. In the future, noble will be moving away from this technique for various reasons.

Based on what you shar

[2016-10-30 19:16] #488 closed

[2016-10-30 19:31] sandeepmistry commented on #489
Hi @geraldoramos,

Taking a look at @jacobrosenthal's library, the "scratch two" characteristic is actually under the scratch service which has a UUID of "a495ff20c5b14b44b5121370f02d74de".

See: https://github.com/jacobrosenthal/ble-bean/blob/aa9ec821727fc2783751a6a404dd13a4b923bf9e/lib/ScratchTwo.js

[2016-10-30 19:31] #489 closed

[2016-10-30 19:33] sandeepmistry commented on #412
Are you sure the device you are scanning for is a BLE device? noble only supports BLE and not regular Bluetooth classic devices.

If you provide a HCI dump capture of what happens when you use `bluetoothctl`, I can take a quick look.

[2016-10-30 19:55] sandeepmistry commented on #420
I'm closing this due to lack of activity. If you are still interested please re-open with the requested info.

[2016-10-30 19:55] #420 closed

[2016-10-31 06:38] bassamseif commented on #412
here is a dump from an inquiry with `bluetoothctl`
[code]

[2016-10-31 09:48] IgorMuzyka commented on #488
@sandeepmistry what about the `blued` mach service, how did you figured out that's the one you should talk to? maybe you could hint me about the mach service name on the iOS?

[2016-10-31 10:21] sandeepmistry commented on #412
Yep, the not BLE. Event type would be:
[code]

[2016-10-31 10:24] sandeepmistry commented on #488
@IgorMuzyka I swizzled out one of the other methods, I forget the specific details because it's been a few years ...

You could also try to run the `strings` command on the framework binary.

[2016-10-31 11:57] arunbangari commented on #481
Hello Sandeep,
Sorry for the delay.  Here is the sample code.
[noble-bleno-sample.zip](https://github.com/sandeepmistry/noble/files/561632/noble-bleno-sample.zip)

Here is how it is suppose to work.
- run the main.js
- using nRF connect application scan and connect the peripheral 'BLE TestGatewaty'
- once the peripheral is connected, subscribe for notification for characteristic E0E11112B7BB461982

[2016-10-31 13:02] bassamseif commented on #412
oh okay, thanks for the clarification!

[2016-11-01 14:38] zkiiito opened #490 "notifications and read callbacks"
I'm trying to use the callback from characteristic.read(), but my device also has notifications. i'm subscribed to these, so i also have a characteristic.on('data') handler.

but things get mixed up, the callback of the read() function sometimes returns the data from the notification, not the actual data which i was reading - though, I get that value too in the 'data' event handler.

I think this

[2016-11-02 12:19] davidmessem opened #491 "Set Noble scan speed"
Please tag this as an enhancement request

Please can a feature be added to change the interval that Noble scans for peripherals at?
For example, I want Noble to only scan for peripherals every 1 second

[2016-11-04 10:21] pfyod opened #492 "Windows: "unknown peripheral""
I'm trying to run the pizza example, somehow it only works half of the time. When it does not work, it outputs "noble warning: unknown peripheral 001583d1d89a" into the console and does not connect.

Central:

- Windows 10
- Node v6.9.1 (because of the `usb` compilation issues with v7.0.0)
- Noble 1.7.0
- WinUSB 6.1.7600.16385

Peripheral:

- RPI Zero, Raspbian
- Node v7.0.0
- Bleno 0.4.1
- BlueZ

[2016-11-04 11:27] pchandramouli opened #493 "Reason for not using built-in bluetooth capabilities in Windows?"
I'm trying out noble as part of a PoC. Noticed as part of Prerequisites that it requires Compatible Bluetooth 4.0 USB adapter (aka. "dongle").

Can you throw light on why is it so - won't it be able to use Windows built-in driver and the systems default bluetooth hardware? Is it specific to noble or does it have something to do with Windows itself? (I've seen bluetooth mice requiring a compatible

[2016-11-05 22:14] recursify opened #494 "macOS Sierra - long writes not working (CoreBluetooth/blued issue)"
I have an app that was working great using noble under El Capitan.  After upgrading, things have stopped working... sorry for the lack of details, but I'll need to write some more diagnostic software on the firmware side to see if it's the reading or writing of characteristics that's broken (will update this issue when I have more information).  Scanning seems to work fine still.

Just curious if

[2016-11-05 22:29] recursify commented on #494
Sorry - didn't see this issue the first time 'round:

https://github.com/sandeepmistry/noble/tree/core-bluetooth

[2016-11-05 22:59] recursify commented on #494
I tried all the suggestions in #463 (deleting the plists and restarting blued, trying the `core-bluetooth` branch) but still having issues.  I'm pretty sure the write is being corrupted, as I'm seeing this in the system logs after enabling BLE logging

[code]

[2016-11-06 21:27] sandeepmistry commented on #490
Hi @zkiiito,

Could you please provide the following:

 * What OS you are using
 * Minimal code to reproduce the issue.

[2016-11-06 21:36] sandeepmistry commented on #491
Hi @davidmessem,

This is a duplicate request of https://github.com/sandeepmistry/noble/issues/298 - so I will close as a duplicate.

Please note, this feature would be possible on Linux, however it is not possible on OS X because CoreBluetooth does not provide this feature.

[2016-11-06 21:36] #491 closed

[2016-11-07 12:48] BasKiers commented on #465
Hi,

small update.
I've added the following measures and my ble connection is now much more stable, only occasional unexpected behaviour (corrupt connections) for which I have a hacky workaround aswell.

**Things I did to try to improve stability:**
Added a function queue to ensure only 1 call is done to noble at the same time.
_This is done for all noble calls and I've added a hardcoded delay of

[2016-11-07 15:04] BasKiers commented on #295
I also experienced this issue. Although I do not have a hcidump I think we've already established that this exception is caused because of incoming SMP Pairing Requests which are not supported. I've created a pull request with a temporary solution (as long as incoming requests are not supported) which only registers the onAclStreamDataBinded function after sendPairingRequest is called and therefor

[2016-11-07 15:10] BasKiers commented on #485
This is probably the same issue as #465. The issue is that after a connection sometimes a disconnect event will fire directly (within about 150ms).
This issue should be caught in `Peripheral.prototype.connect` and not at `Peripheral.prototype.discoverServices`.

On my device all future connections will have the same behavior and I need to call `hcitool hci0 reset` to get a working connection again

[2016-11-07 15:19] gotleg opened #496 "[Solved] SENA UD100 support ?"
Hi,

I discovered noble  few days ago and it works really great with my basic bluetooth dongle, nice job ^^
For the application I'm working on, I need longer range Bluetooth adapter so I tried SENA UD100 witch is class 1 and has an external antenna connector.

Unfortunately, it doesn't work as expected. I can see my Bluetooth device but when I try to connect i got an "Error: Command disallowed"

I

[2016-11-07 16:47] Murvi commented on #465
Hi

Great update.

I created #487 as I am receiving disconnect supervisory timeouts.

Could you explain to me how you were able to increase the timeout value.

I having been trying to debug this over weekend without any joy as I am not getting or I don't think I am getting errors but the devices seem to be gracefully disconnecting due to the supervisory timeout value. This is strange as I getting

[2016-11-07 17:11] cidadao opened #497 "Can't receive notifications (tested on Win10 and Ubuntu16.04)"
Hi,

I'm developing a BLE peripheral using a nRF51 and I've been testing it using nRF Connect for Android, but I need more control and that's why I'm now here :)
I can scan, connect, write and read characteristics but not to receive notifications. In fact, if I try to enable notifications using this code:

            characteristic.subscribe(function(err) {
              console.log("notifs are O

[2016-11-09 15:42] Nikolay-Kha commented on #493
Bluetooth low energy(aka BLE, Bluetooth smart) appear since Bluetooth 4.0 specification. Moreover, dongles with classic bluetooth 4.0 may not support BLE according to the specification, but practically I haven't seen such dongles - all of them supports both classic Bluetooth and BLE.

noble or any other software anyway use system driver for access at least to HCI part of Bluetooth. So I don't get

[2016-11-09 20:11] Murvi commented on #487
Hi

This is maybe going to sound a bit strange but in summary I think my RPI3 Bluetooth timeout issue is due to RPI3 Bluetooth transmission range.

When I was testing yesterday my Heart Rate monitor was disconnecting every 10 seconds and getting very annoying. I decided to then use the HRM app on my iPhone and it worked without fault.

At that moment I thought was it working on the app because I w

[2016-11-09 21:10] jdiamond opened #498 "Discover MTU"
Hi, is there a way to discover the MTU that was negotiated between noble and the peripheral it connects to?

I can see the code that handles MTU requests in hci-socket/gatt.js, but can't see the new MTU being put any place I can read it my code.

However, my understanding is that hci-socket is only used on Linux, but I'm testing on macOS. I don't see any equivalent code in the mac folder.

Thanks.

[2016-11-09 22:15] cidadao commented on #497
Nevermind. It was a bug in the nRF51's code. The CCCD wasn't being properly initialized and for that reason any response was sent to BLE central (noble). However, I think it should be good if noble would print a warning message stating that no response was received after a given time.

[2016-11-09 22:15] #497 closed

[2016-11-10 05:43] recursify commented on #494
Can confirm the issue is with writes longer than 20 bytes (ie: long writes).  Others seem to be having similar issues:
http://stackoverflow.com/questions/40094758/long-write-with-core-bluetooth-on-macos-sierra

[2016-11-10 09:59] arunbangari commented on #481
Hi @sandeepmistry , did u have a chance to look at the sample I uploaded? Thanks.

Br,Arun

[2016-11-10 21:20] zkiiito commented on #490
now I'm on windows10, but it also happened on ubuntu 16.04.
code to reproduce (after successful connection):
[code]

the hw outputs a notification in every ~2 secs, the read command should always return 01, but it sometimes returns the notification value, as you can see below.

output after a few secs:
[code]

[2016-11-11 11:46] gotleg commented on #496
Here is my HCI dump :
HCI sniffer - Bluetooth packet analyzer ver 5.41
device: hci0 snap_len: 1500 filter: 0xffffffffffffffff

    Set Event Mask (0x03|0x0001) ncmd 1
    status 0x00

    LE Set Event Mask (0x08|0x0001) ncmd 1
    status 0x00

    Read Local Version Information (0x04|0x0001) ncmd 1
    status 0x00
    HCI Version: 4.0 (0x6) HCI Revision: 0x2031
    LMP Version: 4.0 (0x6) LMP Subve

[2016-11-11 15:05] gotleg commented on #496
OK so finally I found what my problem was :)
In my program I was stopping the scan after triing to connect. This was not a problem with some bluetooth dongle but apparently the "Cambridge Silicon Radio, Ltd Bluetooth Dongle (HCI mode)" needs to stop the scan before connect.

Hope this could help others :)

[2016-11-12 11:20] pfyod commented on #492
Pretty sure that the issue is the same as with #496. If I put the code that actually connects to the peripheral inside the callback of "stopScanning" it works every time.

[2016-11-12 13:53] kotobuki commented on #480
@sandeepmistry

Hi, I have a small update regarding this issue.

I simplified the test code and added debug outputs for `scanStart` and `scanStop` as follows:
[code]

On macOS (El Capitan 10.11.6), the test code worked as expected:
[code]

However, on Raspbian (September 2016) another scan started just after the first scan stopped:
[code]

Thanks,
Shigeru

[2016-11-13 13:26] sandeepmistry commented on #494
@recursify ok, then this is outside the scope of noble, and we'll have to wait for Apple to fix it.

[2016-11-13 20:50] fallenfate1982 opened #499 "macOS - Writes do not seem to work"
I'm having an error that seems to be with noble's writes to a BLE device with firmware written by me (runs on a Redbear Nano). Everything works fine from a phonegap iOS app I created to work with the device. I'm using noble to get it working on the desktop. When the write statement is executed, all seems to go well and there is no errors or warnings thrown. However, the chip does not seem to recei

[2016-11-13 21:24] fallenfate1982 commented on #499
Some more information. Also tested writes with LightBlue on mac. This seems to work fine.

Still can't get it to work with noble. Here's the code:

[test copy.txt](https://github.com/sandeepmistry/noble/files/588086/test.copy.txt)

[2016-11-13 21:25] fallenfate1982 commented on #499
Any help as to what I may be doing wrong would be very helpful.

Note; in the above code the write executes and you get the message to console etc. It just does not reach the chip

[2016-11-13 21:32] fallenfate1982 commented on #499
Some more information: basically the characteristic information that I'm calling write on. It's the same UUID with LightBlue as well that worked.

connected to 81d2297a9e10487bb9a9061a0d43b7d1
discovering 81d2297a9e10487bb9a9061a0d43b7d1
connected to peripheral: 81d2297a9e10487bb9a9061a0d43b7d1
on -> connect
on -> RSSI update -59
on -> peripheral services discovered {"uuid":"6e400001b5a3f393e0a9e5

[2016-11-14 01:02] sandeepmistry commented on #493
@pchandramouli there's a fairly lengthy discussion in #84.

To summarize, Windows didn't really have great BLE support until Windows 10, and the current versions of Windows requires peripherals to support pairing (https://github.com/sandeepmistry/noble/issues/84#issuecomment-181138951).

@hgwood's made a Windows 10 specific binding here: https://github.com/hgwood/winble - but it requires Chakra co

[2016-11-14 01:02] #493 closed

[2016-11-14 01:08] sandeepmistry commented on #498
@jdiamond not currently.

However, we should be able to bubble up the event on both Linux and macOS. Here's the XPC event:

[code]

What do you plan to do with the MTU?

[2016-11-14 01:19] sandeepmistry commented on #496
@gotleg nice detective work!

Can you please submit a PR to the read me for adapter specific issues? Here might be a good place: https://github.com/sandeepmistry/noble#notes

[2016-11-14 01:19] #496 closed

[2016-11-14 01:24] sandeepmistry commented on #480
@kotobuki

I think you need to specify a random address type ... try:

[code]

Another thing to try is disabling WiFi and using Ethernet instead ...

[2016-11-14 01:30] sandeepmistry commented on #499
Did you try with a regular write?

[code]

instead of:

[code]

[2016-11-14 02:24] fallenfate1982 commented on #499
Yes, I did try that..... It did not work

Here's the debug dump of the section where the write happens:

on -> service characteristics discovered {"uuid":"6e400002b5a3f393e0a9e50e24dcca9e","name":null,"type":null,"properties":["writeWithoutResponse","write"]},{"uuid":"6e400003b5a3f393e0a9e50e24dcca9e","name":null,"type":null,"properties":["notify"]}
  yosemite-bindings sendCBMsg: 65, {
  "kCBMsgAr

[2016-11-14 02:49] fallenfate1982 commented on #499
Also, I'm on macOS 10.12 (Sierra) even though I'm seeing yosemite in the debug dump

[2016-11-14 11:10] PanzerHabba commented on #117
@pfelgaer  Any progress on this matter ?
@sandeepmistry Any plans on releasing noble with "passkey entry" pairing method in SMP ?

[2016-11-15 02:50] sandeepmistry commented on #490
@zkiiito can you provide the following from Ubuntu:

* HCI dump capture: `sudo hcidump -t -x`
* debug logs: `sudo DEBUG=* node <file>.js`

[2016-11-15 12:34] denkomanceski opened #501 "Bluetooth 4.0 (non-BLE)"
Is it possible to use this as a "server", where my phone will connect and pair, and than send data like JSON objects etc? The phone can use cordova plugin, or nativescript native APIs.. If its not, do you guys know any module that can help me build normal non-BLE bluetooth server/client?

[2016-11-16 05:01] coold8d commented on #481
Hi Arunbangari,
Sorry my question is not related to your topic. I am trying to run a JS project called ble-shepherd.js on BBGW as well, but failed to make it work with noble.
May I know how you make it work on BBGW? I can contact you in private, if don't mind.

[2016-11-16 12:49] gfwilliams opened #502 "Unhandled TypeError on exit on Windows 10"
Hi! I'm getting the following error:

[code]

* Windows 10
* BLE-capable adaptor, **Not using the WinUSB driver**

So it's not finding any BLE devices, so first I get:

[code]

It could be related to https://github.com/sandeepmistry/noble/issues/382 but does appear different.

My guess is that the exception being thrown initially is leaving Noble in an odd state - where it thinks it's got an adapt

[2016-11-16 13:49] gfwilliams commented on #501
I think you're after `bleno`. That allows device to act like a peripheral, so it can be connected to.

[2016-11-16 13:52] denkomanceski commented on #501
@gfwilliams Isnt bleno for BLE only ? I need module for the normal high bandwidth bluetooth 4.0

[2016-11-16 13:53] gfwilliams commented on #501
Yes, it is. I missed that bit.

[2016-11-16 16:49] zkiiito commented on #490
here are they, the debuglog is a little bit polluted with express & socket.io.

[debuglog.txt](https://github.com/sandeepmistry/noble/files/595220/debuglog.txt)
[hcitooldump.txt](https://github.com/sandeepmistry/noble/files/595219/hcitooldump.txt)

[2016-11-16 22:08] Murvi commented on #487
Hi

I have tested for last few days and I am not getting disconnects when I locate RPI3 in close proximity to Bluetooth devices (not more than 3 feet).

I will close ticket as my issue has been in my opinion due to transmission range of RPI3.

[2016-11-16 22:08] #487 closed

[2016-11-16 23:51] sandeepmistry commented on #502
@gfwilliams just to confirm `this._hci.init();` is failing right?

If so, that change looks good to me, please go ahead and submit a pull request :D

[2016-11-18 02:48] benjaminhon commented on #465
hmm so is there any resolution for this?

[2016-11-19 14:59] #502 closed

[2016-11-19 15:00] sandeepmistry commented on #501
@denkomanceski I'm not aware of any non-BLE libraries.

[2016-11-19 15:00] #501 closed

[2016-11-20 16:51] sandeepmistry commented on #499
Could you please share the entire debug capture, start to finish. Also, your code is not checking if the characteristic has write properties. The debug logs indicate a failure:

[code]

For the characteristic with value handle 14.

[2016-11-20 16:55] sandeepmistry commented on #490
I see the problem: https://github.com/sandeepmistry/noble/blob/master/lib/hci-socket/bindings.js#L411

When a notification is received, a `read` event is emitted. The `data` event was introduced later, so I believe the `hci-socket` binding should emit `data` for notifies, and only `read` for read responses.  `lib/noble.js` will also have to be modified accordingly.

Do you have time to try out thi

[2016-11-20 17:19] sandeepmistry commented on #492
@pfyod ok, do you think can try with a Broadcom based adapter?

Btw, PR #500 has added some info about the CSR to the read me.

[2016-11-20 19:08] pfyod commented on #492
Unfortunately I do not have a Broadcom based adapter. Is connecting while scanning supposed to work at all (I know virtually nothing about BLE specs)?

I've tried some other software based on noble (like [Adafruit Bluefruit LE Desktop](https://github.com/adafruit/adafruit-bluefruit-le-desktop/releases)) and it suffers from the same problem. Is it not better to update examples / docs?

Basically, w

[2016-11-20 21:43] Lahorde commented on #486
With 2 BLE devices connected, I cannot anymore make some connection tests : I get some timeout, wifi network speed < some kbytes, there is a huge issue making noble on RPI3 unusable with wifi when connecting several peripherals.

Connection interval using noble is :

    min_interval 6 max_interval 12

using bluetoothctl :

    min_interval 40 max_interval 56

I've attached hcidump logs.
[bug_blue

[2016-11-20 23:01] Lahorde commented on #486
I also tested with bluepy connecting 2 sensortag and I did not get any wifi speed performance issue.

[2016-11-22 05:07] svaradar83 opened #504 "Unable to discover characteristics with Arduino 101"
I am trying to connect my Arduino 101 with Noble.

I setup a custom BLE service using the built-in Curie BLE module in Arduino 101 as follows:
BLEService ledService("19B10000-E8F2-537E-4F6C-D104768A1214");
BLEIntCharacteristic ledCharacteristic("19B10001-E8F2-537E-4F6C-D104768A1214", BLERead | BLEWrite);

And I add the attributes (in the same order) as follows:
ledPeripheral.setLocalName("LED");
l

[2016-11-22 16:27] zkiiito commented on #490
#505 , I think it's more straightforward to change onlythe onRead function in noble.js, the end result (emitted events) are the same.

[2016-11-22 23:44] sandeepmistry commented on #504
Please share the Node.js code you are using and debug output: `DEBUG=* <file>.js`.

[2016-11-22 23:46] sandeepmistry commented on #486
@Lahorde have you tried to change noble to use the same connection interval, latency and supervision timeout as bluepy or bluetoothctl?

https://github.com/sandeepmistry/noble/blob/master/lib/hci-socket/hci.js#L314-L319

[2016-11-22 23:58] sandeepmistry commented on #492
It works for me using Broadcom based adapter and on OS X. Not sure if it's firmware version independent though.

@bluetooth-mdw do you know if trying to connect while scanning is suppose to work as per the Bluetooth Core Specification?

[2016-11-23 00:10] aj-ptw opened #506 "Noble Causing Appveyor to Fail"
Attempting to build [OpenBCI_Ganglion_Electron](https://github.com/OpenBCI/OpenBCI_Ganglion_Electron) with this library inside an electron app.

The bug is coming from trying to build for windows using [Appveyor CI](https://ci.appveyor.com/project/aj-ptw/openbci-ganglion-electron)

My `appveyor.yaml` is:
[code]
The error we are getting [is here](https://ci.appveyor.com/project/aj-ptw/openbci-gangl

[2016-11-23 00:28] aj-ptw commented on #506
I have been going through all the dependents of this project and am finally finding one that has an `appveyor.yaml` file:

[meshblu-connector-ble-heartrate](https://github.com/octoblu/meshblu-connector-ble-heartrate/blob/master/appveyor.yml)

[2016-11-23 07:59] akalirong commented on #463
@BlackWolf you just saved my day. Thank you so much!

[2016-11-23 08:19] bluetooth-mdw commented on #492
It's optional, so some implementations will support this and others will not. The spec says (wrt the Link Layer) "All other combinations of states and roles may also be supported", the key word being "may".

[2016-11-23 08:53] benjaminhon opened #507 "how to prevent automatic reconnects"
Hi,
When i turn off my bluetooth device and turn on it again, the master automatically connects to it.
Thus, it skips the process of

1) detect advertisement
2) peripheral.connect

I have to keep a record of who is connected to what. But the device automatically connects (i can see it in bluetoothctl devices) without me commanding it to connect. So none of my code gets called to take note that the

[2016-11-23 11:25] sandeepmistry commented on #492
@bluetooth-mdw thanks! A follow up question, is there a way to query what is supported by the adaptor?

If you don't know off hand, I can add it to my list to read though the spec ...

[2016-11-23 12:25] bluetooth-mdw commented on #492
I don't think so, no. There's the "LE Read Supported States" HCI command but it doesn't cover combinations of states in the way you need.

[2016-11-23 21:03] Lahorde commented on #486
I've changed connection interval parameters and now I get some good wifi network speeds!
You have set bluetooth connection interval to min value, it's quite extreme for devices that do not send a connection update request to master. May be you could set same value as bluetoothctl.

[2016-11-24 03:32] svaradar83 commented on #504
Here is the Node.js code that tries to discover services exposed by the 'LED' device above and its characteristics.

[code]

And here is the DEBUG output:
[code]

[2016-11-26 00:41] kotobuki commented on #480
@sandeepmistry
I'm sorry for the delay in reply. I just tried as suggested:

[code]

I could make a connection successfully. Then I waited several minutes and the connection was not disconnected until disconnecting manually by typing `disconnect`. I repeated several times, and I couldn't reproduce the connect/disconnect issue.

[2016-11-26 02:34] smirea opened #508 "peripheral.id is different based on OS"
I'm running a simple discovery on both my OSX Sierra and my Raspberry PI 3 with the following code (node 6.4.0 on both, tried also 7.2.0):

[code]

For a particular device I am interested in, on OSX I get:

[code]

And on RI3:

[code]

This also affects the direct discovery mechanic. The ID of the device is `0000ff60-0000-1000-8000-00805f9b34fb`. Discovering directly with `noble.startScanning(['00

[2016-11-26 08:06] eavelardev opened #509 "TypeError: "value" argument is out of bounds - peripheral-explorer.js"
***********************
Python v2.7.12
Node v6.9.1 LTS
Adapter CSR8510 A10
***********************

C:\Users\win\Downloads\noble-master\examples>node peripheral-explorer.js 18b43052fca5
noble warning: unknown handle 72 disconnected!
peripheral with ID 18b43052fca5 found
  Manufacturer Data = 18b43052fca5024633eb78
  Service Data      =
  Service UUIDs     = d2d3f8ef9c994d9ca2b391c85d44326c

servic

[2016-11-26 16:55] sandeepmistry commented on #507
Hi @benjaminhon

There's nothing in noble to trigger automatic connections, I'm guessing this was done outside of noble. Same applies for trusting of devices, nothing in noble to persist this.

I'm going to close this for now. Please re-open if you find an exact sequence of steps to reproduce this with noble.

[2016-11-26 16:55] #507 closed

[2016-11-26 17:00] sandeepmistry commented on #492
@bluetooth-mdw thanks again!

@pfyod can you try the following:

[code]

If that works, please submit a pull request to update the example.

[2016-11-26 17:15] sandeepmistry commented on #506
@aj-ptw if you apply a similar configuration to the ones above does it work?

[2016-11-26 17:20] sandeepmistry commented on #504
Hi @svaradar83,

I believe you have a typo:

[code]

should be

[code]

I'm going to close this for now, if this was not the problem please re-open ...

[2016-11-26 17:20] #504 closed

[2016-11-26 17:27] sandeepmistry commented on #509
Hi @eavelardev,

Can you please provide debug logs?

You need to set the `DEBUG` env var to `*`. I believe this can be done by `setenv DEBUG=*` on Windows.

[2016-11-26 18:02] radpet opened #511 "No devices found"
Hello,

I have trouble finding Samsung galaxy S3 Neo device using noble. My bluetooth dongle is 4.0 and the device I am looking for is also BLE. I am using Linux and I can find the device with the hcitool scan command, I have written a python script too using pybluez and it found the devices as well. Any ideas why noble can't find anything?

[2016-11-27 06:03] benjaminhon commented on #507
Yep I understand, however, if the device automatically connects, then my noble application will not be able to detect this?

Is there any event I can subscribe to to detect this?

Sent from my iPhone

[2016-11-28 01:23] eavelardev commented on #509
@sandeepmistry  [log.txt](https://github.com/sandeepmistry/noble/files/615195/log.txt)

[2016-11-28 15:55] aj-ptw commented on #506
@sandeepmistry experimenting right now, will update ASAP with more info!

[2016-11-28 16:21] aj-ptw commented on #506
Well it's building https://ci.appveyor.com/project/aj-ptw/openbci-ganglion-electron getting a friend with windows to test

[2016-11-28 19:37] aj-ptw commented on #506
Ok well it's building on my system, forked this repo and created [a new branch](https://github.com/aj-ptw/noble/tree/appveyor) and enabled [appveyor](https://ci.appveyor.com/project/aj-ptw/noble/) for it.

Build is failing with:
https://ci.appveyor.com/project/aj-ptw/noble/build/job/vyqg8n6igmh6w4xh

[2016-11-29 00:32] sandeepmistry commented on #511
@radpet please share an HCI dump capture: `sudo hcidump -t -x`.

What's the exact command you are using? `hcitoool lescan` is for BLE devices, this module only supports BLE devices, not classic devices.

[2016-11-30 14:47] jvelazqueztraut opened #512 "addressChange event is not being called"
This is being tested on Mac OSX 10.12 with this script:
[code]

The result is:

So 'Address change' is not being called.

[2016-11-30 15:48] zangdar64 commented on #413
I have the same problem on my linux (Rpi3) board using estimote tags.

`	for(uuid in noble._peripherals){
		noble.updateRssi(uuid);
	}`
print this error `noble: unknown peripheral undefined RSSI update!`

using console.log i make some test
`peripheralUuid` is undefined in`Noble.prototype.onRssiUpdate = function(peripheralUuid, rssi) {` call (in  noble/lib/noble.js)
also in  noble/lib/hci-socket/hc

[2016-11-30 21:39] recursify commented on #494
FWIW - I've filed a bug with Apple regarding this.  We'll see what happens!

[2016-12-02 02:39] sandeepmistry commented on #494
@recursify thanks for the heads up! Please update this issue with any news you hear back from them.

[2016-12-02 02:41] sandeepmistry commented on #413
This is not a public facing API. Please see: https://github.com/sandeepmistry/noble#update-rssi

[2016-12-02 02:45] sandeepmistry commented on #507
You could try `noble.on('connect', callback)` ...

[2016-12-02 02:56] sandeepmistry commented on #508
The `id` differences are expected, CoreBluetooth/blued creates a per machine unique id on OS X. On Linux the BT address without colons is used for the id.

As for the start scanning issue, it's possible a duplicate of #331 - can you try again but remove the dashes from the UUID?

[2016-12-02 03:13] smirea commented on #508
i did try both formats, still didn't manage to connect on the raspberry pi (i'm assuming you mean without dashes). there it seems is more a matter of the ID being a lot smaller on linux that OSX

also worth mentioning the ID matches the one specified by the device vendor on osx

[2016-12-02 08:20] zangdar64 commented on #413
This is the same problem with peripheral.updateRssi()
I test with noble test.js and it fail too
`sudo node node_modules/noble/test.js
noble
on -> stateChange: poweredOn
on -> scanStart
on -> discover: {"id":"dd4fc890b5c8","address":"dd:4f:c8:90:b5:c8","addressType":"random","connectable":true,"advertisement":{"manufacturerData":{"type":"Buffer","data":[93,1,1,148,247,195,240,0,65,107,120,4,133,4,2

[2016-12-03 13:16] Cody-G-G opened #513 "state / stateChange behavior"
Disclaimer: I am actually using https://github.com/jacobrosenthal/react-native-ble with Android, however I am looking to find out whether I simply have a poor understanding of how this works, or if this is an issue with either react-native-ble or noble.

I am a bit confused as to how state / stateChange work...I initially assumed that a stateChange event would be automatically emitted when the use

[2016-12-05 00:15] sandeepmistry commented on #512
Hi @jvelazqueztraut,

Where do you see info or documentation for the `addressChange` event?

`noble.address` will be updated with the `stateChange` event ....

[2016-12-05 00:19] sandeepmistry commented on #508
@smirea please provide an HCI dump capture from the Raspberry Pi: `sudo hcidump -t -x`

[2016-12-05 00:21] sandeepmistry commented on #413
`test.js` from noble is not a really useful test app for you to use.

Please provide a minimal sample app that can be used to reproduce the issue along with an HCI dump capture `sudo hcidump -t -x`

[2016-12-05 00:46] sandeepmistry commented on #513
That's the expected behaviour.

There is no standard for serial data over BLE. Even if there was, noble would only be used as the lower level to build upon by another Node.js library/module.

Closing for now, I suggest you follow up with the `react-native-ble` maintainers (and observe some patience).

[2016-12-05 00:46] #513 closed

[2016-12-05 00:57] #490 closed

[2016-12-05 01:02] dsully commented on #147
@trcharlie: I'm also trying to talk to an Anova - did you get any further? Have any code you can share?

[2016-12-05 01:29] sandeepmistry commented on #480
@kotobuki thank you.

Can you please try https://github.com/sandeepmistry/noble/pull/514?

[2016-12-05 02:05] sandeepmistry commented on #465
@benjaminhon could you please try #514?

[2016-12-05 02:07] sandeepmistry commented on #499
Closing for now due to lack of activity, please re-open with requested info ...

[2016-12-05 02:07] #499 closed

[2016-12-06 10:21] llemtt opened #515 "discoverSomeServicesAndCharacteristics order"
I'm trying to use discoverSomeServicesAndCharacteristics but I can't understand in which order characteristics are returned...

Any suggestion on how to find and use just few characteristics?

Thanks

[2016-12-07 17:48] andyzaharia opened #516 "manufacturerData is different on Raspberry Pi 3 than the one returned on OSX"
Hi guys, I'm pretty new to this Bluetooth stuff, after some investigation I found out that the data returned in "manufacturerData" seems to be different. In my case I was writing some code on OSX to retrieve temperature from a Blue Maestro Tempo Disc device, and I got it to work perfectly on my MBP.  The problem showed up when I deployed that code to a Raspberry Pi 3.

 I tracked down the problem

[2016-12-07 20:52] radpet commented on #511
`sudo hcidump -t -x.` gives:
[code]

I use `hcitool scan to find it`, `hcitool lescan does not find anything`, strange I, maybe the bluetooth inside the S3 Neo is not really ble just support pairing with ble devices. Thanks

[2016-12-07 22:06] aj-ptw opened #517 "Dropped packets on low end mac book air"
While running `noble` on:
macOS Sierra version 10.12.1
Macbook Air (13-inch, Early 2015)
Processor: 1.6 GHz Intel Core i5
Memory: 8 GB 1600 MHz DDR3

Bluetooth info:
Bluetooth Low Energy Supported: Yes
Handoff Supported: Yes
Instant Hot Spot Supported: Yes
Manufacturer: Broadcom
Transport: USB
Chipset: 20702B0
Firmware Version: v127 c9208

The problem is on this computer only, about every two pack

[2016-12-08 02:23] sandeepmistry commented on #511
@radpet ok, definitely a Bluetooth Classic device then.

You need to run an app like nRF Master Control panel to put the device into BLE peripheral mode for it to work with noble. Not sure if this will be supported by your device/Android version.

[2016-12-08 02:23] #511 closed

[2016-12-08 07:40] recursify commented on #494
Haven't heard any official word, but my bug was marked a "duplicate" of another open issue.  Unfortunately I can't see this duplicate issue since I'm not the reporter, but at least it's on their radar.

[2016-12-08 09:59] Kroltez opened #518 "npm install noble doesn't work"
I have tried a few things updateing and installing everything I could think of but it still isnt working. I get this:

[code]

A while ago I  ran it and it made a log file as well, it is not making that anymore though?

[npm-debug.log.txt](https://github.com/sandeepmistry/noble/files/639051/npm-debug.log.txt)

[2016-12-08 11:07] Kroltez commented on #518
Update: New and longer result, more errors, I tried swaping out node for nodejs as seen bellow !

`pi@raspberrypi:~ $ sudo ln -s /usr/bin/nodejs /usr/bin/node
pi@raspberrypi:~ $ npm install noble
npm WARN optional dep failed, continuing xpc-connection@0.1.4
npm WARN engine usb@1.2.0: wanted: {"node":">=0.12.x"} (current: {"node":"0.10.29","npm":"1.4.21"})

node-pre-gyp ERR! Tried to download: http

[2016-12-08 15:25] nlovrencic commented on #518
Could be problem with nodejs version, according to:
npm WARN This failure might be due to the use of legacy binary "node".

You can update your nodejs installation through nvm or n.

NVM:
https://github.com/creationix/nvm#install-script

nvm install stable

N:
`npm install n`
`n stable`

[2016-12-08 15:29] Kroltez commented on #518
Thankyou

[2016-12-08 15:29] #518 closed

[2016-12-10 23:23] dragonx commented on #494
I'm just commenting that I've been seeing similar problems, but on a different codebase (paypal/gatt) that uses com.apple.blued as the bluetooth interface.  I've noticed much higher latencies on BTLE notifications.  Also, when I kill my process, the bluetooth connection no longer terminates as it did in El Capitan.  Seems like something pretty significant changed in blued.

[2016-12-11 21:00] zeroepoch commented on #223
This problem still exists on master.  I'm using a `0b05:17cb ASUSTek Computer, Inc. Broadcom BCM20702A0 Bluetooth` adapter on my Fedora 25 desktop and as soon as I connect scanning stops.  As @Steckdoserich mentioned it does trigger the 'scanStop' event so it seems to actually be stopping the scan itself cleanly.  In that event callback I run `noble.startScanning` again and it continues to issue d

[2016-12-12 09:07] Kroltez opened #519 "noble warning: unknown peripheral"
I am using this add on : https://github.com/futomi/node-thunderboard-react

I used this code in js:

[code]

I got this output:
[code]

I tried getting at hcidump for you as you suggested to the guy on a simular issue but it wouldn't even connect to the device while this was running (it only has a maybe 75% success rate normally!) but here is that result.
Output for that is just :
[code]

any help

[2016-12-12 09:08] Kroltez commented on #519
[hcidump.txt](https://github.com/sandeepmistry/noble/files/645503/hcidump.txt)

[2016-12-13 05:30] kotobuki commented on #480
@sandeepmistry
I'm sorry for the delay. I just tried `npm install sandeepmistry/noble#connection-interval-test ` as mentioned in #514

First, I turned on the Bluefruit LE module and started running the test script as follows.

[code]

Next, I powered off the Bluefruit LE module

[code]

Then, I power on the module again and got a log as follows.

[code]

The connection seemed to be stable, since t

[2016-12-13 11:49] arunbangari commented on #403
@sandeepmistry I too have seen similar issue. If I am running a node-red-sensortag which uses noble device and then run a separate node js app which uses noble, no services are discovered. If I stop the node-red then, everything works fine.

I have noble.stopScanning before connect in my application.

If you want to investigate this further, let me know and I can provide you hci dump.
Br,Arun

[2016-12-14 10:58] Kroltez commented on #519
A few more as described

[hcidump12.12LEDWorks.txt](https://github.com/sandeepmistry/noble/files/651469/hcidump12.12LEDWorks.txt)
[hcidump14.12CombinationWorksThenFails.txt](https://github.com/sandeepmistry/noble/files/651467/hcidump14.12CombinationWorksThenFails.txt)
[hcidump14.12NoConnection.txt](https://github.com/sandeepmistry/noble/files/651470/hcidump14.12NoConnection.txt)
[hcidump11.12Orian

[2016-12-17 18:02] svaradar83 commented on #504
Thanks for pointing that out, I fixed the UUIDs in the Arduino code as well as Node.js. But it still only discovers the service but not the characteristics. Debug output attached for reference.

[Debug.txt](https://github.com/sandeepmistry/noble/files/658980/Debug.txt)

[2016-12-18 14:58] sandeepmistry commented on #494
Ok, has anyone tried the 10.12.2 beta?

@dragonx Does the same thing happen with a native CoreBluetooth app like LightBlue?